@charset "UTF-8";

@import 'vars.css';
@import 'controls.css';

/* --------------------------- section: global -------------------------------------- */
* {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    overscroll-behavior: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
}

body, button, input, select, table, textarea {
    font-size: var(--font-size-normal);
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    background: transparent
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

button, input {
    border-radius: 0;
    border: none;
}

button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button:active, button:focus {
    border: none;
    outline: none;
    background: none;
}
input:active, input:focus, input:focus-visible, input:hover, textarea:focus {
    outline: none;
    border: none;
    border-color: inherit;
    box-shadow: none;
}

ol, ul, li, dl, dt, dd {
    list-style: none;
}

address, em, i {
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset {
    border: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

img {
    vertical-align: middle;
    border: 0;
}

body, .service-page {
    overflow-x: hidden;
    overflow-y: auto;
}

.ns-content.content {
    z-index: 1000;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.attach-hidden-box {
    width: 0px !important;
    height: 0px !important;
    overflow: hidden;
    position: relative;
}

/* --------------------------- section: global -------------------------------------- */

/* --------------------------- section: main -------------------------------------- */
.page-container2, .page-container2 > .page-area {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #eef3f7;
}

.page-area .header-wrap.fixed {
    width: 100%;
    height: var(--top-header-height);
    position: fixed;
    background-color: #FAFAFA;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    z-index: 50001;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.page-area .header-wrap.fixed .logo-area {
    width: var(--page-left-width);
    height: 100%;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 235px;
}
.page-area .header-wrap.fixed .header-section {
    width: calc(100% - var(--page-left-width));
    min-width: 1280px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-area .content-wrap {
    width: 100%;
    height: calc(100% - var(--top-header-height));
    overflow: hidden;
    margin-top: var(--top-header-height);
    position: relative;
    z-index: 10001;
    display: flex;
    flex-direction: row;
}
.page-area .content-wrap .side-panel.left.fixed {
    width: var(--page-left-width);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes bottom-up {
    from {
        bottom: -120px;
    }
    to {
        bottom: 0px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* --------------------------- section: game -------------------------------------- */

/* --------------------------- section: in-content -------------------------------------- */
@keyframes top-bar-slide-down {
    from {
        top: -101px;
    }
    to {
        top: 0px;
    }
}
@keyframes bottom-bar-slide-up {
    from {
        bottom: -60px;
    }
    to {
        bottom: 0px;
    }
}

@keyframes materialRipple {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -50%) scale(var(--material-scale));
        opacity: 0;
    }
}

.ns-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
}
.ns-icon.top {
    width: 20px !important;
    height: 20px !important;
}
.ns-icon.small {
    width: 12px !important;
    height: 12px !important;
}

/* --------------------------- section: in-content -------------------------------------- */
#side-panel-area {
    display: block;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 29900;
}

#side-panel-area.hide {
    display: none;
}
#side-panel-area .side-panel-dim {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.4s;
    position: fixed;
    z-index: 0;
    cursor: pointer;
}
#side-panel-area .side-panel-dim.active {
    opacity: 1;
    transition: opacity 0.4s;
}
#side-panel-area .side-panel-content.left {
    width: var(--panel-outer-factor);
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    position: absolute;
    left: calc(var(--panel-outer-factor) * (-1));
    top: 0; bottom: 0;
    transition: left 0.4s;
}
#side-panel-area .side-panel-content.left.active {
    left: 0;
    transition: left 0.4s;
}
#side-panel-area .side-panel-content.right {
    width: var(--panel-outer-factor);
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    position: absolute;
    right: calc(var(--panel-outer-factor) * (-1));
    top: 0; bottom: 0;
    transition: right 0.4s;
}
#side-panel-area .side-panel-content.right.active {
    right: 0;
    transition: right 0.4s;
}
#side-panel-area .side-panel-content.bottom {
    width: 100%;
    height: var(--panel-outer-factor);
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    position: absolute;
    bottom: calc(var(--panel-outer-factor) * (-1));
    left: 0; right: 0;
    transition: bottom 0.4s;
}
#side-panel-area .side-panel-content.bottom.active {
    bottom: 0;
    transition: bottom 0.4s;
}

/* --------------------------- section: dialog design -------------------------------------- */
#dialog-wrap {
    position: fixed;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--text-color);
}
#dialog-wrap.active {
    display: block;
}

.neoul-dialog-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--text-color);
}
.neoul-dialog-container.active {
    display: flex;
}
.neoul-dialog-container .dialog-main {
    width: 640px;
    height: 320px;
    background: #ffffff;
    border-radius: 6px;
    box-sizing: border-box;
    /* padding: 20px; */
}
.neoul-dialog-container .dialog-main .dialog-header {
    height: 40px;
    background-color: #ffffff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #2c3566;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e9e9e9;
    padding: 0px 20px;
    z-index: 9999;
    box-sizing: border-box;
}
.neoul-dialog-container .dialog-main .dialog-header > h2 {
    font-size: var(--font-size-normal);
}
.neoul-dialog-container .dialog-main .dialog-header .dialog-close {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.neoul-dialog-container .dialog-main .dialog-content {
    width: 100%;
    height: calc(100% - 108px);
    /*border: 1px solid #dfdfdf;*/
    box-sizing: border-box;
    background-color: #f9f9f9;
    padding: 15px 30px;
}
.neoul-dialog-container .dialog-main .dialog-content .dialog-message {
    margin: auto;
    text-align: center;
    font-size: var(--font-size-normal);
    font-weight: 700;
    box-sizing: border-box;
    padding: 16px;
    color: #323232;
}
.neoul-dialog-container .dialog-main .dialog-action {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
    padding: 0px 20px;
    border-top: 1px solid #e9e9e9;
    box-sizing: border-box;
}
.neoul-dialog-container .dialog-main .dialog-action button {
    border: none;
    outline: none;
    border-radius: 18px;
    height: 36px;
    padding: 0px 16px;
    color: #ffffff;
    min-width: 120px;
    font-size: var(--font-size-normal);
    margin: 0px 8px;
}
.neoul-dialog-container .dialog-main .dialog-action button:focus,
.neoul-dialog-container .dialog-main .dialog-action button:active {
    outline: none;
    border: none;
}
.neoul-dialog-container .dialog-main .dialog-action button.btn-secondary {
    background-color: #ffffff;
    border: 1px solid var(--border-color);
    color: #323232;
}
.neoul-dialog-container .dialog-main .dialog-action button.btn-secondary:hover {
    background-color: #ffffff;
    border: 1px solid var(--border-color);
}
.neoul-dialog-container .dialog-main .dialog-action button.btn-primary {
    background-color: #6777ef;
}
.neoul-dialog-container .dialog-main .dialog-action button.btn-primary:hover {
    background-color: #5768d7;
}

.neoul-dialog-container .dialog-main.alert {
    width: 320px;
    height: 290px;
}
.wrap .neoul-dialog-container .dialog-main.app-alert {
    width: 320px;
    height: 290px;
}
.neoul-dialog-container .dialog-main.app-confirm {
    width: 320px;
    height: 290px;
}
/* 로그인창 */
.neoul-dialog-container .dialog-main.login {
    /*width: 320px;*/
    /*height: 290px;*/
    width: 480px;
    height: 520px;
}
.neoul-dialog-container .dialog-main.login > .dialog-header {
    height: 50px !important;
}
.neoul-dialog-container .dialog-main.login > .dialog-header > h2{
    font-size: 21px;
}
/* 닫기버튼 */
.neoul-dialog-container .dialog-main > .dialog-header > .icon-close{
    content: url("/assets/images/ic-close.png");
    width: 22.8px;
    height: 22.8x;
    cursor: pointer;
}
.neoul-dialog-container .dialog-main.login > .dialog-content {
    height: 260px;
    background-color: #ffffff !important;
    justify-content: flex-start !important;
}
.neoul-dialog-container .dialog-main.login > .dialog-content > .login-logo-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 35px 0;
}
.neoul-dialog-container .dialog-main.login > .dialog-content > .login-field-wrapper{
    width: 100%;
    height: 45px;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.neoul-dialog-container .dialog-main.login > .dialog-content > .login-field-wrapper > input{
    width: 320px;
    height: 45px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    outline: none;
}
.neoul-dialog-container .dialog-main.login > .dialog-content > .login-field-wrapper > input#login-user-id{
    padding: 0 10px;
}
.neoul-dialog-container .dialog-main.login > .dialog-content > .login-field-wrapper > input#login-user-password{
    padding: 0 43px 0 10px;
}
.neoul-dialog-container .dialog-main.login > .dialog-content > .login-field-wrapper > i.show-password{
    content: url("/assets/images/svgs/ic-show-password.svg");
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 60px;
    display: inline-block;
    width: 21px;
    height: 18px;
    cursor: pointer;
    transform: translateY(-50%);
}
.neoul-dialog-container .dialog-main.login > .dialog-action {
    height: 120px !important;
    border-color: #ffffff;
    flex-direction: column;
    justify-content: flex-start;
}
.neoul-dialog-container .dialog-main.login > .dialog-action > .btn-ripple {
    width: 320px;
    height: 50px;
    border: solid 1px #3869bf;
    border-radius: 4px;
}
.neoul-dialog-container .dialog-main.login > .dialog-action > .btn-ripple > span{
    font-size: 18px;
    font-weight: bold;
}
.neoul-dialog-container .dialog-main.login > .dialog-action > .find-pass-contact{
    width: 320px;
    height: 60px;
    margin: 10px 0 0;
    border-radius: 4px;
    border: solid 1px #eaeaea;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #999;
}
.neoul-dialog-container .dialog-main.login > .dialog-action > .find-pass-contact > em{
    color : #000;
    font-size: 14px;
}
.neoul-dialog-container .dialog-main.alert .dialog-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap .neoul-dialog-container .dialog-main.login .dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.neoul-dialog-container .dialog-main.app-alert .dialog-content,
.neoul-dialog-container .dialog-main.app-confirm .dialog-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.neoul-dialog-container .dialog-main.app-alert .dialog-header,
.neoul-dialog-container .dialog-main.app-confirm .dialog-header,
.neoul-dialog-container .dialog-main.login .dialog-header {
    position: relative;
}

.neoul-dialog-container .dialog-main.memo {
    width:  500px;
    height: 500px;
}
.neoul-dialog-container .dialog-main.memo  > .dialog-header > span{
    font-size: 13px;
}
.neoul-dialog-container .dialog-main.memo .memo-title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-radius: 4px;
}
.neoul-dialog-container .dialog-main.memo .memo-title > span{
    font-size: 18px;
    margin: 0 20px;
}
.neoul-dialog-container .dialog-main.memo .memo-content{
    width: calc(100% - 40px);
    height: 257px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 20px;
    padding: 20px;
}
.neoul-dialog-container .dialog-main.memo .memo-content > span{
    font-size: 15px;
    margin: 0 10px;
}
/* --------------------------- section: dialog design -------------------------------------- */