.ns-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px 2px transparent;
    border: solid 0px transparent;
}

.ns-scrollbar::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.ns-scrollbar::-webkit-scrollbar-thumb {
    /*box-shadow: inset 0 0 2px 2px rgba(235, 63, 10, 0.4);*/
    box-shadow: inset 0 0 2px 2px rgba(246, 246, 246, 1);
    border: solid 0px transparent;
    border-radius: 2px;
}

.ns-scrollbar-none::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px 2px transparent;
    border: solid 0px transparent;
    display: none;
}

.ns-scrollbar-none::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
    display: none;
}

.ns-scrollbar-none::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 2px 2px rgba(235, 63, 10, 0.4);
    border: solid 0px transparent;
    border-radius: 2px;
    display: none;
}

.ns-scrollbar-none::-webkit-scrollbar-button,
.ns-scrollbar::-webkit-scrollbar-button {
    display: none;
}
