@charset "UTF-8";


/* 버튼 */
.panel-form-btn-box{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-form-btn-box > .btn{
    padding: 10px 14px 10px;
    border-radius: 5px !important;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid var(--main-color);
    box-sizing: border-box;
}

.panel-form-btn-box > .btn-submit{
    background-color: var(--main-color) !important;
    color: #fff !important;
}

.panel-form-btn-box > .btn-preview,
.panel-form-btn-box > .btn-back{
    background-color: #fff !important;
    color: var(--main-color) !important;
    margin-right: 10px;
}

.text-form-style{
    width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.text-form-style .form-label,
.text-form-style-group .form-label{
    font-size: 15px;
    color: #000;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    white-space: nowrap;
}
.text-form-style .form-label > .require,
.text-form-style-group .form-label > .require{
    color: #e02222;
    font-size: 12px;
    padding-left: 2px;
}
.text-form-style .form-box{
    width: 100%;
}

.text-form-style.category .form-box,
.text-form-style.title .form-box,
.text-form-style.tag .form-box,
.text-form-style.date .form-box,
.text-form-style.id .form-box,
.text-form-style.password .form-box,
.text-form-style.name .form-box,
.text-form-style.e-mail .form-box,
.text-form-style.phone-number .form-box,
.text-form-style.search-target .form-box,
.text-form-style.video-link .form-box {
    width: 100%;
    height: 43px;
    border: 1px solid #d2d6de;
    border-radius: 5px;
}
.text-form-style.category .form-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-form-style.reservation-delivery > .form-box-wrap{
    margin-top: 10px;
}
.text-form-style.reservation-delivery > .form-box-wrap > .form-box{
    width: calc(100%/2 - 10px);
    height: 43px;
    border: 1px solid #d2d6de;
    border-radius: 5px;
}
.text-form-style.reservation-delivery > .form-box-wrap > .form-box:first-child{
    margin-right: 20px;
}
.text-form-style .form-box input{
    width: calc(100% - 34px);
    height: 100%;
    display: block;
    margin: 0 auto;
}
.text-form-style.search-target .form-box {
    border: 1px solid #d2d6de;
    border-radius: 5px;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-form-style.search-target.disabled .form-box {
    background-color: #d2d6de;
}
.text-form-style.search-target .form-box input{
    width: calc(100% - 14px) !important;
}

.text-form-style.reservation-delivery.disabled > .form-box-wrap > .form-box{
    background-color: #d2d6de;
}
.text-form-style .form-box select{
    width: calc(100% - 47px);
    height: 100%;
    display: block;
    border: none;
    outline: none;
}
.text-form-style .form-box.radio.horizontal{
    display: flex;
    align-items: center;
}
.text-form-style .form-box .form-item{
    display: flex;
    align-items: center;
}
.text-form-style .form-box.radio.horizontal .form-item:not(:last-child){
    margin-right: 30px;
}
.text-form-style .form-box.radio .form-item span,
.text-form-style .form-box.check .form-item span{
    margin-left: 10px;
}
.text-form-style .form-box.radio label.radio-label{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    border: 1px solid #c7cdd3;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
}
.text-form-style .form-box.radio input[type='radio'],
.text-form-style .form-box.check input[type='checkbox']{
    display: none;
}
.text-form-style .form-box.radio .form-item.checked input[type='radio']:checked + label.radio-label,
.text-form-style .form-box.check input[type='checkbox']:checked + label.check-label{
    border-color: var(--main-color);
    background-color: var(--main-color);
}
.text-form-style .form-box.check label.check-label{
    width: 12px;
    height: 12px;
    border-radius: 2px;
    border: 1px solid #c7cdd3;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
}
.img-file-add-box{
    width: 700px;
    height: 120px;
    background-color: #EAEDF3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img-file-add-box > .btn-add-img{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 10px;
}
.img-file-add-box > .btn-add-img > .icon-plus{
    width: 30px;
    height: 30px;
    margin: 10px auto 0;
    position: relative;
}
.img-file-add-box > .btn-add-img > .icon-plus:before{
    content: "";
    width: 4px;
    height: 30px;
    border-radius: 5px;
    background-color: #caced5;
    display: block;
    position: absolute;
    left: 13px;
}
.img-file-add-box > .btn-add-img > .icon-plus:after{
    content: "";
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background-color: #caced5;
    display: block;
    position: absolute;
    top: 13px;
}
.img-file-add-box > .btn-add-img > .btn-name{
    display: block;
    margin-top: 10px;
}
.img-file-add-box > .btn-add-img > .btn-name > em.cnt{
    margin-left: 5px;
}
.img-file-add-box > .img-file-wrap{
    width: 570px;
    height: 120px;
    margin-right: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
}
.img-file-add-box > .img-file-wrap > .img-file-list{
    width: 1000px;
    height: 100px;
    display: flex;
}

.img-file-add-box > .img-file-wrap > .img-file-list > .img-item{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.img-file-add-box > .img-file-wrap > .img-file-list > .img-item:not(:last-child){
    margin-right: 10px;
}
.img-file-add-box > .img-file-wrap > .img-file-list > .img-item > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hashTage-wrap{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.tag-wrap{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom:10px;
}
.keyword-tag{
    height: 29px;
    padding: 3px 15px;
    display: inline-block;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    box-sizing: border-box;
    color: var(--main-color);
    font-size: 14px;
    white-space: nowrap;
}
.hashTage-wrap .tag-wrap i{
    color: #fff;
    font-size: 10px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border: 1px solid #fc544b;
    border-radius: 100%;
    text-align: center;
    background: #fc544b;
    margin-left: 5px;
    cursor: pointer;
}

/* 메모등록폼 */
.panel-body.memo-form{
    width: 100%;
    height: calc(100% - 268px);
    overflow-y: auto;
    overflow-x: hidden;
    margin: 50px 0;
}

/* 콘텐츠등록폼 */
.panel-body.contents-form{
    width: 100%;
    height: calc(100% - 268px);
    overflow-y: auto;
    overflow-x: hidden;
    margin: 50px 0;
}
#dtx-contents .text-form-style.img{
    display: flex;
}
#dtx-contents .text-form-style.radio.horizontal{
    display: flex;
    align-items: center;
}
#dtx-contents .text-form-style.radio.horizontal .form-box{
    height: 23px;
    margin-bottom: 10px;
    margin-left: 30px;
}

#dtx-contents .text-form-style.contents-provide .form-box-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#dtx-contents .text-form-style.contents-provide .form-box-wrap > .form-box{
    width: calc(100%/3 - 20px);
    height: 43px;
    border: 1px solid #d2d6de;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dtx-contents .text-form-style.contents-thumbnail.hide{
    display: none;
}
#dtx-contents .text-form-style.contents-thumbnail > img{
    width: calc(100% - 300px);
    height: auto;
    margin: 0 auto;
}
#dtx-contents .text-form-style-group{
    width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#dtx-contents .text-form-style-group .group{
    padding: 20px 20px 0;
    border: 1px dotted #d2d6de;
    border-radius: 5px;
}
#dtx-contents .text-form-style-group .group .form-label{
    width: 50px !important;
    font-size: 14px;
}
#dtx-contents .text-form-style-group .group .form-box{
    width: calc(100% - 103px);
}
    /*관리자등록폼*/
.panel-body.admin-form{
    width: 100%;
    height: calc(100% - 268px);
    overflow-y: auto;
    overflow-x: hidden;
    margin: 50px 0;
}
/*푸시등록폼*/
.panel-body.push-form{
    width: 100%;
    height: calc(100% - 268px);
    overflow-y: auto;
    overflow-x: hidden;
    margin: 50px 0;
}
