<?xml version="1.0" encoding="UTF-8"?>
<!-- Valid 한 설정 xml을 만들기 위해 DTD를 추가해 줍니다. -->
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- db 접속과 관련된 설정값을 가지고 있는 파일 지정 -->
	<properties resource="properties/db.properties" />

	<!-- VO 클래스에 대한 alias 설정 -->
	<typeAliases>
		<typeAlias alias="AcademyVO" type="com.neoulsoft.education.vo.AcademyVO" />
		<typeAlias alias="UserVO" type="com.neoulsoft.education.vo.UserVO" />
		<typeAlias alias="SubjectVO" type="com.neoulsoft.education.vo.SubjectVO" />
		<typeAlias alias="TargetVO" type="com.neoulsoft.education.vo.TargetVO" />
		<typeAlias alias="AuthVO" type="com.neoulsoft.education.vo.AuthVO" />
		<typeAlias alias="SearchVO" type="com.neoulsoft.education.vo.SearchVO" />
		<typeAlias alias="TeacherVO" type="com.neoulsoft.education.vo.TeacherVO" />
		<typeAlias alias="StudentVO" type="com.neoulsoft.education.vo.StudentVO" />
		<typeAlias alias="LectureVO" type="com.neoulsoft.education.vo.LectureVO" />
		<typeAlias alias="ClassVO" type="com.neoulsoft.education.vo.ClassVO" />
		<typeAlias alias="QuestionVO" type="com.neoulsoft.education.vo.QuestionVO" />
		<typeAlias alias="NoticeVO" type="com.neoulsoft.education.vo.NoticeVO" />
		<typeAlias alias="QnaVO" type="com.neoulsoft.education.vo.QnaVO" />
		<typeAlias alias="InquiryVO" type="com.neoulsoft.education.vo.InquiryVO" />
		
		
		
		
		<typeAlias alias="FileVO" type="com.neoulsoft.education.vo.FileVO" />
	</typeAliases>

	<!-- DB Connection 을 위한 정보, ${} 내의 값들은 위의 properties 에서 선언된 값들 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${jdbc.username}"/>
				<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
	</environments>

	<!-- mapper .xmp 파일 정의 - 실제 SQL Query 가 선언되어 있는 부분 -->
	<mappers>
		<mapper resource="mybatis/sql/Academy-mapper.xml"/>
		<mapper resource="mybatis/sql/User-mapper.xml"/>
		<mapper resource="mybatis/sql/Lecture-mapper.xml"/>
		<mapper resource="mybatis/sql/Class-mapper.xml"/>
		<mapper resource="mybatis/sql/Question-mapper.xml"/>
		<mapper resource="mybatis/sql/Notice-mapper.xml"/>
		<mapper resource="mybatis/sql/Qna-mapper.xml"/>
		<mapper resource="mybatis/sql/File-mapper.xml"/>
		<mapper resource="mybatis/sql/Inquiry-mapper.xml"/>
	</mappers>
</configuration>