@charset "utf-8";


.rankingList {
	padding-top:146px;
}

.rankingListItem {
	width:100%;
	height:50px;
	background-color:white;
	border-bottom:1px solid #F6F6F6;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:8px 0;
}

.rankingListItem.atMe {
	background-color:#FFEBF1;
}


.rankingLeftArea{
	display:flex;
	align-items:center;
	justify-content:center;
}

.rankingNo {
	width:50px;
	padding:8px 8px 8px 18px;
	text-align:center;
}

.rankingProfile{
	width:50px;
	padding:8px;
}

.rankingPoint {
	padding:8px;
	text-align:right;
	margin-right:10px;
}

.rankingName {
	min-width:150px;
	font-size:16px;
	color:black;
	padding:8px;
}

.rankerArea {
	position:fixed;
	width:100%;
	height:50px;
	background-color:white;
	border-bottom:1px solid #F6F6F6;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	padding:8px 0;
	border-top: 1px solid #F6F6F6;
	top:80px;
}

.btn-ranker {
	background-color:#F6F6F6;border-radius:20px;margin-right:8px;padding:3px 10px;
}

.icon-ranker {
	width:24px;
	height:24px;
	margin-right:20px;
}

.rankingList.ranker-area {
	padding-top:80px;
}

.rankingList.ranker-area .rankingNo{
	width:40px;
}

.no-ranker {
	font-size:16px;
	height:calc(100vh - 100px);
	text-align:center;
	display: flex;
    align-items: center;
    justify-content: center;
}
