<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="bbs" >

	<insert id="insertBbs" parameterType="BbsDataVO">
		INSERT INTO TB_BBS_DATA (
			PID, GID, ContentDT, Ptitle, Title, ContentLink, Description, ImgUrl, ImgUrl2, Duration, NextContentDT, PrevContentDT
		) VALUES (
			#{PID}, #{GID}, #{ContentDT}, #{Ptitle}, #{Title}, #{ContentLink}, #{Description}, #{ImgUrl}, #{ImgUrl2}, #{Duration}, #{NextContentDT}, #{PrevContentDT}
		)
	</insert>
	
	<delete id="deleteBSession" parameterType="BbsDataVO">
		<![CDATA[
		delete from TB_BBS_SESSION
		]]>
	</delete>
	
	<delete id="deleteCSession" parameterType="BbsDataVO">
		<![CDATA[
		delete from TB_CATHOLIC_SESSION
		]]>
	</delete>
	
	<delete id="deleteGSession" parameterType="BbsDataVO">
		<![CDATA[
		delete from TB_GOODTV_SESSION
		]]>
	</delete>
	
	<delete id="deleteDSession" parameterType="BbsDataVO">
		<![CDATA[
		delete from TB_DRAMA_SESSION
		]]>
	</delete>
	
	<delete id="deleteBbs" parameterType="BbsDataVO">
		DELETE FROM TB_BBS_DATA
	</delete>
	
	<delete id="deleteGoodtv" parameterType="BbsDataVO">
		DELETE FROM TB_GOODTV_DATA
	</delete>
	
	<select id="selectBbsDataListByPID" parameterType="BbsDataVO" resultType="BbsDataVO">
		SELECT * FROM TB_BBS_DATA
		 WHERE Ptitle = #{Ptitle}
		 ORDER BY BBSID
	</select>
	
	<select id="selectBbsDataListByGID" parameterType="BbsDataVO" resultType="BbsDataVO">
		SELECT * FROM TB_BBS_DATA
		 WHERE Title = #{Title}
		 ORDER BY BBSID
		 LIMIT 1
	</select>
	
	<select id="selectBbsDataListTotalCount" parameterType="BbsDataVO" resultType="BbsDataVO">
		SELECT * FROM TB_BBS_DATA
		 ORDER BY BBSID
	</select>
	
	
	<insert id="insertBbsSession" parameterType="BbsDataVO">
		insert into TB_BBS_SESSION (token, url, offset, createDate, contentFrom, contentTo, urlCount) values (#{token}, #{url}, 0, NOW(), #{contentFrom}, #{contentTo}, #{urlCount}) on duplicate key update url = #{url}, offset = 0, createDate = NOW(), contentFrom = #{contentFrom}, contentTo = #{contentTo}, urlCount = #{urlCount}
	</insert>
	
	<insert id="insertGoodtvSession" parameterType="GoodtvVO">
		insert into TB_GOODTV_SESSION (
			token, 
			url, 
			offset, 
			createDate, 
			titleFrom, 
			titleTo, 
			chapterFrom,
			chapterTo,
			title,
			chapter
		) values (
			#{token}, 
			#{url}, 
			0, 
			NOW(), 
			#{titleFrom}, 
			#{titleTo}, 
			#{chapterFrom},
			#{chapterTo},
			#{title},
			#{chapter}
		) on duplicate key update url = #{url}, offset = 0, createDate = NOW(), titleFrom = #{titleFrom}, titleTo = #{titleTo}, chapterFrom = #{chapterFrom}, chapterTo = #{chapterTo}, title = #{title}, chapter = #{chapter}
	</insert>
	
	<insert id="insertDramaSession" parameterType="DramaVO">
		insert into TB_DRAMA_SESSION (
			token, 
			url, 
			offset, 
			createDate, 
			titleFrom, 
			titleTo, 
			chapterFrom,
			chapterTo,
			verseFrom,
			verseTo,
			title,
			chapter,
			verse
		) values (
			#{token}, 
			#{url}, 
			#{offset}, 
			NOW(), 
			#{titleFrom}, 
			#{titleTo}, 
			#{chapterFrom},
			#{chapterTo},
			#{verseFrom},
			#{verseTo},
			#{title},
			#{chapter},
			#{verse}
		) on duplicate key update url = #{url}, offset = #{offset}, createDate = NOW(), titleFrom = #{titleFrom}, titleTo = #{titleTo}, chapterFrom = #{chapterFrom}, chapterTo = #{chapterTo}, verseFrom = #{verseFrom}, verseTo = #{verseTo},  title = #{title}, chapter = #{chapter}, verse = #{verse}
	</insert>
	
	<select id="selectGoodtvSession" parameterType="GoodtvVO" resultType="GoodtvVO">
		select * from TB_GOODTV_SESSION where token = #{token}
	</select>
	
	<select id="selectDramaSession" parameterType="DramaVO" resultType="DramaVO">
		select * from TB_DRAMA_SESSION where token = #{token}
	</select>
	
	<insert id="insertMaeilSession" parameterType="MaeilVO">
		insert into TB_BBS_SESSION (token, url, offset, createDate, contentFrom, contentTo, urlCount) values (#{token}, #{url}, 0, NOW(), #{contentFrom}, #{contentTo}, #{urlCount}) on duplicate key update url = #{url}, offset = 0, createDate = NOW(), contentFrom = #{contentFrom}, contentTo = #{contentTo}, urlCount = #{urlCount}
	</insert>
	
	<insert id="insertMissaSession" parameterType="MissaVO">
		insert into TB_BBS_SESSION (token, url, offset, createDate, contentFrom, contentTo, urlCount) values (#{token}, #{url}, 0, NOW(), #{contentFrom}, #{contentTo}, #{urlCount}) on duplicate key update url = #{url}, offset = 0, createDate = NOW(), contentFrom = #{contentFrom}, contentTo = #{contentTo}, urlCount = #{urlCount}
	</insert>
	
	<insert id="insertDivineSession" parameterType="DivineVO">
		insert into TB_BBS_SESSION (token, url, offset, createDate, contentFrom, contentTo, urlCount) values (#{token}, #{url}, 0, NOW(), #{contentFrom}, #{contentTo}, #{urlCount}) on duplicate key update url = #{url}, offset = 0, createDate = NOW(), contentFrom = #{contentFrom}, contentTo = #{contentTo}, urlCount = #{urlCount}
	</insert>
	
	<insert id="insertCatholicBibleSession" parameterType="CatholicBibleVO">
		insert into TB_CATHOLIC_SESSION (
				token
			  , url
			  , offset
			  , createDate
			  , b_fgubun
			  , b_fkwon
			  , b_fjang
			  , b_fjeol
			  , b_tgubun
			  , b_tkwon
			  , b_tjang
			  , b_tjeol
			  , prevData
			  , nowData
			  , nextData
			  , type
		) values (
			    #{token}
			  , #{url}
			  , 0
			  , NOW()
			  , #{b_fgubun}
			  , #{b_fkwon}
			  , #{b_fjang}
			  , #{b_fjeol}
			  , #{b_tgubun}
			  , #{b_tkwon}
			  , #{b_tjang}
			  , #{b_tjeol}
			  , #{prevData}
			  , #{nowData}
			  , #{nextData}
			  , #{type}
			  ) 
			  on duplicate key 
			  update url = #{url}
			  , offset = 0
			  , createDate = NOW()
			  , prevData = #{prevData}
			  , nowData = #{nowData}
			  , nextData = #{nextData}
	</insert>
	
	<update id="updateCatholicBibleEnd" parameterType="CatholicBibleVO">
		update TB_CATHOLIC_SESSION set isEnd = 'T' where token = #{token}
	</update>
	
	<insert id="insertGoodtv" parameterType="GoodtvDataVO">
		INSERT INTO TB_GOODTV_DATA (
			chr_code, title, mp3_url, srmn_date, sermon_week
		) VALUES (
			#{chr_code}, #{title}, #{mp3_url}, #{srmn_date}, #{sermon_week}
		)
	</insert>
	
	<update id="pauseBbs" parameterType="BbsDataVO">
		update TB_BBS_SESSION set offset = #{offset} where token = #{token}
	</update>
	
	<update id="pauseCatholicBible" parameterType="CatholicBibleVO">
		update TB_CATHOLIC_SESSION set offset = #{offset} where token = #{token}
	</update>
	
	
	<update id="pauseGoodtv" parameterType="GoodtvVO">
		update TB_GOODTV_SESSION set offset = #{offset} where token = #{token}
	</update>
	
	<update id="pauseDrama" parameterType="DramaVO">
		update TB_DRAMA_SESSION set offset = #{offset} where token = #{token}
	</update>
	
	<update id="repeatBbs" parameterType="BbsDataVO">
		update TB_BBS_SESSION set status = #{status} where token = #{token}
	</update>
	
	<update id="repeatCatholicBible" parameterType="BbsDataVO">
		update TB_CATHOLIC_SESSION set status = #{status} where token = #{token}
	</update>
	
	<update id="repeatGoodtv" parameterType="GoodtvVO">
		update TB_GOODTV_SESSION set status = #{status} where token = #{token}
	</update>
	
	<update id="repeatDrama" parameterType="DramaVO">
		update TB_DRAMA_SESSION set status = #{status} where token = #{token}
	</update>
	
	<update id="cancelRepeat" parameterType="BbsDataVO">
		update TB_BBS_SESSION set status = '' where token = #{token}
	</update>
	
	<update id="cancelRepeatGoodtv" parameterType="GoodtvVO">
		update TB_GOODTV_SESSION set status = '' where token = #{token}
	</update>
	
	<update id="cancelRepeatDrama" parameterType="DramaVO">
		update TB_DRAMA_SESSION set status = '' where token = #{token}
	</update>
	
	<update id="updateUrlCount" parameterType="BbsDataVO">
		update TB_BBS_SESSION set urlCount = #{urlCount} where token = #{token}
	</update>
	
	<select id="resumeBbs" parameterType="BbsDataVO" resultType="BbsDataVO">
		select * from TB_BBS_SESSION where token = #{token}
	</select>
	
	<select id="resumeBbsList" parameterType="BbsDataVO" resultType="BbsDataVO">
		select * from TB_BBS_SESSION ORDER BY createDate
	</select>
	
	<select id="selectCatholicSession" parameterType="CatholicBibleVO" resultType="CatholicBibleVO">
		select * from TB_CATHOLIC_SESSION where token = #{token}
	</select>
	
	<select id="selectGoodtvBibleList" parameterType="GoodtvVO" resultType="GoodtvVO">
		SELECT * FROM TB_BIBLE_DATA
		 WHERE 1=1
		 <if test="bible_title != null and bible_title != ''">
         	AND bible_title = replace(#{bible_title}, ' ', '')
        </if>
	</select>
	
	<select id="selectDramaBible" parameterType="DramaVO" resultType="DramaVO">
		SELECT * FROM TB_BIBLE_DATA
		 WHERE bible_title = replace(#{bible_title}, ' ', '')
	</select>
	
	<select id="selectGoodtvBible" parameterType="GoodtvVO" resultType="GoodtvVO">
		SELECT * FROM TB_BIBLE_DATA
		 WHERE bible_title = replace(#{bible_title}, ' ', '')
	</select>
	
	<select id="selectGoodtvBibleDetail" parameterType="GoodtvVO" resultType="GoodtvVO">
		SELECT * FROM TB_BIBLE_DATA
		 WHERE BIBLE_ID = #{bible_id}
	</select>
	
	<select id="selectDramaBibleDetail" parameterType="DramaVO" resultType="DramaVO">
		SELECT * FROM TB_BIBLE_DATA
		 WHERE BIBLE_ID = #{bible_id}
	</select>
	
	<select id="selectGoodtvBibleVersionList" parameterType="GoodtvVO" resultType="GoodtvVO">
		SELECT * FROM TB_BIBLE_DATA
		 WHERE 1=1
		 <if test="bible_type != null and bible_type != ''">
         	AND bible_type = #{bible_type}
        </if>
        ORDER BY BIBLE_ID
	</select>
	
	<select id="selectDramaVersionList" parameterType="DramaVO" resultType="DramaVO">
		SELECT * FROM TB_BIBLE_DATA
		 WHERE 1=1
		 <if test="bible_type != null and bible_type != ''">
         	AND bible_type = #{bible_type}
        </if>
        ORDER BY BIBLE_ID
	</select>
	
	<select id="selectSermonCodeList" parameterType="SermonVO" resultType="SermonVO">
		SELECT * 
		  FROM TB_SERMON_DATA
		 WHERE 1=1
		 <if test="sermon_pastor != null and sermon_pastor != ''">
         	AND SERMON_PASTOR = #{sermon_pastor}
        </if>
        <if test="sermon_church != null and sermon_church != ''">
         	AND SERMON_CHURCH = #{sermon_church}
        </if>
	</select>
	
	<select id="selectSermonCodeListByPastor" parameterType="SermonVO" resultType="SermonVO">
		SELECT * 
		  FROM TB_SERMON_DATA
		 WHERE 1=1
		 <if test="sermon_pastor != null and sermon_pastor != ''">
         	AND SERMON_PASTOR = #{sermon_pastor}
        </if>
	</select>
	
	
	<select id="selectSermonCodeListBychurch" parameterType="SermonVO" resultType="SermonVO">
		SELECT * 
		  FROM TB_SERMON_DATA
		 WHERE 1=1
        <if test="sermon_church != null and sermon_church != ''">
         	AND SERMON_CHURCH = #{sermon_church}
        </if>
	</select>
	
	<select id="selectGoodtvSermonList" parameterType="GoodtvDataVO" resultType="GoodtvDataVO">
		SELECT * 
		  FROM TB_GOODTV_DATA
		 WHERE mp3_url LIKE CONCAT('%',#{sermon_code},'%')
		 <if test="srmn_date != null and srmn_date != ''">
        	AND srmn_date LIKE CONCAT('%', #{srmn_date}, '%')
        </if>
        <if test="sermon_week != null and sermon_week != ''">
        	AND sermon_week LIKE CONCAT('%', #{sermon_week}, '%')
        </if>
        <if test="srmn_yy != null and srmn_yy != ''">
        	AND SUBSTRING(srmn_date,1,4) LIKE CONCAT('%', #{srmn_yy}, '%')
        </if>
        <if test="srmn_mm != null and srmn_mm != ''">
        	AND SUBSTRING(srmn_date,5,2) LIKE CONCAT('%', #{srmn_mm}, '%')
        </if>
        <if test="srmn_dd != null and srmn_dd != ''">
        	AND SUBSTRING(srmn_date,7,2) LIKE CONCAT('%', #{srmn_dd}, '%')
        </if>
		 ORDER BY srmn_date DESC
	</select>
	
	<select id="selectGoodtvSermonDetail" parameterType="GoodtvDataVO" resultType="GoodtvDataVO">
		SELECT * 
		  FROM TB_GOODTV_DATA
		 WHERE mp3_url = #{mp3_url}
	</select>
	
	<select id="selectSermonCode" parameterType="SermonVO" resultType="SermonVO">
		SELECT * 
		  FROM TB_SERMON_DATA
		 WHERE SERMON_ID = #{sermon_id}
	</select>
	
	<select id="selectServerStatus" resultType="ServerVO">
		SELECT * FROM TB_SERVER_STATUS ORDER BY updateDate DESC LIMIT 1;
	</select>
	
	<insert id="insertStatus" parameterType="ServerVO">
		INSERT INTO TB_SERVER_STATUS (
			serverStatus, updateDate
		) VALUES (
			#{serverStatus}, NOW()
		)
	</insert>
</mapper>