<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="qna" >

	<insert id="insertQna" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="qna_id">
		INSERT INTO TB_QNA (
		  	lecture_id
		  , teacher_id
		  , student_id
		  , qna_title
		  , qna_contents
		  , qna_answer
		  , qna_file
		  , updt_date
		  , regi_date
		) VALUES (
		   #{lecture_id}
		  , #{teacher_id}
		  , #{student_id}
		  , #{qna_title}
		  , #{qna_contents}
		  , #{qna_answer}
		  , #{qna_file}
		  , NOW()
		  , NOW()
		)
	</insert>
	
	<update id="updateQna" parameterType="QnaVO">
		UPDATE TB_QNA 
		   SET updt_date = NOW()
		   	<if test="qna_title != null and qna_title != ''">
		   	 , qna_title = #{qna_title}
		   	</if>
		   	<if test="qna_contents != null and qna_contents != ''">
		     , qna_contents = #{qna_contents}
		    </if>
		    <if test="qna_answer != null and qna_answer != ''">
		     , qna_answer = #{qna_answer}
		    </if>
		    <if test="qna_file != null and qna_file != ''">
		     , qna_file = #{qna_file}
		    </if>
		    <if test="qna_answer_file != null and qna_answer_file != ''">
		     , qna_answer_file = #{qna_answer_file}
		    </if>
		 WHERE qna_id = #{qna_id}
	</update>
	
	<delete id="deleteQna" parameterType="QnaVO">
		<![CDATA[
		DELETE FROM TB_QNA
		 WHERE qna_id = #{qna_id}
		]]>
	</delete>
	
	<select id="selectQnaList" parameterType="QnaVO" resultType="QnaVO">
		SELECT A.* 
			 , (select B.lecture_name from TB_LECTURE B WHERE A.lecture_id = B.lecture_id) AS lecture_name  
		  FROM TB_QNA A
		 WHERE 1=1
		 <if test="lecture_id != null and lecture_id != ''">
		   AND lecture_id = #{lecture_id}
		 </if>
		 <if test="teacher_id != null and teacher_id != ''">
		   AND teacher_id = #{teacher_id}
		 </if>
		 <if test="student_id != null and student_id != ''">
		   AND student_id = #{student_id}
		 </if>
		 ORDER BY qna_id
		 LIMIT #{record_count} OFFSET #{first_index}
	</select>
	
	<select id="selectQnaListTotalCount" parameterType="QnaVO" resultType="Integer">
		SELECT COUNT(*) 
		  FROM TB_QNA
		 WHERE 1=1
		 <if test="lecture_id != null and lecture_id != ''">
		   AND lecture_id = #{lecture_id}
		 </if>
		 <if test="teacher_id != null and teacher_id != ''">
		   AND teacher_id = #{teacher_id}
		 </if>
		 <if test="student_id != null and student_id != ''">
		   AND student_id = #{student_id}
		 </if>
	</select>
</mapper>