<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="user" >

	<insert id="insertUser" parameterType="UserVO" useGeneratedKeys="true" keyProperty="user_id">
		INSERT INTO TB_USER (
			user_id
		  , user_name
		  , user_grade
		  , user_password
		  , academy_id
		  , user_email
		  , updt_date
		  , regi_date
		) VALUES (
			#{user_id}
		  , #{user_name}
		  , #{user_grade}
		  , #{user_password}
		  , #{academy_id}
		  , #{user_email}
		  , NOW()
		  , NOW()
		)
	</insert>
	
	<update id="updateUser" parameterType="UserVO">
		UPDATE TB_USER
		   SET user_name = #{user_name}
		   	 , user_email = #{user_email}
	        <if test="user_password != null and user_password != ''">
	         , user_password = #{user_password}
	        </if>
	        <if test="auth_group_id != null and auth_group_id != ''">
	         , auth_group_id = #{auth_group_id}
	        </if>
	        <if test="user_first_login != null and user_first_login != ''">
	         , user_first_login = #{user_first_login}
	        </if>
		     , updt_date = NOW()
		 WHERE user_id = #{user_id}
		   AND academy_id = #{academy_id}
	</update>
	
	<update id="updateUserInfo" parameterType="UserVO">
		UPDATE TB_USER
		   SET updt_date = NOW()
		   	<if test="user_name != null and user_name != ''">
		   	 , user_name = #{user_name}
		   	</if>
	        <if test="user_password != null and user_password != ''">
	         , user_password = #{user_password}
	        </if>
	        <if test="user_profile != null and user_profile != ''">
	         , user_profile = #{user_profile}
	        </if>
		 WHERE user_id = #{user_id}
		   AND academy_id = #{academy_id}
	</update>
	
	<update id="updateToken" parameterType="UserVO">
		UPDATE TB_USER
		   SET login_token = #{login_token}
		 WHERE user_id = #{user_id}
		   AND academy_id = #{academy_id}
	</update>
	
	<update id="deleteUser" parameterType="UserVO">
		<![CDATA[
		UPDATE TB_USER
		   SET delete_yn = #{delete_yn}
		 WHERE user_id = #{user_id}
		   AND academy_id = #{academy_id}
		]]>
	</update>
	
	<select id="selectUserList" parameterType="UserVO" resultType="UserVO">
		SELECT user_id
			 , user_name
			 , user_grade
			 , academy_id
			 , user_email
			 , user_first_login
			 , updt_date
			 , regi_date
			 , auth_group_id
			 , user_profile
			 , delete_yn
		  FROM TB_USER
		 WHERE 1=1
		 <if test="academy_id != null and academy_id != ''">
	       AND academy_id = #{academy_id}
	      </if>
	      <if test="delete_yn != null and delete_yn != ''">
	       AND delete_yn = #{delete_yn}
	      </if>
	     <if test="user_grade != null and user_grade != ''">
	       AND user_grade = #{user_grade}
	      </if>
		 ORDER BY regi_date DESC
	</select>
	
	<select id="selectUserListTotalCount" parameterType="UserVO" resultType="Integer">
		SELECT COUNT(*) 
		  FROM TB_USER
		 WHERE academy_id = #{academy_id}
		 <if test="delete_yn != null and delete_yn != ''">
	       AND delete_yn = #{delete_yn}
	      </if>
	</select>
	
	<select id="selectUserDetail" parameterType="UserVO" resultType="UserVO">
		SELECT user_id
			 , user_name
			 , user_grade
			 , academy_id
			 , user_email
			 , user_first_login
			 , updt_date
			 , regi_date
			 , auth_group_id
			 , user_profile
		  FROM TB_USER
		 WHERE user_id = #{user_id}
		   <if test="academy_id != null and academy_id != ''">
	       AND academy_id = #{academy_id}
	      </if>
		   <if test="user_grade != null and user_grade != ''">
	       AND user_grade = #{user_grade}
	      </if>
	</select>
	
	<select id="actionLogin" parameterType="UserVO" resultType="UserVO">
		SELECT A.user_id
			 , A.user_name
			 , A.user_grade
			 , A.academy_id
			 , A.user_email
			 , A.user_first_login
			 , A.updt_date
			 , A.regi_date
			 , A.auth_group_id
			 , A.user_profile
		  FROM TB_USER A, TB_ACADEMY B
		 WHERE A.academy_id = B.academy_id
		   AND A.user_id = #{user_id}
		   AND A.academy_id = #{academy_id}
		   AND A.user_password = #{user_password}
		   AND B.academy_id = #{academy_id}
		   AND B.delete_yn = 'N'
	</select>
	
	<select id="checkLogin" parameterType="String" resultType="UserVO">
		SELECT user_id
			 , user_name
			 , user_grade
			 , academy_id
			 , user_email
			 , user_first_login
			 , updt_date
			 , regi_date
			 , auth_group_id
		  FROM TB_USER
		 WHERE login_token = #{token}
	</select>
	
	<select id="selectAuthGroupList" parameterType="AuthVO" resultType="AuthVO">
		SELECT *
		  FROM TB_AUTH_GROUP
		 WHERE 1=1
		  <if test="academy_id != null and academy_id != ''">
	       AND academy_id = #{academy_id}
	      </if>
	</select>
	
	<select id="selectAuthGroupDetail" parameterType="AuthVO" resultType="AuthVO">
		SELECT *
		  FROM TB_AUTH_GROUP
		 WHERE auth_group_id = #{auth_group_id}
	</select>
	
	<select id="selectUserAuthList" parameterType="AuthVO" resultType="AuthVO">
		SELECT *
		  FROM TB_AUTH_DETAIL
		 WHERE auth_group_id = #{auth_group_id}
		 ORDER BY auth_group_id, auth_id
	</select>
	
	<select id="selectAdminUserDetail" parameterType="UserVO" resultType="UserVO">
		SELECT *
		  FROM TB_USER
		 WHERE academy_id = #{academy_id}
		   AND user_grade = #{user_grade}
	</select>
	
	<select id="selectTeacherList" parameterType="TeacherVO" resultType="TeacherVO">
		SELECT user_id
			 , user_name
			 , user_grade
			 , academy_id
			 , user_email
			 , user_first_login
			 , updt_date
			 , regi_date
			 , auth_group_id
			 , user_profile
			 , user_status
			 , user_address
			 , user_detail_address
			 , user_introduce
			 , user_record
			 , delete_yn
		  FROM TB_USER
		 WHERE 1=1
		 <if test="academy_id != null and academy_id != ''">
	       AND academy_id = #{academy_id}
	      </if>
	      <if test="delete_yn != null and delete_yn != ''">
	       AND delete_yn = #{delete_yn}
	      </if>
	       AND user_grade = 'T'
	      ORDER BY regi_date DESC
		 LIMIT #{record_count} OFFSET #{first_index}
	</select>
	
	<select id="selectTeacherListTotalCount" parameterType="TeacherVO" resultType="Integer">
		SELECT COUNT(*)
		  FROM TB_USER
		 WHERE 1=1
		 <if test="academy_id != null and academy_id != ''">
	       AND academy_id = #{academy_id}
	      </if>
	      <if test="delete_yn != null and delete_yn != ''">
	       AND delete_yn = #{delete_yn}
	      </if>
	       AND user_grade = 'T'
	</select>
	
	<select id="selectTeacherListTotal" parameterType="TeacherVO" resultType="TeacherVO">
		SELECT user_id
			 , user_name
			 , user_grade
			 , academy_id
			 , user_email
			 , user_first_login
			 , updt_date
			 , regi_date
			 , auth_group_id
			 , user_profile
			 , user_status
			 , user_address
			 , user_detail_address
			 , user_introduce
			 , user_record
			 , delete_yn
		  FROM TB_USER
		 WHERE 1=1
		 <if test="academy_id != null and academy_id != ''">
	       AND academy_id = #{academy_id}
	      </if>
	      <if test="delete_yn != null and delete_yn != ''">
	       AND delete_yn = #{delete_yn}
	      </if>
	       AND user_grade = 'T'
	      ORDER BY regi_date DESC
	</select>
	
	<select id="selectTeacherDetail" parameterType="TeacherVO" resultType="TeacherVO">
		SELECT user_id
			 , user_name
			 , user_grade
			 , academy_id
			 , user_email
			 , user_first_login
			 , updt_date
			 , regi_date
			 , auth_group_id
			 , user_profile
			 , user_status
			 , user_address
			 , user_detail_address
			 , user_introduce
			 , user_record
		  FROM TB_USER
		 WHERE 1=1
	       AND user_grade = 'T'
	       AND user_id = #{user_id}
	</select>
	
	<insert id="insertTeacher" parameterType="TeacherVO" useGeneratedKeys="true" keyProperty="user_id">
		INSERT INTO TB_USER (
			user_id
		  , user_name
		  , user_grade
		  , user_password
		  , academy_id
		  , user_email
		  , auth_group_id
		  , user_profile
		  , user_status
		  , user_address
		  , user_detail_address
		  , user_introduce
		  , user_record
		  , updt_date
		  , regi_date
		) VALUES (
			#{user_id}
		  , #{user_name}
		  , #{user_grade}
		  , #{user_password}
		  , #{academy_id}
		  , #{user_email}
		  , #{auth_group_id}
		  , #{user_profile}
		  , #{user_status}
		  , #{user_address}
		  , #{user_detail_address}
		  , #{user_introduce}
		  , #{user_record}
		  , NOW()
		  , NOW()
		)
	</insert>
	
	<update id="updateTeacher" parameterType="TeacherVO">
		UPDATE TB_USER 
		   SET user_email = #{user_email}
		  	 <if test="user_password != null and user_password != ''">
		     , user_password = #{user_password}
		      </if>
		  	 , auth_group_id = #{auth_group_id}
		  	 , user_profile = #{user_profile}
		  	 , user_status = #{user_status}
		  	 , user_address = #{user_address}
		  	 , user_detail_address = #{user_detail_address}
		  	 , user_introduce = #{user_introduce}
		  	 , user_record = #{user_record}
		  	 , updt_date = NOW()
		 WHERE user_id = #{user_id}
		   AND academy_id = #{academy_id}
	</update>
	
	<update id="deleteTeacher" parameterType="TeacherVO">
		UPDATE TB_USER 
		   SET delete_yn = #{delete_yn}
		 WHERE user_id = #{user_id}
		   AND academy_id = #{academy_id}
	</update>
	
	<select id="selectStudentList" parameterType="StudentVO" resultType="StudentVO">
		SELECT user_id
			 , user_name
			 , user_grade
			 , academy_id
			 , user_email
			 , user_first_login
			 , updt_date
			 , regi_date
			 , auth_group_id
			 , user_profile
			 , user_status
			 , user_address
			 , user_no
			 , user_school
			 , user_school_grade
			 , user_school_name
			 , delete_yn
		  FROM TB_USER
		 WHERE 1=1
		 <if test="academy_id != null and academy_id != ''">
	       AND academy_id = #{academy_id}
	      </if>
	      <if test="delete_yn != null and delete_yn != ''">
	       AND delete_yn = #{delete_yn}
	      </if>
	       AND user_grade = 'U'
	      ORDER BY regi_date DESC
		 LIMIT #{record_count} OFFSET #{first_index}
	</select>
	
	<select id="selectStudentListTotalCount" parameterType="StudentVO" resultType="Integer">
		SELECT COUNT(*)
		  FROM TB_USER
		 WHERE 1=1
		 <if test="academy_id != null and academy_id != ''">
	       AND academy_id = #{academy_id}
	      </if>
	      <if test="delete_yn != null and delete_yn != ''">
	       AND delete_yn = 'N'
	      </if>
	       AND user_grade = 'U'
	</select>
	
	<select id="selectStudentListTotal" parameterType="StudentVO" resultType="StudentVO">
		SELECT user_id
			 , user_name
			 , user_grade
			 , academy_id
			 , user_email
			 , user_first_login
			 , updt_date
			 , regi_date
			 , auth_group_id
			 , user_profile
			 , user_status
			 , user_address
			 , user_no
			 , user_school
			 , user_school_grade
			 , user_school_name
			 , delete_yn
		  FROM TB_USER
		 WHERE 1=1
		 <if test="academy_id != null and academy_id != ''">
	       AND academy_id = #{academy_id}
	      </if>
	      <if test="delete_yn != null and delete_yn != ''">
	       AND delete_yn = #{delete_yn}
	      </if>
	       AND user_grade = 'U'
	      ORDER BY regi_date DESC
	</select>
	
	<select id="selectStudentDetail" parameterType="StudentVO" resultType="StudentVO">
		SELECT user_id
			 , user_name
			 , user_grade
			 , academy_id
			 , user_email
			 , user_first_login
			 , updt_date
			 , regi_date
			 , auth_group_id
			 , user_profile
			 , user_status
			 , user_address
			 , user_no
			 , user_school
			 , user_school_grade
			 , user_school_name
		  FROM TB_USER
		 WHERE 1=1
	       AND user_grade = 'U'
	       AND user_id = #{user_id}
	       <if test="academy_id != null and academy_id != ''">
	       AND academy_id = #{academy_id}
	       </if>
	     LIMIT 1 
	</select>
	
	<insert id="insertStudent" parameterType="StudentVO" useGeneratedKeys="true" keyProperty="user_id">
		INSERT INTO TB_USER (
			user_id
		  , user_name
		  , user_grade
		  , user_password
		  , academy_id
		  , user_email
		  , auth_group_id
		  , user_profile
		  , user_status
		  , user_address
		  , user_no
		  , user_school
		  , user_school_grade
		  , user_school_name
		  , updt_date
		  , regi_date
		) VALUES (
			#{user_id}
		  , #{user_name}
		  , #{user_grade}
		  , #{user_password}
		  , #{academy_id}
		  , #{user_email}
		  , #{auth_group_id}
		  , #{user_profile}
		  , #{user_status}
		  , #{user_address}
		  , #{user_no}
		  , #{user_school}
		  , #{user_school_grade}
		  , #{user_school_name}
		  , NOW()
		  , NOW()
		)
	</insert>
	
	<update id="updateStudent" parameterType="StudentVO">
		UPDATE TB_USER 
		   SET user_email = #{user_email}
		   	<if test="user_password != null and user_password != ''">
		     , user_password = #{user_password}
		      </if>
		  	 , auth_group_id = #{auth_group_id}
		  	 , user_profile = #{user_profile}
		  	 , user_status = #{user_status}
		  	 , user_address = #{user_address}
		  	 , user_school = #{user_school}
		  	 , user_school_grade = #{user_school_grade}
		  	 , user_school_name = #{user_school_name}
		  	 , updt_date = NOW()
		 WHERE user_id = #{user_id}
		   AND academy_id = #{academy_id}
	</update>
	
	<update id="deleteStudent" parameterType="StudentVO">
		UPDATE TB_USER 
		   SET delete_yn = #{delete_yn}
		 WHERE user_id = #{user_id}
		   AND academy_id = #{academy_id}
	</update>
</mapper>