.bedge {
	width:20px;height:40px;background:white;border-radius:30px;position:absolute;left:5px;top:-20px;z-index:9000;
	cursor:pointer;
}
.bedge.on {
	width:20px;height:40px;background:#ff425f;border-radius:30px;position:absolute;left:5px;top:-20px;z-index:9000;
	cursor:pointer;
}
.contentsListArea{
	display:flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.contentsList {
	position: relative;
	display:flex;
	justify_content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	padding:30px 35px;
	gap: 45px;
}

.contentsList .box{
	position: relative;
	width: 200px;
	height: 300px;
	background: var(--clr);
	display:flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--clr);
	border-radius:10px;
	box-shadow : -5px -5px 15px rgba(255, 255, 255, 0.3), 5px 5px 15px rgba(0, 0, 0, 0.3);
	opacity:0.75;
}

.contentsList .contents-image{
	position: relative;
	width: 200px;
	height: 300px;
	background: var(--clr);
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	box-shadow : -5px -5px 15px rgba(255, 255, 255, 0.3), 5px 5px 15px rgba(0, 0, 0, 0.3);
	opacity:0.75;
}

.contentsList .box .contents{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align:center;
	gap: 20px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 20;
}

.contentsList .box .contents .icon{
	color: var(--clr);
	width:140px;
	height: 100px;
	box-shadow: 0 0 0 3px white, 0 0 0 5px var(--clr);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5em;
	transition: 0.3s ease-in-out;
}

.contentsList .box:hover .contents .icon{
	width:140px;
	height: 100px;
	background: white;
	color: #2e2e2e;
	box-shadow: 0 0 0 3px #2e2e2e, 0 0 0 200px var(--clr);
}

.contentsList .box .contents .icon img{
	width: 100%;
	height: 100%;
}

.contentsList .box .contents .text{
	font-size:1em;
	color: #fff;
	transition: 0.3s ease-in-out;
}

.contentsList .text{
	font-weight: 500;
	width:200px;
	padding:5px 3px;
	vertical-align: middle;
}

.contentsList .text h3{
	font-size: 1rem!important;
	color: black;
}

.contentsList .contents .text h3{
	color: black;
}

.contentsList .text p{
	font-size: 0.9rem!important;
	color: black;
}

.contentsList .text p{
	color: black;
}

.contentsList .box .contents .text a{
	position: relative;
	background: black;
	color: white;
	padding: 8px 15px;
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	transition: 0.5s ease-in-out;
	border-radius: 5px;
}

.contentsList .box:hover .contents .text a{
	background: #2e2e2e;
	color: white;
	
}