.bedge {
	width:20px;height:40px;background:white;border-radius:30px;position:absolute;left:5px;top:-20px;z-index:9000;
	cursor:pointer;
}
.bedge.on {
	width:20px;height:40px;background:#ff425f;border-radius:30px;position:absolute;left:5px;top:-20px;z-index:9000;
	cursor:pointer;
}
.courseListArea{
	display:flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.courseList {
	position: relative;
	display:flex;
	justify_content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	padding:60px 60px;
	gap: 60px;
}

.courseList .box{
	position: relative;
	width: 200px;
	height: 300px;
	background: var(--clr);
	display:flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--clr);
	border-radius: 0.5rem;
	opacity:0.75;
}


.courseList .box .course{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align:center;
	gap: 20px;
	padding: 0 10px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 20;
}

.courseList .box .course .icon{
	color: var(--clr);
	width:140px;
	height: 100px;
	box-shadow: 0 0 0 3px white, 0 0 0 5px var(--clr);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5em;
	transition: 0.3s ease-in-out;
	background:white;
}

.courseList .box:hover .course .icon{
	width:140px;
	height: 100px;
	background: white;
	color: #2e2e2e;
	box-shadow: 0 0 0 3px #2e2e2e, 0 0 0 200px var(--clr);
}

.courseList .box .course .icon img{
	width: 100%;
	height: 100%;
}

.courseList .box .course .text{
	font-size:1em;
	color: #fff;
	font-weight: 500;
	transition: 0.3s ease-in-out;
}

.courseList .box .course .text h3{
	font-size: 1.2rem!important;
	color: white;
}

.courseList .box:hover .course .text h3{
	color: white;
}

.courseList .box .course .text p{
	font-size: 0.9rem!important;
	color: white;
}

.courseList .box:hover .course .text p{
	color: white;
}

.courseList .box .course .text a{
	position: relative;
	background: gray;
	color: white;
	padding: 8px 15px;
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	transition: 0.5s ease-in-out;
	border-radius: 5px;
	opacity:1;
}

.courseList .box:hover .course .text a{
	background: #2e2e2e;
	color: white;
	
}