.contentsListArea{
	display:flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.contentsList {
	position: relative;
	display:flex;
	justify_content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	padding:20px 20px;
	gap: 40px;
}

.contentsList .box{
	position: relative;
	width: 180px;
	height: 180px;
	background: var(--clr);
	display:flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--clr);
	border-radius: 0.5rem;
}

.contentsList .box::before{
	content: '';
	position: absolute;
	inset: -10px 10px;
	border-top: 2px solid var(--clr);
	border-bottom: 2px solid var(--clr);
	z-index: 10;
	transform: skewY(0deg);
	transition: 0.3s ease-in-out;
}

.contentsList .box:hover::before{
	transform: skewY(0deg);
	inset: -5px 5px;
}

.contentsList .box::after{
	content: '';
	position: absolute;
	inset: 10px -10px;
	border-left: 2px solid var(--clr);
	border-right: 2px solid var(--clr);
	z-index: 10;
	transform: skew(0deg);
	transition: 0.3s ease-in-out;
}

.contentsList .box:hover::after{
	transform: skew(0deg);
	inset: 5px -5px;
}

.contentsList .box .contents{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align:center;
	gap: 20px;
	padding: 0 10px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 20;
}

.contentsList .box .contents .icon{
	color: var(--clr);
	width:160px;
	height: 160px;
	box-shadow: 0 0 0 3px white, 0 0 0 5px var(--clr);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	transition: 0.3s ease-in-out;
	background:white;
	border-radius:10px;
}

.contentsList .box:hover .contents .icon{
	width:160px;
	height: 160px;
	background: white;
	color: #2e2e2e;
	box-shadow: 0 0 0 3px #2e2e2e, 0 0 0 200px var(--clr);
	background:white;
}

.contentsList .box .contents .icon img{
	width: 100%;
	height: 100%;
}

.contentsList .box .contents .text{
	font-size:1em;
	color: #fff;
	font-weight: 500;
	transition: 0.3s ease-in-out;
}

.contentsList .box .contents .text h3{
	font-size: 1.2rem!important;
	color: white;
}

.contentsList .box:hover .contents .text h3{
	color: white;
}

.contentsList .box .contents .text p{
	font-size: 0.9rem!important;
	color: white;
}

.contentsList .box:hover .contents .text p{
	color: white;
}

.contentsList .box .contents .text a{
	position: relative;
	background: var(--clr);
	color: white;
	padding: 8px 15px;
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	transition: 0.5s ease-in-out;
	border-radius: 5px;
}

.contentsList .box:hover .contents .text a{
	background: #2e2e2e;
	color: white;
	
}