.emoticon {
	position:relative;
	width:240px;
	height:300px;
	background: black;
	transition: 0.5s;
	float: left;
}

.emoticon .emoticonLines::before{
	content: '';
	position : absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 120px;
	background: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
	animation: animate 4s linear infinite;
	
}

.emoticon .emoticonLines::after{
	content: '';
	position : absolute;
	inset: 3px;
	background: #000;
}

.emoticon .emoticonBox{
	position : absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 150px;
	height: 150px;
	background : #000;
	transition : 0.5s;
	z-index : 10;
	overflow: hidden;
}

.emoticon:hover .emoticonBox{
	width: 160px;
	height:160px;
}

.emoticon .emoticonBox::before{
	content: '';
	position : absolute;
	top: 50%;
	left: 50%;
	width:500px;
	height:150px;
	transform: translate(-50%, -50%);
}

@keyframes animate2{
	0%
	{
		transform: translate(-50%, -50%) rotate(360deg);
	}
	100%
	{
		transform: translate(-50%, -50%) rotate(0deg);
	}
}

.emoticon .emoticonBox::after{
	content: '';
	position : absolute;
	inset: 3px;
	background: #292929;
}

.emoticon .emoticonBox img{
	position: absolute;
	top: 10px;
	left: 10px;
	z-index : 1;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
}

.emoticon .emoticonContents{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;
	
}

.emoticon .emoticonContents .emoticonDetails{
	padding: 40px;
	text-align:center;
	width: 100%;
	transition: 0.5s;
	transform: translateY(25px);
}

.emoticon .emoticonContents .emoticonDetails h2{
	font-size: 1.25em;
	font-weight: 600;
	line-height: 1.2em;
	color: white;
}

.emoticon .emoticonContents .emoticonDetails .data{
	font-size: 0.75em;
	font-weight: 500;
	color: white;
	
}