.introBtn {
	position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    line-height: 4rem;
    background-color: #333;
    color: white;
    font-weight: bold;
}

