.quizInput2{
	width:360px;
}

.quizNumber{
	border:1px solid #00dfc4;border-radius:30px;width:30px;height:30px;text-align:center;line-height:30px;
	float:left;margin-left:10px;
	cursor:pointer;
	font-weight:bold;
}

.quizNumber.onNumber{
	background:#00dfc4;
}