@CHARSET "UTF-8";


html, body,
div, span,
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
p, address,
form, fieldset, legend, input, select, textarea,
table, caption, col, colgroup, thead, tfoot, tbody, th, td {
	margin:0;
	padding:0;
	box-sizing: border-box;
	}


body {
	line-height: 130%;
	background: white;
	font-size:12px;
}

#wrap{width:100%}

#header{width:100%;height:53px;min-width:1200px;}


.topMenu { 
	width: 100%; 
	height: 53px;
	background:url('../images/admin/admin_top_bg.png');	
} 

div.topbg {background:url('../images/admin/admin_top_bg.png');height:53px;border-bottom:  3px solid #ccc;}

p.logout {margin:13px 10px 0px 5px;padding:3px 5px;float: right;color:#FFF;border:1px solid #FFF;font-size:11px;}
p.user {margin:13px 0px 0px 5px;padding:3px 5px;float: right;color:#FFF;border:1px solid #FFF;font-size:11px;}

/*제이쿼리*/

 a {
	text-decoration: none;
}



 ol, ul {
	list-style: none;
	padding:0px;
	margin:0px;
}


.relative {
	position: relative;
}

.right {
	float: right;
}

.left {
	float: left;
}

/* HEADER */

#header .logo {
	display: inline-block;
	font-size: 0;
	padding:0px;
}

#navigation {
	float:right;
	padding-right:20px;
	
}

#menu-toggle {
	display: none;
	float: right;
}

/* HEADER > MENU */
#main-menu {
	float: right;
	font-size: 0;
	margin: 10px 0;	
}

#main-menu > li {
	display: inline-block;
	margin-left: 14px; /*메뉴들 간격*/
	padding: 2px 0;
}

#main-menu > li:first-child {
	display: inline-block;
	margin-left: 0px;
	padding: 2px 0;
}


#main-menu > li.parent {
	background-image: url(../images/admin/plus-gray.png);
	background-size: 7px 7px;
	background-repeat: no-repeat;
	background-position: left center;
}

#main-menu > li.last {
	padding-right:10px;/*마지막 메뉴 오른쪽 여백*/
}


#main-menu > li.parent > a {
	padding-left: 14px;
}

#main-menu > li > a {
	color: #eee;
	font-size: 12px;
	line-height: 24px;
	padding: 25px 0;
	text-decoration:none;
}

#main-menu > li:hover > a,
#main-menu > li.current-menu-item > a {
	color: #38ceff;
}

/* HEADER > MENU > DROPDOWN */
#main-menu li {
	position: relative;
}

ul.sub-menu { /* level 2 */
	display: none;
	left: 0px;
	top: 30px;
	padding-top: 10px;
	position: absolute;
	width: 120px;
	z-index: 9999;
}

ul.sub-menu ul.sub-menu { /* level 3+ */
	margin-top: -1px;
	padding-top: 0;
	left: 119px;
	top: 0px;
	width: 130px;
}

ul.sub-menu > li > a {
	background-color: #333;
	border: 1px solid #444;
	border-top: none;
	color: #bbb;
	display: block;
	font-size: 12px;
	line-height: 15px;
	padding: 10px 0px 10px 6px;
}

ul.sub-menu > li > a:hover {
	background-color: #000000; 
	color: #38ceff;
}

ul.sub-menu > li:first-child {
	border-top: 3px solid #1faeff;
}

ul.sub-menu ul.sub-menu > li:first-child {
	border-top: 1px solid #444;
}

ul.sub-menu > li:last-child > a {
	border-radius: 0 0 2px 2px;
}

ul.sub-menu > li > a.parent {
	background-image: url(../images/admin/arrow.png);
	background-size: 5px 9px;
	background-repeat: no-repeat;
	background-position: 95% center;
}

#main-menu li:hover > ul.sub-menu {
	display: block; /* show the submenu */
}


/*넓을때*/

@media all and (min-width: 1600px) {
	
	
	#main-menu {margin-right:10px;}
	
	#main-menu > li {
		display: inline-block;
		margin-left: 30px;
		padding: 2px 0;
	}
	
	#main-menu > li > a {
		color: #eee;
		font-size: 14px;
		line-height: 24px;
		padding: 25px 0;
		text-decoration:none;
	}
	
}

/*좁을때*/

@media all and (max-width: 1320px) {
	
	
	
	#main-menu > li {
		display: inline-block;
		margin-left: 9px;
		padding: 2px 0;
	}
	
	#main-menu > li > a {
		color: #eee;
		font-size: 11px;
		line-height: 24px;
		padding: 25px 0;
		text-decoration:none;
	}
	
	#main-menu > li.parent {
		background-image: url(../images/admin/plus-gray.png);
		background-size: 7px 7px;
		background-repeat: no-repeat;
		background-position: 5px 10px;
	}
	
	#main-menu > li.parent > a {
		padding-left: 14px;
	}
	
	p.logout {margin:13px 10px 0px 5px;padding:3px 4px;float: right;color:#FFF;border:1px solid #FFF;font-size:10px;}
	p.user {margin:13px 0px 0px 0px;padding:3px 4px;float: right;color:#FFF;border:1px solid #FFF;font-size:10px;}
}


