@charset "utf-8";

html, body,
div, span,
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
p, address,
form, fieldset, legend, input, select, textarea,
table, caption, col, colgroup, thead, tfoot, tbody, th, td {
	margin:0;
	padding:0;
	}

body {
	line-height: 130%;
	background: white;
	font-size:12px;
	font-family:Dotum,gulim,helvetica,sans-serif;
	background:url('../images/admin/admin_bg.jpg') no-repeat center top;
	overflow:hidden;
}

.login_foot {text-align:center;font-size:11px;color:#666;}
.login_foot a {color:#666;text-decoration:none;font-weight:bold;}

#login_msg_area {width:100%;height:35px;left:50%;text-align: center;margin-top:180px;color:#1faeff;font-weight:bold;}

.login {
	width:100%;
	height:450px;
	background:url('../images/admin/admin_bg_login1.png') no-repeat center top;
	position:relative;
	left:0px;
	top:0px;
}

.white {color:#FFF;}
.login .login_fluid {
	width:240px;
	height:180px;
	position:relative;
	left:48.5%;
	top:120px;
	margin-left:-90px;

}
.login_fluid .login_form	{
	width:240px;
	/*height:30px;*/
	margin:5px 0px 10px 0px;
}
.login_fluid input {
	width:240px;
	height:36px;
	line-height: 16px;
	padding:3px 5px 3px 5px ;
	box-sizing:border-box;
}
.login_fluid p {padding-bottom: 23px; text-align: center;}

.login_fluid input.checkbox {
	width: 16px;
	height: 16px;
	line-height: 16px;
	padding: 0px 0px 0px 0px;
	vertical-align: bottom;
}

.login_form .login_btn {
	width:167px;
	height:47px;
	margin:25px 0 0px 32px;
	color:#fff;
	font-size:17px;
	font-weight:bold;
	line-height:100%;
	border:1px #FFF solid;
	background-color:#000;
	font-family:Dotum,gulim,helvetica,sans-serif;
	}
.login_form .login_btn:hover {
	text-decoration:underline;
	cursor:pointer;
}

.login_form span{color:#000;font-size:12px;padding-top:0;}
