@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); .notosanskr * { font-family: 'Noto Sans KR', sans-serif; }
@font-face { font-family: 'Noto Sans Korean'; font-style: normal; font-weight: 300; src: local("Noto Sans Light"), local("NotoSans-Light"), url(../font/NotoSansKR-Light-Hestia.eot), url(../font/NotoSansKR-Light-Hestia.eot?#iefix) format("embedded-opentype"), url(../font/NotoSansKR-Light-Hestia.woff) format("woff"), url(../font/NotoSansKR-Light-Hestia.otf) format("opentype"); }
@font-face { font-family: 'Noto Sans Korean'; font-style: normal; font-weight: 350; src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url(../font/NotoSansKR-DemiLight-Hestia.eot), url(../font/NotoSansKR-DemiLight-Hestia.eot?#iefix) format("embedded-opentype"), url(../font/NotoSansKR-DemiLight-Hestia.woff) format("woff"), url(../font/NotoSansKR-DemiLight-Hestia.otf) format("opentype"); }
@font-face { font-family: 'Noto Sans Korean'; font-style: normal; font-weight: 400; src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(../font/NotoSansKR-Regular-Hestia.eot), url(../font/NotoSansKR-Regular-Hestia.eot?#iefix) format("embedded-opentype"), url(../font/NotoSansKR-Regular-Hestia.woff) format("woff"), url(../font/NotoSansKR-Regular-Hestia.otf) format("opentype"); }
@font-face { font-family: 'Noto Sans Korean'; font-style: normal; font-weight: 500; src: local("Noto Sans Medium"), local("NotoSans-Medium"), url(../font/NotoSansKR-Medium-Hestia.eot), url(../font/NotoSansKR-Medium-Hestia.eot?#iefix) format("embedded-opentype"), url(../font/NotoSansKR-Medium-Hestia.woff) format("woff"), url(../font/NotoSansKR-Medium-Hestia.otf) format("opentype"); }
@font-face { font-family: 'Noto Sans Korean'; font-style: normal; font-weight: 700; src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(../font/NotoSansKR-Bold-Hestia.eot), url(../font/NotoSansKR-Bold-Hestia.eot?#iefix) format("embedded-opentype"), url(../font/NotoSansKR-Bold-Hestia.woff) format("woff"), url(../font/NotoSansKR-Bold-Hestia.otf) format("opentype"); }
html, body { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;-webkit-overflow-scrolling: touch;}

body {background:#fef4ea;background-attachment:fixed;color:#fff; font-size: 100%; font-weight: 400; font-family: 'Noto Sans Korean','Noto Sans KR', '본고딕' , sans-serif; }

button{ font-weight: 400; font-family: 'Noto Sans Korean','Noto Sans KR', '본고딕' , sans-serif; cursor:pointer;transition:0.1s}

table { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

caption { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

tbody { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

tfoot { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

thead { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

tr { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

th { margin: 0; padding: 0; border: 0; font-weight: 400; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

td { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display:table-cell;vertical-align: middle;}

article { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

aside { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

canvas { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

details { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

embed { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

footer { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

header { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

hgroup { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

menu { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

nav { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

output { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

section { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

summary { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

time { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

mark { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

audio { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

video { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

div { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

span { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; border: 0; font-weight: 300; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

p, blockquote, pre, a { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

dt { font-weight: 400; }

dl, dt, dd, ol, ul, li { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

fieldset, form, label, legend { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

p { letter-spacing: -0.025em; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

select::-ms-expand { display: none; }

select { -webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; box-shadow: none; background-color: transparent; background-image: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

a { text-decoration: none; outline: none; color:#141414;}

a:hover, a:active { text-decoration: none; }

a:visited { text-decoration: none; decoration: none; }

input[type="checkbox"] { margin: 0; }

input, label, select, button, textarea { margin: 0; border: 0; padding: 0; display: inline-block; vertical-align: middle; font-size: 13px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline: none;}

input[type="button"]{-webkit-appearance:none;}
input[type="button"].active{-webkit-appearance:none;}

/* Remove the stupid outer glow in Webkit */
input:focus,button:focus,select:focus,a:focus { outline: 0; }

/* Button Controls
-----------------------------------------------*/
input[type=checkbox], input[type=radio] { width: 13px; height: 13px; }

/* Make webkit render the search input like a normal text field */
input[type=search] { -webkit-appearance: textfield; -webkit-box-sizing: content-box; }

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration { display: none; }

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button { padding: 0; border: 0; background: none; }

/* Textarea
-----------------------------------------------*/
textarea { /* Move the label to the top */ vertical-align: top; /* Turn off scroll bars in IE unless needed */ overflow: auto; }
select[multiple] { /* Move the label to the top */ vertical-align: top; }
html, body { height: 100%; font-size: 16px; }

body { min-height: 100%; min-width: 320px; width: 100%; }

.intro-bg{width:100%;height:100%;background:url(../images/bg-main.png) no-repeat bottom;background-size:contain;}
.box-wrap{width:1280px;margin:0 auto;padding-top:100px;}
.box-wrap .logo{text-align:right;}
.box-wrap .intro-text h2{font-size:73px;font-weight:300;color:#008ba8;line-height:108px;}
.box-wrap .intro-text p{color:#67c6d3;font-family: 'KoPub Dotum';font-weight:300;font-size:25px;line-height:37px;margin-top:5px;}
.box-wrap .intro-text p span{font-weight:700;}
.box-wrap .intro-text span{font-weight:500;color:#008ba8;}
.box-wrap .intro-text button{position:relative;margin-top:40px;width:240px;height:52px;border-radius:40px;background:#fff;border:none;color:#ff7bac;font-size:24px;text-align:left;padding-left:24px;transition:0.1s}
.box-wrap .intro-text button:after{content:'';position:absolute;width:16px;height:16px;top:18px;right:25px;background:url(../images/btn-off.png)}
.box-wrap .intro-text button:hover{background:#ff7bac;color:#fff;}
.box-wrap .intro-text button.over:after{content:'';position:absolute;width:16px;height:16px;top:18px;right:25px;background:url(../images/btn-on.png)}

@media all and (max-width:1300px){
	.box-wrap{width:100%;padding:0 20px;}
	.intro-bg{background-size:150%;}
	.box-wrap .logo img{width:150px;}
	.box-wrap .intro-text h2{font-size:36px;line-height:60px;margin-top:30px;margin-bottom:20px;}
	.box-wrap .intro-text p{font-size:18px;line-height:32px;}
	.box-wrap .intro-text button{width:200px;height:45px;font-size:21px;}
	.box-wrap .intro-text button:after{top:15px;}
	.box-wrap .intro-text button.over:after{top:15px;}
}



/* 로그인 페이지 */
.sub-bg{width:100%;height:100%;background:url(../images/bg-sub.png) no-repeat bottom;background-size:contain;}
.login-form{width:780px;margin:0 auto;}
.login-form div{margin-bottom:35px;}
.login-form h2{font-size:25px;font-family: 'KoPub Dotum';font-weight:300;color:#67c6d3;margin-top:150px;margin-bottom:100px;}
.login-form div:last-of-type{margin-top:100px;margin-bottom:0;}
.login-form .input-wrap{border-bottom:1px solid #67c6d3;overflow:hidden;}
.login-form input{width:660px;height:60px;border:none;font-size:19px;text-indent: 15px;background:none;color:#67c6d3;float:left;}
.login-form input::placeholder{color:#ccc}
.login-form label{width:120px;line-height:60px;color:#67c6d3;font-size:19px;float:left;}
.login-form button{width:240px;height:52px;font-size:24px;background: #67c6d3;color:#fff;border-radius:40px;line-height:52px;transition:0.1s}
.login-form button:hover{background:#008ba8;}

@media all and (max-width:1300px){
	.research-wrap{width:100%;padding:0 20px;}
}
@media all and (max-width:800px){
	.login-form{width:100%;}
	.login-form input{width:100%;height:50px;font-size:14px;}
	.login-form button{height: 50px;font-size:16px;}
	.login-form div:last-of-type{margin-top:40px;}
	.login-form div{margin-bottom:15px;}
	.login-form label{width:100%;font-size:16px;line-height:40px;}
	.login-form h2{margin-top:120px;margin-bottom:50px;font-size:16px;}
}

.research-wrap{width:1560px;margin:0 auto;}

/* 오리엔테이션 페이지 */
.sub-bg2{width:100%;height:100%;background:url(../images/bg-sub2.png) no-repeat top;background-size:contain;}
.orientation-wrap{padding-top:130px;}
.orientation-wrap h3{color:#469cac;font-size:38px;font-weight:300;margin-bottom:65px;}
.orientation-wrap h3 span{margin-left:20px;font-size:36px;font-family: 'KoPub Dotum';font-weight:300;color:#666;}
.orientation-wrap .text-box{width:1280px;margin:0 auto;padding:60px 90px 10px;background:#fff;font-size:18px;line-height: 32px;border-radius:24px;}
.orientation-wrap .sub-logo{margin-bottom:60px;}
.orientation-wrap .text-box .content{font-size:22px;line-height:36px;color:#4d4d4d;font-family: 'KoPub Dotum';font-weight:300;}
.orientation-wrap .text-box .content.pink{color:#ff7bac;margin-bottom:30px;}
.orientation-wrap .text-box div.content{margin-bottom:38px;}
.orientation-wrap .text-box .content .before{margin-bottom:30px;overflow:hidden;}
.orientation-wrap .text-box .content .before span{float:left;}
.orientation-wrap .text-box .content .before span.second{width:97%;margin-left:10px;}
.orientation-wrap .text-box .content .pink{color:#ff7bac;margin-bottom:60px;}
.orientation-wrap .num-wrap{overflow:hidden;display:inline-block;}
.orientation-wrap .num-wrap>div{width:200px;height:140px;position:relative;margin-right:68px;float:left;}
.orientation-wrap .num-wrap>div:after{content:'';position:absolute;width:68px;height:68px;background:url(../images/icon-right.png);top:38px;right:-68px;}
.orientation-wrap .num-wrap>div.last{margin-right:0;}
.orientation-wrap .num-wrap>div.last:after{display:none;}
.orientation-wrap .num-wrap .number{text-align:left;font-size:24px;color:#f9e9dc;line-height:36px;margin-bottom:22px;}
.orientation-wrap .num-wrap .text{text-align:center;font-size:29px;color:#999;font-family: 'KoPub Dotum';font-weight:300;}
.orientation-wrap .next-btn{text-align: center;}
.orientation-wrap .next-btn button{background:#fff;color:#67c6d3;width:240px;height:52px;line-height:52px;font-size:24px;margin-top:40px;border-radius:40px;}
.orientation-wrap .next-btn button:hover{background:#67c6d3;color:#fff;}
.orientation-wrap .start-btn{text-align: center;}
.orientation-wrap .start-btn button{background:#fff;color:#ff7bac;width:240px;height:52px;line-height:52px;font-size:24px;margin-top:40px;border-radius:40px;}
.orientation-wrap .start-btn button:hover{background:#ff7bac;color:#fff;}


@media all and (max-width:1600px){
	.research-wrap{width:100%;padding:0 20px;}
	.orientation-wrap .text-box{width:100%;padding:60px 60px 10px;}
	.orientation-wrap .text-box .content .before span.second{width:91%;}
}
@media all and (max-width:768px){
	.orientation-wrap h3{font-size:24px;margin-bottom:20px;}
	.orientation-wrap h3 span{font-size:24px;}
	.orientation-wrap{padding-bottom:30px;padding-top:80px;}
	.orientation-wrap .text-box{font-size:14px;line-height: 24px;padding:30px 15px;}
	.orientation-wrap .next-btn button{font-size:18px;margin-top:30px;}
	.orientation-wrap .start-btn button{font-size:18px;margin-top:30px;}
	.orientation-wrap .sub-logo{margin-bottom:40px;}
	.orientation-wrap .sub-logo img{width:150px;}
	.orientation-wrap .text-box .content{font-size:16px;line-height:26px;margin-bottom:30px;}
	.orientation-wrap .text-box .content.pink{margin-bottom:20px;}
	.orientation-wrap .text-box div.content{margin-bottom:30px;}
	
	.orientation-wrap .num-wrap .number{font-size:18px;line-height:26px;margin-bottom:16px;}
	.orientation-wrap .num-wrap .text{font-size:21px;}
	.orientation-wrap .num-wrap>div:after{width:30px;height:30px;top:38px;right:-30px;background-size:100%;}
	.orientation-wrap .num-wrap>div{width:90px;height:100px;margin-right:30px;margin-left:20px;}
	.orientation-wrap .text-box .content .before{margin-bottom:20px;}
	.orientation-wrap .text-box .content .pink{margin-bottom:0;}
}

/* 개인정보 입력 페이지 */
.infor-wrap .sub-title{margin-bottom:30px;}
.infor-wrap .sub-title h3{font-size:21px;}
.infor-wrap .sub-title p{margin-bottom:10px;color:#e6e6e6;}
.infor-wrap .text-box{background:rgba( 14, 18, 42, 0.5 );}
.infor-wrap .text-box .input-wrap{margin-bottom:30px;}
.infor-wrap .text-box .input-wrap>p{margin-bottom:10px;color:#fff;}
.infor-wrap .text-box .input-wrap input{border:none;width:300px;height:40px;padding-left:10px;font-size:16px;background:none;border-bottom:1px solid #fff;color:#fff}
.radio-wrap{position:relative;}
.radio-wrap input{position: absolute;overflow:hidden;opacity: 0;outline: 0;width:20px;height:20px;top:8px;left:0;}
.radio-wrap label{width:100%;position: relative;line-height: 20px;padding:10px;}
.radio-wrap label:before{content:'';position:absolute;width:20px;height:20px;background:url(../images/check-off.png);background-size:100%;}
.radio-wrap input:checked + label{background:rgba(0,0,0,0.3)}
.radio-wrap input:checked + label:before{background:url(../images/check-on.png); background-size:100%;}
.radio-wrap label span{margin-left:40px;font-size:16px;color:#fff;}
.radio-wrap label:hover{background:rgba(255,255,255,0.5);}

@media all and (max-width:768px){
	.infor-wrap .sub-title h3{font-size:18px;}
	.infor-wrap .sub-title p{font-size:14px;}
	.infor-wrap .text-box .input-wrap input{width:100%;height:40px;}
	.infor-wrap .text-box .input-wrap{margin-bottom:20px;}
	.radio-wrap label span{font-size:14px;}
	.radio-wrap label{padding:7px;}
	
	
}

/* 설문페이지01 랭킹 */
.research-content{border-radius:52px;padding:60px;background:rgba(230,230,230,0.3);padding-bottom:30px;}
.research-content .content-inner{margin-bottom:50px;}
.research-content .content-inner>p{font-size:21px;margin-bottom:20px;color:#999}
.research-content.step4 .content-inner>p{color:#67c6d3;font-weight:300;font-size:28px;}
.research-content.step4 .content-inner>p span{font-size:21px;color:#999;margin-right:20px;}
.question-box .question-ranking{background:#edeae8;margin-bottom:15px;line-height:30px;border:none;border-radius:10px;}
.question-box .question-ranking select{width:50px;background:#fff;height:50px;padding-left:18px;margin-right:20px;border-radius:10px;font-size:21px;cursor:pointer;border:1px solid #ccc;float:left;}
.question-box .question-ranking select.selected{color:#ff7bac;border:1px solid #ff7bac;}
.question-box .question-ranking .rank-text{color:#000;font-size:21px;line-height:50px;font-weight:300;}
.research-content .content-inner .question-box{width:94%;margin:0 auto;}
.btn-wrap{text-align: center;overflow: hidden;padding-top:150px;margin-bottom:30px;}
.btn-wrap>div{display:inline-block}
.btn-wrap button{font-size:24px;float:left;color:#333;position:relative;background:none;}
.btn-wrap button.prev-btn{margin-right:280px;opacity:0.3;}
.btn-wrap button.prev-btn:before{content:'';position:absolute;width:36px;height:36px;background:url(../images/arrow-l-on.png);left:-48px;}
.btn-wrap button.next-btn:after{content:'';position:absolute;width:36px;height:36px;background:url(../images/arrow-r-on.png);right:-48px;}

.bottom-bar{overflow:hidden;text-align:center;padding-bottom:60px;margin-top:80px;}
.bottom-bar .display-inbl{display:inline-block;}
.bottom-bar .display-inbl>div{float:left;}
.bottom-bar .display-inbl>div.bar{margin-right:25px;float:left;padding-top:7px;}
.bottom-bar .display-inbl>div.bar p{float:left;width:36px;height:4px;background:#f2f2f2;margin-right:8px;}
.bottom-bar .display-inbl>div.bar p:last-of-type{margin-right:0;}
.bottom-bar .display-inbl>div.bar p.on{background:#b3b3b3;}
.bottom-bar .display-inbl>div.count{font-size:16px;color:#999;font-family: 'KoPub Dotum';font-weight:300;}

.orientation-wrap.infor-wrap{padding-top:50px;}
.research-wrap .sub-title{overflow:hidden;}
.research-wrap .sub-title h4{font-size:24px;font-family: 'KoPub Dotum';font-weight:300;color:#999;float:left;margin-right:90px;line-height:128px;}
.research-wrap .sub-title h4 span{font-weight:700;}
.research-wrap .sub-title .progress{float:right;position:relative;padding:60px 10px;}
.research-wrap .sub-title .progress .bar{width:850px;height:8px;background:#e6e6e6;position:relative;}
.research-wrap .sub-title .progress .bar .bar-on{position:absolute;left:0;top:2px;height:4px;background:#999;}
.research-wrap .sub-title .progress .part{width:16px;height:16px;border-radius:50%;background:#999;position:absolute;}
.research-wrap .sub-title .progress .part.on{width:28px;height:28px;border:3px solid #999;background:#fff;}
.research-wrap .sub-title .progress .part1{left:6px;top:56px;}
.research-wrap .sub-title .progress .part1.on{left:0px;top:50px;}
.research-wrap .sub-title .progress .part2{left:23.333%;top:56px;}
.research-wrap .sub-title .progress .part2.on{left:22.6%;top:50px;}
.research-wrap .sub-title .progress .part3{left:33.666%;top:56px;}
.research-wrap .sub-title .progress .part3.on{left:32.9%;top:50px;}
.research-wrap .sub-title .progress .part4{left:98%;top:56px;}
.research-wrap .sub-title .progress .part4.on{left:97.3%;top:50px;}
.research-wrap .sub-title .progress .part1.on:before{content:'PART 01';position:absolute;font-size:15px;color:#999;top:-35px;width:80px;left:-15px;text-align:center;font-weight:300;}
.research-wrap .sub-title .progress .part1.on:after{content:'가치';font-size:29px;font-family: 'KoPub Dotum';font-weight:400;color:#ff7bac;position:absolute;left:-5px;top:35px;word-break:keep-all;}
.research-wrap .sub-title .progress .part2.on:before{content:'PART 02';position:absolute;font-size:15px;color:#999;top:-35px;width:80px;left:-30px;text-align:center;font-weight:300;}
.research-wrap .sub-title .progress .part2.on:after{content:'정서';font-size:29px;font-family: 'KoPub Dotum';font-weight:400;color:#67c6d3;position:absolute;left:-13px;top:35px;word-break:keep-all;}
.research-wrap .sub-title .progress .part3.on:before{content:'PART 03';position:absolute;font-size:15px;color:#999;top:-35px;width:80px;left:-30px;text-align:center;font-weight:300;}
.research-wrap .sub-title .progress .part3.on:after{content:'성향';font-size:29px;font-family: 'KoPub Dotum';font-weight:400;color:#ff7bac;position:absolute;left:-13px;top:35px;word-break:keep-all;}
.research-wrap .sub-title .progress .part4.on:before{content:'PART 04';position:absolute;font-size:15px;color:#999;top:-35px;width:80px;right:-20px;text-align:center;font-weight:300;}
.research-wrap .sub-title .progress .part4.on:after{content:'마음건강';font-size:29px;font-family: 'KoPub Dotum';font-weight:400;color:#67c6d3;position:absolute;right:-12px;top:35px;word-break:keep-all;}

.research-wrap .sub-text {margin-bottom:70px;}
.research-wrap .sub-text p{font-size:24px;line-height:36px;color:#333;font-family: 'KoPub Dotum';font-weight:300;}
.research-wrap .sub-text p.pink{color:#ff7bac;}
.research-wrap .sub-text p.green{color:#67c6d3;}

@media all and (max-width:1300px){
	.research-wrap .sub-title .progress{width:100%;padding:40px 10px;}
	.research-wrap .sub-title .progress .bar{width:100%;}
	.research-wrap .sub-title .progress .part1.on:before{width:50px;font-size:11px;top:-28px;left:-5px;}
	.research-wrap .sub-title .progress .part1.on:after{font-size:18px;left:0;}
	.research-wrap .sub-title .progress .part2.on:before{width:50px;font-size:11px;top:-28px;left:-5px;}
	.research-wrap .sub-title .progress .part2.on:after{font-size:18px;left:0;}
	.research-wrap .sub-title .progress .part3.on:before{width:50px;font-size:11px;top:-28px;left:-5px;}
	.research-wrap .sub-title .progress .part3.on:after{font-size:18px;left:0;}
	.research-wrap .sub-title .progress .part4.on:before{width:50px;font-size:11px;top:-28px;right:-5px;}
	.research-wrap .sub-title .progress .part4.on:after{font-size:18px;right:0;}
	.research-wrap .sub-title .progress .part1{left:6px;top:36px;}
	.research-wrap .sub-title .progress .part1.on{left:0px;top:30px;}
	.research-wrap .sub-title .progress .part2{left:23.333%;top:36px;}
	.research-wrap .sub-title .progress .part2.on{left:22.6%;top:30px;}
	.research-wrap .sub-title .progress .part3{left:33.666%;top:36px;}
	.research-wrap .sub-title .progress .part3.on{left:32.9%;top:30px;}
	.research-wrap .sub-title .progress .part4{left:98%;top:36px;}
	.research-wrap .sub-title .progress .part4.on{left:97.3%;top:30px;}
	.bottom-bar .display-inbl>div.bar{display:none;}
}
@media all and (max-width:768px){
	.research-content{padding:20px 10px;border-radius:20px;}
	.research-content .content-inner>p{font-size:16px;margin-bottom:10px;}
	.question-box .question-ranking{overflow: hidden;margin-bottom:10px;border-radius:8px;}
	.question-box .question-ranking span.rank-text{float:left;font-size:12px;width:85%;line-height:30px;}
	.question-box .question-ranking select{float:left;width:30px;height:30px;margin-right:6px;font-size:16px;padding-left:10px;border-radius:8px;}
	.research-content .content-inner{margin-bottom:30px;}
	.btn-wrap button{font-size:16px;}
	.btn-wrap{padding-top:20px;}
	.btn-wrap button.prev-btn{margin-right:50px;}
	
	.research-wrap .sub-title .progress .part.on{width:20px;height:20px;}
	.research-wrap .sub-title .progress .part1{left:6px;top:34px;}
	.research-wrap .sub-title .progress .part1.on{top:32px;}
	.research-wrap .sub-title .progress .part2{left:23.333%;top:34px;}
	.research-wrap .sub-title .progress .part2.on{left:22.6%;top:32px;}
	.research-wrap .sub-title .progress .part3{left:33.666%;top:34px;}
	.research-wrap .sub-title .progress .part3.on{left:32.9%;top:32px;}
	.research-wrap .sub-title .progress .part4{left:95%;top:34px;}
	.research-wrap .sub-title .progress .part4.on{left:94.1%;top:32px;}
	.research-wrap .sub-title .progress .bar{height:4px;}
	.research-wrap .sub-title .progress .bar .bar-on{top:1px;height:2px;}
	.research-wrap .sub-title .progress .part1.on:after{top:27px;}
	.research-wrap .sub-title .progress .part2.on:after{top:27px;left:-9px;}
	.research-wrap .sub-title .progress .part3.on:after{top:27px;left:-9px;}
	.research-wrap .sub-title .progress .part4.on:after{top:27px;}
	.research-wrap .sub-title .progress .part2.on:before{left:-17px;}
	.research-wrap .sub-title .progress .part3.on:before{left:-17px;}
	.bottom-bar{padding-bottom:0;text-align:right;}
	.bottom-bar .display-inbl>div.count{font-size:14px;}
	.research-wrap .sub-title h4{margin-right:0;font-size:18px;line-height:36px;margin-bottom:25px;}
	.research-wrap .sub-text p{font-size:16px;line-height:26px;}
	.research-wrap .sub-text{margin-bottom:30px;}
	
	.btn-wrap button.prev-btn:before{width:24px;height:24px;background-size:100%;left:-36px;}
	.btn-wrap button.next-btn:after{width:24px;height:24px;background-size:100%;right:-36px;}
	
	.research-content .content-inner .question-box{width:100%;}`
	.research-content.step4 .content-inner>p span{margin-right:10px;}
	.research-content.step4 .content-inner>p{font-size:21px;height:35px;}
}

/* 설문페이지02 슬라이드 바 */
.slider-label{position: relative;height:35px;}
.slider-label p{position:absolute;font-size:18px;color:#999;font-family:'KoPub Dotum';font-weight:300;height:50}
.slider-label p.left{left:0;}
.slider-label p.center{left:50%;margin-left:-70px;}
.slider-label p.right{right:0;}

.question-ranking{overflow:hidden;}
.question-ranking .slider-wrapper{float:left;width:90%;height:80px;}
.question-box .question-ranking select.minbeds{margin-right: 0;margin-left:30px;background:transparent;color:#999;}
.question-ranking .minbeds{float:right;}

@media all and (max-width:768px){
	.slider-label p{font-size:12px;}
	.slider-label p span{display:none;}
	.slider-label p.center{margin-left:-12px;}
	.question-box .question-ranking select.minbeds{float:right;}
	.question-ranking .slider-wrapper{width:85%;}
	.ui-slider .ui-slider-handle{width:1.1em;height:1.1em;}
	.ui-slider-horizontal .ui-slider-handle{margin-left:-.5em;}
}

/* 설문페이지03 체크박스 */
.table-wrap{width:100%;border-collapse: separate;border-spacing: 0 20px;}
.table-wrap .table-head td{width:7%;text-align: center;font-size:18px;line-height: 36px;color:#999;font-family:'KoPub Dotum';font-weight:300;}
.table-wrap .table-head td.first-span{width:40%;}

.table-wrap .table-body tr{background:#edeae8;}
.table-wrap .table-body td{width:7%;text-align: center;font-size:20px;}
.table-wrap .table-body td.first-div{width:50%;text-align: left;padding-left:10px;line-height:25px;font-size:22px;color:#000;font-weight:300;}
.table-wrap .table-body td .radio-wrap2 input{display: none;}
.table-wrap .table-body td .radio-wrap2 label{width:100%;padding:10px;cursor:pointer;}
.table-wrap .table-body td .radio-wrap2 label span.chk-icon{display:inline-block;width:30px;height:30px;border-radius:50%;background:#fff;border:1px solid #ff7bac;vertical-align:middle;}
.table-wrap .table-body td .radio-wrap2 input:checked + label span.chk-icon{background:#ff7bac}
.table-wrap.green .table-body td .radio-wrap2 label span.chk-icon{display:inline-block;width:30px;height:30px;border-radius:50%;background:#fff;border:1px solid #67c6d3;vertical-align:middle;}
.table-wrap.green .table-body td .radio-wrap2 input:checked + label span.chk-icon{background:#67c6d3}
.table-wrap .table-body td .radio-wrap2 label span.m-block{display:none;}

.research-content h4{font-weight:400;margin-bottom:20px;color:red;}

@media all and (max-width:768px){
	.table-wrap .table-head{display:none;}
	.table-wrap .table-body,.table-wrap .table-body tr,.table-wrap .table-body td{display:block;}
	.table-wrap .table-body td.first-div{width:100%;font-weight:300;padding-right:7px;padding-left:7px;font-size:15px;margin-bottom:10px;}
	.table-wrap .table-body td{width:100%;text-align: left;}
	.table-wrap .table-body td .radio-wrap2 label span.m-block{display:inline-block;color:#999}
	.research-content h4{font-size:14px;}
	.table-wrap .table-body td .radio-wrap2 label span.chk-icon{margin-right:20px;width:23px;height:23px;}
	.table-wrap .table-body tr{margin-bottom:30px;}
	.table-wrap .table-body td .radio-wrap2 input:checked + label{background:#edeae8}
	.table-wrap .table-body td .radio-wrap2 input:checked + label span.m-block{font-weight:500;}
	.table-wrap .table-body td .radio-wrap2 label{padding:7px;}
	.table-wrap .table-body tr{background:none;}
}

/* 검사완료 페이지 */
.sub-bg3{width:100%;height:100%;background:url(../images/succ-bg.png) no-repeat bottom;}
.success-box{text-align: center;}
.success-box p{width:480px;height:52px;text-align:center;border-radius:40px;background:#fff;line-height:52px;margin:300px auto 25px;font-size:24px;color:#67c6d3;}
.success-box span{color:#4d4d4d;font-weight: 400;font-size:17px;font-family: 'KoPub Dotum';}
.success-box .m-block{display:none;}

@media all and (max-width:768px){
	.success-box p{width:260px;height:48px;line-height:48px;font-size:16px;margin:220px auto 25px;}
	.success-box span{font-size:14px;}
	.success-box .m-block{display:block;}
}


/* 슬라이더 바 CSS */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{background:#fff;border:2px solid #264b8f;border-radius:50%;}
.ui-widget.ui-widget-content{border:none;background:#edeae8;width:94%;height:18px;margin:0 auto;}
.ui-slider-horizontal .ui-slider-handle{top:0;width:18px;height:18px;border:none;background:#67c6d3;}
.ui-widget-header{background:#ccc;}



















