<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="area" >

	<select id="selectBuildingList" parameterType="AreaVO" resultType="AreaVO">
		SELECT *
		  FROM TBL_BUILDING
		 WHERE 1=1
		 
		<if test="company_id != null and company_id != ''">
		   AND company_id = #{company_id}
		</if>
		 
		<if test="building_id != null and building_id != ''">
		   AND building_id = #{building_id}
		</if>		
		 <if test="notUsePage == null or notUsePage == ''">
			LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
		</if>		 
	</select>

	<select id="selectZoneList" parameterType="AreaVO" resultType="AreaVO">
		SELECT *
		  FROM TBL_ZONE
		 WHERE 1=1
		<if test="company_id != null and company_id != ''">
		   AND company_id = #{company_id}
		</if>
		<if test="zone_id != null and zone_id != ''">
		   AND zone_id = #{zone_id}
		</if>		
		<if test="building_id != null and building_id != ''">
		   AND building_id = #{building_id}
		</if>		
		ORDER BY floor
		 <if test="notUsePage == null or notUsePage == ''">
			LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
		</if>
	</select>
	
	<select id="selectCellList" parameterType="AreaVO" resultType="AreaVO">
		SELECT     a.* 
				,  b.zone_cnt
				, (SELECT building_name FROM TBL_BUILDING B WHERE a.building_id = B.building_id AND B.COMPANY_ID = #{company_id} LIMIT 1) AS building_name 
				, (SELECT floor FROM TBL_ZONE B WHERE a.ZONE_ID = B.ZONE_ID AND B.COMPANY_ID = #{company_id} LIMIT 1) AS FLOOR 
				, (SELECT code_name FROM TBL_COMMON_CODE B WHERE a.area_type_id = B.code AND B.company_id = #{company_id} LIMIT 1) AS area_type_name 
				, (SELECT code_name_eng FROM TBL_COMMON_CODE B WHERE a.area_type_id = B.code AND B.company_id = #{company_id} LIMIT 1) AS area_type_name_eng 
				, (SELECT reserved1 FROM TBL_COMMON_CODE B WHERE a.area_type_id = B.code AND B.company_id = #{company_id} LIMIT 1) AS color
				, CASE WHEN a.cell_name like '%터널%' THEN 'Y' ELSE 'N' END AS tunnel_yn 
       FROM TBL_CELL a
				, (
					SELECT SUM(X.zone_cnt) as zone_cnt , building_id
					FROM(
						SELECT building_id , 1 AS zone_cnt FROM TBL_CELL B 
						WHERE 1=1 
						AND company_id = #{company_id}
						GROUP BY B.building_id , B.zone_id 
					) X
					GROUP BY building_id
				) b
       WHERE 1=1
       	 AND a.building_id = b.building_id
		 AND a.building_id IS NOT NULL
		 AND a.zone_id IS NOT NULL
		<if test="company_id != null and company_id != ''">
		   AND a.company_id = #{company_id}
		</if>
		<if test="building_id != null and building_id != ''">
		   AND a.building_id = #{building_id}
		</if>
		<if test="zone_id != null and zone_id != ''">
		   AND a.zone_id = #{zone_id}
		</if>
		<if test="cell_id != null and cell_id != ''">
		   AND a.cell_id = #{cell_id}
		</if>
		<if test="sch_area_type_id != null and sch_area_type_id != ''">
		   AND a.area_type_id = #{sch_area_type_id}
		</if>
		<if test="cell_name != null and cell_name != ''">
		   AND a.cell_name LIKE CONCAT('%',#{cell_name},'%')
		</if>
		<choose>
			<when test="cellList != null and cellList.size != 0">
	            and a.cell_id in 
	            <foreach collection="cellList" item="item" index="index" separator="," open="(" close=")">
	                #{item}
	            </foreach>
	        </when>
        </choose>
        <if test='siteAreaListYn != null and siteAreaListYn eq "Y"'>
		ORDER BY a.building_id, a.zone_id, a.cell_id ASC
		</if>
		<if test="siteAreaListYn == null or siteAreaListYn == ''">
		ORDER BY a.building_id , FLOOR , SUBSTR(a.cell_name , 1, 1) ASC , SUBSTR(a.cell_name , 2, 2) ASC
		<!-- 
		2020-07-10 수정
		앞 2글자 까지만 비교하여 정렬
		ORDER BY a.building_id , FLOOR 
				, (CASE WHEN SUBSTR( a.cell_name , 1, 1) REGEXP '^[가-힣ㄱ-ㅎㅏ-ㅣ\x20]' THEN 1
		             WHEN UPPER(SUBSTR(a.cell_name , 1, 1)) REGEXP '^[A-Z]+$' THEN 2
		             WHEN SUBSTR(a.cell_name , 1, 1) REGEXP '^[0-9]+$' THEN 3
		       		 ELSE 4
		        END) DESC
		 --> 
        </if>
		 <if test="notUsePage == null or notUsePage == ''">
			LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
		</if>		 
	</select>
	
	<select id="selectCellListTotal" parameterType="AreaVO" resultType="Integer">
		SELECT COUNT(*)
		  FROM TBL_CELL a
		 WHERE 1=1
		 AND a.building_id IS NOT NULL
		 AND a.zone_id IS NOT NULL
		<if test="company_id != null and company_id != ''">
		   AND a.company_id = #{company_id}
		</if>
		<if test="building_id != null and building_id != ''">
		   AND a.building_id = #{building_id}
		</if>
		<if test="zone_id != null and zone_id != ''">
		   AND a.zone_id = #{zone_id}
		</if>
		<if test="cell_id != null and cell_id != ''">
		   AND a.cell_id = #{cell_id}
		</if>
		<if test="sch_area_type_id != null and sch_area_type_id != ''">
		   AND a.area_type_id = #{sch_area_type_id}
		</if>
		<if test="cell_name != null and cell_name != ''">
		   AND a.cell_name LIKE CONCAT('%',#{cell_name},'%')
		</if>
		<choose>
			<when test="cellList != null and cellList.size != 0">
	            and a.cell_id in 
	            <foreach collection="cellList" item="item" index="index" separator="," open="(" close=")">
	                #{item}
	            </foreach>
	        </when>
        </choose>
		
	</select>
	
	<insert id="insertCell" parameterType="AreaVO">
		INSERT INTO TBL_CELL
			( 
				company_id,
				cell_id,
				building_id,
				zone_id,
				cell_name,
				poi_id,
				coord_list,
				reg_dt,
				reg_id,
				mod_dt,
				mod_id
			)
			VALUES
			(
				#{company_id},
				#{cell_id},
				#{building_id},
				#{zone_id},
				#{cell_name},
				#{poi_id},
				#{coord_list},
				NOW(),
				#{reg_id},
				NOW(),
				#{mod_id}
			 )
	</insert>
	
	
	<update id="updateCellAreaTypeId" parameterType="AreaVO">
		UPDATE TBL_CELL
		   SET area_type_id = #{area_type_id},
				mod_dt= NOW(),
				mod_id = #{mod_id}
		 WHERE cell_id = #{cell_id}
	</update>
		
	<delete id="deleteCell" parameterType="AreaVO">
		DELETE FROM TBL_CELL WHERE cell_id = #{cell_id}
	</delete>
		
		
	<select id="selectZoneAreaList" parameterType="AreaVO" resultType="AreaVO">
		SELECT *
		  FROM TBL_ZONE
		 WHERE building_id = #{building_id}
		   AND company_id = #{company_id}
	</select>
	
	<select id="selectCellAreaList" parameterType="AreaVO" resultType="AreaVO">
		SELECT *
		  FROM TBL_CELL
		 WHERE 1 = 1
		 	<if test="building_id != null and building_id != ''">
		 	AND building_id = #{building_id}
		 	</if>
			<if test="zone_id != null and zone_id != ''">
			AND zone_id = #{zone_id}
			</if>
			<if test="company_id != null and company_id != ''">
			AND company_id = #{company_id}
			</if>
	</select>
	
	<select id="selectCellDetail" parameterType="AreaVO" resultType="AreaVO">
		SELECT *
			    , (SELECT building_name FROM TBL_BUILDING B WHERE A.building_id = B.building_id AND B.COMPANY_ID = #{company_id} LIMIT 1) AS building_name 
				, (SELECT floor FROM TBL_ZONE B WHERE A.ZONE_ID = B.ZONE_ID AND B.COMPANY_ID = #{company_id} LIMIT 1) AS FLOOR 
		  FROM TBL_CELL A
		 WHERE company_id = #{company_id}
		   <if test="cell_id != null and cell_id != ''">
		   AND cell_id = #{cell_id}
		   </if>
		   <if test="poi_id != null and poi_id != ''">
		   AND poi_id = #{poi_id}
		   </if>
	</select>
	
	<select id="selectCooperatorWorkerList" parameterType="WorkerVO" resultType="WorkerVO">
		SELECT C.code_name AS cooperator_name
			 , C.cooperator_id
			 , SUM(C.tag_sum) AS tag_cnt
			 , SUM(C.total_cnt) AS total_cnt
		  FROM (
				SELECT A.code_name
					 , B.cooperator_id
					 , CASE WHEN B.device_no IS NULL THEN 0 WHEN B.device_no = '' THEN 0 ELSE 1 END AS tag_sum
					 , 1 AS total_cnt
				  FROM TBL_COMMON_CODE A, TBL_WORKER B
				 WHERE 1=1
				   AND A.company_id = #{company_id}
				   AND B.company_id = #{company_id}
				   AND A.code_type_id = #{code_type_id}
				   AND B.cooperator_id = A.code
				   AND B.worker_del_yn = 'N'
				   <if test="cooperator_name != null and cooperator_name != ''">
				   AND A.code_name LIKE CONCAT('%',#{cooperator_name},'%')
				   </if>
				) C
		 GROUP BY cooperator_name, cooperator_id
		 <if test="notUsePage == null or notUsePage == ''">
			LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
		</if>
	</select>
	
	<select id="selectCooperatorWorkerListTotal" parameterType="WorkerVO" resultType="Integer">
		SELECT COUNT(D.cooperator_name)
		  FROM (
				SELECT C.code_name AS cooperator_name
					 , C.cooperator_id
					 , SUM(C.tag_sum) AS tag_cnt
					 , SUM(C.total_cnt) AS total_cnt
				  FROM (
						SELECT A.code_name
							 , B.cooperator_id
							 , CASE WHEN B.device_no IS NULL THEN 0 WHEN B.device_no = '' THEN 0 ELSE 1 END AS tag_sum
							 , 1 AS total_cnt
								  FROM TBL_COMMON_CODE A, TBL_WORKER B
								 WHERE 1=1
								   AND A.company_id = #{company_id}
								   AND B.company_id = #{company_id}
								   AND A.code_type_id = #{code_type_id}
								   AND B.cooperator_id = A.code
								   AND B.worker_del_yn = 'N'
								   <if test="cooperator_name != null and cooperator_name != ''">
								   AND A.code_name LIKE CONCAT('%',#{cooperator_name},'%')
								   </if>
						) C
				 GROUP BY cooperator_name, cooperator_id
				) D
	</select>
	
</mapper>