<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="auditLog" >
	<insert id="insertAuditLog" parameterType="AuditLogVO">
		INSERT INTO TBL_AUDIT_LOG
			( 
				account_id,
				request_uri,
				request_body,
				client_ip,
				browser_info,
				reg_dt
			)
			VALUES
			(
				#{account_id},
				#{request_uri},
				#{request_body},
				#{client_ip},
				#{browser_info},
				NOW()
			 )
	</insert>
	
	<select id="selectAuditLog" parameterType="AuditLogVO" resultType="AuditLogVO">
		SELECT *
		  FROM TBL_AUDIT_LOG
		 WHERE 1=1
		 
		<if test="account_id != null and account_id != ''">
		   AND account_id = #{account_id}
		</if>
		 
		<if test="request_uri != null and request_uri != ''">
		   AND request_uri LIKE CONCAT('%',#{request_uri},'%')
		</if>
		<if test="request_body != null and request_body != ''">
		   AND request_body LIKE CONCAT('%',#{request_body},'%')
		</if>
		<if test="client_ip != null and client_ip != ''">
		   AND client_ip LIKE CONCAT('%',#{client_ip},'%')
		</if>
		<if test="browser_info != null and browser_info != ''">
		   AND browser_info LIKE CONCAT('%',#{browser_info},'%')
		</if>
		 <if test="notUsePage == null or notUsePage == ''">
			LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
		</if>		 
	</select>
	
</mapper>