<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="business" >
	<select id="selectBusinessList" parameterType="BusinessVO" resultType="BusinessVO">
		SELECT *
		  FROM TBL_BUSINESS
		LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
	</select>
	
	<select id="selectBusinessListTotal" parameterType="BusinessVO" resultType="Integer">
		SELECT COUNT(*)
		  FROM TBL_BUSINESS
	</select>
	
	<select id="selectBusinessListAll" parameterType="BusinessVO" resultType="BusinessVO">
		SELECT *
		  FROM TBL_BUSINESS
	</select>
	
	<insert id="insertBusiness" parameterType="BusinessVO">
		INSERT INTO TBL_BUSINESS
			( 
				company_id,
				construction_id,
				business_id,
				business_name,
				business_name_eng,
				business_number,
				reg_dt,
				reg_id,
				mod_dt,
				mod_id
			)
			VALUES
			(
				#{company_id},
				#{construction_id},
				#{business_id},
				#{business_name},
				#{business_name_eng},
				#{business_number},
				NOW(),
				#{reg_id},
				NOW(),
				#{mod_id}
			 )
	</insert>
	
	<update id="updateBusiness" parameterType="BusinessVO">
		UPDATE TBL_BUSINESS
		   SET company_id= #{company_id},
				construction_id= #{construction_id},
				business_id= #{business_id},
				business_name= #{business_name},
				business_name_eng= #{business_name_eng},
				business_number= #{business_number},
				mod_dt= NOW(),
				mod_id = #{mod_id}
		 WHERE business_id = #{business_id}
	</update>
	
	<delete id="deleteBusiness" parameterType="BusinessVO">
		DELETE FROM TBL_BUSINESS WHERE business_id = #{business_id}
	</delete>
	
	<select id="selectBusinessDetail" parameterType="BusinessVO" resultType="BusinessVO">
		SELECT *
		  FROM TBL_BUSINESS
		 WHERE business_id = #{business_id}
	</select>
</mapper>