<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cctv" >
	
	<select id="selectCctvList" parameterType="CctvVO" resultType="CctvVO">
		SELECT *
		  FROM TBL_DEVICE_CCTV A
		 WHERE A.company_id = #{company_id}
		 AND   A.mac_addr IS NULL
		 ORDER BY A.channel_no ASC
	</select>
	
	<select id="selectCctvListTotal" parameterType="CctvVO" resultType="Integer">
		SELECT COUNT(*)
		  FROM TBL_DEVICE_CCTV A
		 WHERE A.company_id = #{company_id}
		  AND  A.mac_addr IS NULL
	</select>
	
	<select id="selectCctv" parameterType="CctvVO" resultType="CctvVO">
		SELECT *
		  FROM TBL_DEVICE_CCTV A
		 WHERE A.company_id = #{company_id}
		   AND A.channel_no = #{channel_no}
		   AND A.mac_addr IS NULL
	</select>
	
	<insert id="insertCctv" parameterType="CctvVO">
		INSERT INTO TBL_DEVICE_CCTV
			( 
				company_id,
				channel_cnt,
				channel_no,
				channel_name,
				cctv_url,
				cctv_id,
				cctv_pwd,
				cctv_ip1,
				cctv_ip2,
				cctv_ip3,
				cctv_ip4,
				tcp_port,
				rtsp_port,
				rtmp_port,
				cctv_area,
				ptz_use_yn,
				status,
				reg_dt,
				reg_id,
				mod_dt,
				mod_id
			)
			VALUES
			(
				#{company_id},
				#{channel_cnt},
				#{channel_no},
				#{channel_name},
				#{cctv_url},
				#{cctv_id},
				#{cctv_pwd},
				#{cctv_ip1},
				#{cctv_ip2},
				#{cctv_ip3},
				#{cctv_ip4},
				#{tcp_port},
				#{rtsp_port},
				#{rtmp_port},
				#{cctv_area},
				#{ptz_use_yn},
				#{status},
				NOW(),
				#{reg_id},
				NOW(),
				#{mod_id}
			 )
	</insert>
	
	<delete id="deleteCctv" parameterType="CctvVO">
		DELETE FROM TBL_DEVICE_CCTV 
		WHERE company_id = #{company_id}
		<if test="channel_no != null and channel_no != ''">
		AND channel_no = #{channel_no}
		</if>
	</delete>
	
	<update id="updateCctv" parameterType="CctvVO">
		UPDATE TBL_DEVICE_CCTV
		   SET channel_cnt = #{channel_cnt},
			   cctv_ip1 = #{cctv_ip1},
			   cctv_ip2 = #{cctv_ip2},
			   cctv_ip3 = #{cctv_ip3},
			   cctv_ip4 = #{cctv_ip4},
			   tcp_port = #{tcp_port},
			   rtsp_port = #{rtsp_port},
			   rtmp_port = #{rtmp_port},
			   cctv_id = #{cctv_id},
			   cctv_pwd = #{cctv_id},
			   ptz_use_yn = #{ptz_use_yn},
			   mod_dt = NOW(),
			   mod_id = #{mod_id}
		 WHERE company_id = #{company_id}
	</update>
	
	<update id="updateCctvInfo" parameterType="CctvVO">
		UPDATE TBL_DEVICE_CCTV
		SET    
			   mod_dt = NOW(),
			   mod_id = #{mod_id}
			   <if test="cctv_area != null and cctv_area != ''">
			   , cctv_area = #{cctv_area}
			   </if>
			   <if test="channel_cnt != null and channel_cnt != ''">
			   , channel_cnt = #{channel_cnt}
			   </if>
			   <if test="cctv_url != null and cctv_url != ''">
			   , cctv_url = #{cctv_url}
			   </if>
			   <if test="cctv_id != null and cctv_id != ''">
			   , cctv_id = #{cctv_id}
			   </if>
			   <if test="cctv_pwd != null and cctv_pwd != ''">
			   , cctv_pwd = #{cctv_pwd}
			   </if>
			   <if test="rtsp_port != null and rtsp_port != ''">
			   , rtsp_port = #{rtsp_port}
			   </if>
			   <if test="ptz_use_yn != null and ptz_use_yn != ''">
			   , ptz_use_yn = #{ptz_use_yn}
			   </if>
			   <if test="rtmp_port != null and rtmp_port != ''">
			   , rtmp_port = #{rtmp_port}
			   </if>
		WHERE  company_id = #{company_id}
	    AND    channel_no = #{channel_no}
	</update>
	
</mapper>