<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="community" >
	
	<insert id="insertCommunity" parameterType="CommunityVO">
		INSERT INTO TB_COMMUNITY (
				course_id,
				community_text,
				member_email,
				member_name,
				updt_date,
				reg_date
			)
			VALUES
			(
				#{course_id},
				#{community_text},
				#{member_email},
				#{member_name},
				NOW(),
				NOW()
			 )
	</insert>
	
	
	<update id="updateCommunity" parameterType="CommunityVO">
		 UPDATE TB_COMMUNITY
		    SET community_text = #{community_text}
		   	   , updt_date = NOW()
		 WHERE community_id = #{community_id}
	</update>
	
	<update id="updateCommunityCommentCount" parameterType="CommunityVO">
		 UPDATE TB_COMMUNITY
		    SET community_comment_count = (community_comment_count+1)
		 WHERE community_id = #{community_id}
	</update>
	
	<update id="updateCommunityCommentCount2" parameterType="CommunityVO">
		 UPDATE TB_COMMUNITY
		    SET community_comment_count = (community_comment_count-1)
		 WHERE community_id = #{community_id}
	</update>
	
	<update id="updateCommunityLikeCount" parameterType="CommunityVO">
		 UPDATE TB_COMMUNITY
		    SET community_like_count = (community_like_count+1)
		 WHERE community_id = #{community_id}
	</update>
	
	<update id="updateCommunityLikeCount2" parameterType="CommunityVO">
		 UPDATE TB_COMMUNITY
		    SET community_like_count = (community_like_count-1)
		 WHERE community_id = #{community_id}
	</update>
	
	<update id="updateCommunityScrapCount" parameterType="CommunityVO">
		 UPDATE TB_COMMUNITY
		    SET community_scrap_count = (community_scrap_count+1)
		 WHERE community_id = #{community_id}
	</update>
	
	<update id="updateCommunityScrapCount2" parameterType="CommunityVO">
		 UPDATE TB_COMMUNITY
		    SET community_scrap_count = (community_scrap_count-1)
		 WHERE community_id = #{community_id}
	</update>
	
	<delete id="deleteCommunity" parameterType="CommunityVO">
		 DELETE FROM TB_COMMUNITY 
		WHERE community_id = #{community_id}
	</delete>
	
	<select id="selectCommunityList" parameterType="CommunityVO" resultType="CommunityVO">
		SELECT A.*, B.course_name
		  FROM TB_COMMUNITY A, TB_COURSE B
		WHERE A.course_id = B.course_id
		  <if test="company_id != null and company_id != ''">
		   AND A.company_id = #{company_id}
		 </if>
		 <if test="course_id != null and course_id != ''">
		   AND A.course_id = #{course_id}
		 </if>
		ORDER BY A.community_id DESC
	</select>
	
	<select id="selectCommunityDetail" parameterType="CommunityVO" resultType="CommunityVO">
		SELECT A.*, B.course_name
		  FROM TB_COMMUNITY A, TB_COURSE B
		WHERE A.course_id = B.course_id
		 AND A.community_id = #{community_id}
	</select>
</mapper>

