<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="comment" >
	
	<insert id="insertComment" parameterType="CommentVO">
		INSERT INTO TB_COMMENT (
				comment_type,
				parent_id,
				comment_text,
				member_email,
				member_name,
				company_id,
				updt_date,
				regi_date
			)
			VALUES
			(
				#{comment_type},
				#{parent_id},
				#{comment_text},
				#{member_email},
				#{member_name},
				#{company_id},
				NOW(),
				NOW()
			 )
	</insert>
	
	
	<update id="updateComment" parameterType="CommentVO">
		 UPDATE TB_COMMENT
		    SET comment_text = #{comment_text}
		   	   , updt_date = NOW()
		 WHERE comment_id = #{comment_id}
	</update>
	
	<update id="updateCommentLikeCount" parameterType="CommentVO">
		 UPDATE TB_COMMENT
		    SET comment_like_count = (comment_like_count+1)
		 WHERE comment_id = #{comment_id}
	</update>
	
	<update id="updateCommentLikeCount2" parameterType="CommentVO">
		 UPDATE TB_COMMENT
		    SET comment_like_count = (comment_like_count-1)
		 WHERE comment_id = #{comment_id}
	</update>
	
	<update id="updateCommentScrapCount" parameterType="CommentVO">
		 UPDATE TB_COMMENT
		    SET comment_scrap_count = (comment_scrap_count+1)
		 WHERE comment_id = #{comment_id}
	</update>
	
	<update id="updateCommentScrapCount2" parameterType="CommentVO">
		 UPDATE TB_COMMENT
		    SET comment_scrap_count = (comment_scrap_count-1)
		 WHERE comment_id = #{comment_id}
	</update>
	
	<delete id="deleteComment" parameterType="CommentVO">
		 DELETE FROM TB_COMMENT 
		WHERE comment_id = #{comment_id}
	</delete>
	
	<select id="selectCommentList" parameterType="CommentVO" resultType="CommentVO">
		SELECT *
			, (SELECT company_name FROM TB_SITE WHERE company_id = #{company_id} LIMIT 1) AS company_name
		  FROM TB_COMMENT
		WHERE 1=1
		<if test="member_email != null and member_email != ''">
		   AND member_email = #{member_email}
		 </if>
		 <if test="comment_type != null and comment_type != ''">
		   AND comment_type = #{comment_type}
		 </if>
		 <if test="parent_id != null and parent_id != ''">
		   AND parent_id = #{parent_id}
		 </if>
		ORDER BY comment_id DESC
	</select>
	
	<select id="selectCommentDetail" parameterType="CommentVO" resultType="CommentVO">
		SELECT *
			 , (SELECT company_name FROM TB_SITE WHERE company_id = #{company_id} LIMIT 1) AS company_name
		  FROM TB_COMMENT
		WHERE comment_id = #{comment_id}
	</select>
</mapper>

