<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="contents" >
	
	<insert id="insertContents" parameterType="ContentsVO">
		INSERT INTO TB_CONTENTS (
				contents_name,
				contents_main,
				contents_people,
				company_id,
				contents_image1,
				updt_date,
				reg_date
			)
			VALUES
			(
				#{contents_name},
				#{contents_main},
				#{contents_people},
				#{company_id},
				#{contents_image1},
				NOW(),
				NOW()
			 )
		<selectKey keyProperty="contents_id" resultType="String">
	        SELECT LAST_INSERT_ID()
	    </selectKey>
	</insert>
	
	<insert id="insertContentsDetail" parameterType="ContentsVO">
		INSERT INTO TB_CONTENTS_DETAIL (
				contents_id,
				contents_detail_id,
				contents_detail_html,
				contents_detail_name
			)
			VALUES
			(
				#{contents_id},
				#{contents_detail_id},
				#{contents_detail_html},
				#{contents_detail_name}
			 )
			 ON DUPLICATE KEY UPDATE
			 contents_detail_html = #{contents_detail_html},
			 contents_detail_name = #{contents_detail_name}
	</insert>
	
	<delete id="deleteContentsDetail" parameterType="ContentsVO">
		DELETE FROM TB_CONTENTS_DETAIL 
		WHERE contents_detail_id = #{contents_detail_id}
	</delete>
	
	<delete id="deleteContents" parameterType="ContentsVO">
		DELETE FROM TB_CONTENTS 
		WHERE contents_id = #{contents_id}
	</delete>
	
	
	<update id="updateContents" parameterType="ContentsVO">
		 UPDATE TB_CONTENTS
		    SET contents_name = #{contents_name}
		       , contents_people = #{contents_people}
		       , company_id = #{company_id}
		       , contents_image1 = #{contents_image1}
		   	   , updt_date = NOW()
		 WHERE contents_id = #{contents_id}
	</update>
	
	<update id="updateBedge" parameterType="ContentsVO">
		 UPDATE TB_CONTENTS
		    SET contents_main = #{contents_main}
		 WHERE contents_id = #{contents_id}
	</update>
	
	<select id="selectContentsList" parameterType="ContentsVO" resultType="ContentsVO">
		SELECT *
		  FROM TB_CONTENTS
		WHERE company_id = #{company_id}
	</select>
	
	<select id="selectMobileContentsList" parameterType="ContentsVO" resultType="ContentsVO">
		SELECT *
		  FROM TB_CONTENTS
		WHERE contents_main = #{contents_main}
	</select>
	
	<select id="selectMobileContentsTotalList" parameterType="ContentsVO" resultType="ContentsVO">
		SELECT *
		  FROM TB_CONTENTS
	</select>
	
	<select id="selectContentsDetailList" parameterType="ContentsVO" resultType="ContentsVO">
		SELECT *
		  FROM TB_CONTENTS_DETAIL
		 WHERE contents_id = #{contents_id}
	</select>
	
	<select id="selectContentsDetail" parameterType="ContentsVO" resultType="ContentsVO">
		SELECT *
		  FROM TB_CONTENTS_DETAIL
		 WHERE contents_id = #{contents_id}
		   AND contents_detail_id = #{contents_detail_id}
	</select>
	
	<select id="selectContents" parameterType="ContentsVO" resultType="ContentsVO">
		SELECT *
		  FROM TB_CONTENTS
		 WHERE contents_id = #{contents_id}
	</select>
</mapper>

