<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cooperator" >
	<select id="selectCooperatorList" parameterType="CooperatorVO" resultType="CooperatorVO">
		SELECT A.*
		FROM TBL_COOPERATOR A
		WHERE 1=1
	    <if test="searchName != null and searchName != ''">
	    AND ( cooperator_name LIKE CONCAT('%',#{searchName},'%') OR cooperator_name_eng LIKE CONCAT('%',#{searchName},'%') )
	    </if>
        <!-- ORDER BY reg_dt DESC, cooperator_name ASC -->
	    ORDER BY (CASE WHEN SUBSTR(${order_column}, 1, 1) REGEXP '^[가-힣ㄱ-ㅎㅏ-ㅣ\x20]' THEN 1
	                WHEN UPPER(SUBSTR(${order_column}, 1, 1)) REGEXP '^[A-Z]+$' THEN 2
	                WHEN SUBSTR(${order_column}, 1, 1) REGEXP '^[0-9]+$' THEN 3
			        ELSE 4
	           END) ASC, ${order_column} ${order_type} , cooperator_name ASC
	           <if test="order_column != null and order_column != 'A.reg_dt'">
	           , ${base_order_column} ${base_order_type}
	           </if>
		LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
	</select>
	
	<select id="selectCooperatorListTotal" parameterType="CooperatorVO" resultType="Integer">
		SELECT COUNT(*)
		  FROM TBL_COOPERATOR
		 WHERE 1=1
		 <if test="searchName != null and searchName != ''">
	    AND ( cooperator_name LIKE CONCAT('%',#{searchName},'%') OR cooperator_name_eng LIKE CONCAT('%',#{searchName},'%') )
	    </if>
	</select>
	
	<select id="selectCooperatorListAll" parameterType="CooperatorVO" resultType="CooperatorVO">
		SELECT *
		  FROM TBL_COOPERATOR
         ORDER BY (CASE WHEN SUBSTR(cooperator_name, 1, 1) REGEXP '^[가-힣ㄱ-ㅎㅏ-ㅣ\x20]' THEN 1
                        WHEN UPPER(SUBSTR(cooperator_name, 1, 1)) REGEXP '^[A-Z]+$' THEN 2
                        WHEN SUBSTR(cooperator_name, 1, 1) REGEXP '^[0-9]+$' THEN 3
                        ELSE 4
                   END) ASC, cooperator_name ASC
	</select>
	
	<insert id="insertCooperator" parameterType="CooperatorVO">
		INSERT INTO TBL_COOPERATOR
			( 
				company_id,
				construction_id,
				<!-- business_id, -->
				cooperator_name,
				cooperator_name_eng,
				business_number,
				owner,
				tel,
				reg_dt,
				reg_id,
				mod_dt,
				mod_id
			)
			VALUES
			(
				#{company_id},
				#{construction_id},
				<!-- #{business_id}, -->
				#{cooperator_name},
				#{cooperator_name_eng},
				#{business_number},
				#{owner},
				#{tel},
				NOW(),
				#{reg_id},
				NOW(),
				#{mod_id}
			 )
	</insert>
	
	<update id="updateCooperator" parameterType="CooperatorVO">
		UPDATE TBL_COOPERATOR
		SET
		   		<if test="company_id != null and company_id != ''">
		   	    company_id= #{company_id},
		   		</if>
		   		<if test="construction_id != null and construction_id != ''">
				construction_id= #{construction_id},
				</if>
				<if test="business_id != null and business_id != ''">
				business_id= #{business_id},
				</if>
				cooperator_name= #{cooperator_name},
				cooperator_name_eng= #{cooperator_name_eng},
				business_number= #{business_number},
				<if test="mod_id != null and mod_id != ''">
				mod_id = #{mod_id},
				</if>
				owner = #{owner},
				<if test="tel != null and tel != ''">
				tel = #{tel},
				</if>
				mod_dt = NOW()
		 WHERE cooperator_id = #{cooperator_id}
	</update>
	
	<delete id="deleteCooperator" parameterType="CooperatorVO">
		DELETE FROM TBL_COOPERATOR WHERE cooperator_id = #{cooperator_id}
	</delete>
	
	<select id="selectCooperatorDetail" parameterType="CooperatorVO" resultType="hashmap">
		SELECT *
		  FROM TBL_COOPERATOR
		 WHERE cooperator_id = #{cooperator_id}
	</select>
	
	<select id="selectCooperatorDetail2" parameterType="CooperatorVO" resultType="CooperatorVO">
		SELECT *
		  FROM TBL_COOPERATOR
		 WHERE cooperator_id = #{cooperator_id}
	</select>
	
	
	<select id="checkCooperator" parameterType="CooperatorVO" resultType="Integer">
		SELECT COUNT(*)
		  FROM TBL_COOPERATOR
		 WHERE cooperator_name = '고객사'
	</select>
	
	<select id="selectCoBusinessNum" parameterType="CooperatorVO" resultType="CooperatorVO">
		SELECT * FROM TBL_COOPERATOR A
		WHERE business_number = #{business_number}
	</select>
	
</mapper>