<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="course" >
	
	<insert id="insertCourse" parameterType="CourseVO">
		INSERT INTO TB_COURSE (
				company_id,
				course_name,
				course_image1,
				course_image2,
				course_main,
				course_time,
				course_people,
				course_text,
				start_date,
				end_date,
				updt_date,
				reg_date
			)
			VALUES
			(
				#{company_id},
				#{course_name},
				#{course_image1},
				#{course_image2},
				#{course_main},
				#{course_time},
				#{course_people},
				#{course_text},
				#{start_date},
				#{end_date},
				NOW(),
				NOW()
			 )
	</insert>
	
	
	<update id="updateCourse" parameterType="CourseVO">
		 UPDATE TB_COURSE
		    SET course_name = #{course_name}
		       , course_image1 = #{course_image1}
		       , course_image2 = #{course_image2}
		       , course_main = #{course_main}
		       , course_time = #{course_time}
		       , course_text = #{course_text}
		   	   , updt_date = NOW()
		 WHERE course_id = #{course_id}
	</update>
	
	<delete id="deleteCourse" parameterType="CourseVO">
		 DELETE FROM TB_COURSE 
		WHERE course_id = #{course_id}
	</delete>
	
	<update id="updateMain" parameterType="CourseVO">
		 UPDATE TB_COURSE
		    SET course_main = #{course_main}
		 WHERE course_id = #{course_id}
	</update>
	
	<update id="updateCourseGroup" parameterType="CourseVO">
		 UPDATE TB_COURSE
		    SET course_group = #{course_group}
		 WHERE course_id = #{course_id}
	</update>
	
	
	<select id="selectCourseList" parameterType="CourseVO" resultType="CourseVO">
		SELECT (
			SELECT COMPANY_NAME
			  FROM TB_SITE
			 WHERE company_id = '0'
			 LIMIT 1
		) AS company_name
		, course_id
		, course_name
		, course_image1
		, course_image2
		, course_main
		, course_text
		, start_date
		, end_date
		, reg_date
		, updt_date
		  FROM TB_COURSE
		 WHERE company_id = '0'
		UNION ALL
		SELECT (
			SELECT COMPANY_NAME
			  FROM TB_SITE
			 WHERE company_id = #{company_id}
			 LIMIT 1
		) AS company_name
		, course_id
		, course_name
		, course_image1
		, course_image2
		, course_main
		, course_text
		, start_date
		, end_date
		, reg_date
		, updt_date
		  FROM TB_COURSE
		WHERE company_id = #{company_id}
		  and company_id != '0'
		ORDER BY course_main, course_id
	</select>
	
	<select id="selectMobileCourseList" parameterType="CourseVO" resultType="CourseVO">
		SELECT *
		  FROM TB_COURSE
		WHERE course_main = #{course_main}
	</select>
	
	<select id="selectMobileCourseTotalList" parameterType="CourseVO" resultType="CourseVO">
		SELECT *
		  FROM TB_COURSE
	</select>
	
	<select id="selectCourseDetail" parameterType="CourseVO" resultType="CourseVO">
		SELECT *
		  FROM TB_COURSE
		 WHERE course_id = #{course_id}
		 ORDER BY course_id DESC
	</select>
	
	<select id="selectCourseDetailList" parameterType="CourseVO" resultType="CourseVO">
		SELECT *
		  FROM TB_COURSE_DETAIL
		 WHERE course_id = #{course_id}
		 ORDER BY course_id DESC
	</select>
	
	<select id="selectCourseId" parameterType="CourseVO" resultType="CourseVO">
		SELECT *
		  FROM TB_COURSE
		 ORDER BY course_id DESC
		 LIMIT 1
	</select>
	
	<update id="updateBedge" parameterType="ContentsVO">
		 UPDATE TB_COURSE
		    SET course_main = #{course_main}
		 WHERE course_id = #{course_id}
	</update>
	
	<select id="selectCourseContentsList" parameterType="CourseVO" resultType="CourseVO">
		SELECT *
		  FROM TB_COURSE_CONTENTS
		 WHERE course_id = #{course_id}
		 ORDER BY contents_id ASC
	</select>
	
	<delete id="deleteCourseContents" parameterType="CourseVO">
		 DELETE FROM TB_COURSE_CONTENTS
		WHERE course_id = #{course_id}
	</delete>
	
	<insert id="insertCourseContents" parameterType="CourseVO">
		INSERT INTO TB_COURSE_CONTENTS (
				course_id,
				contents_id
			)
			VALUES
			(
				#{course_id},
				#{contents_id}
			 )
	</insert>
	
	
</mapper>

