<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="environment" >
	
	<select id="selectLastSkpCollectWeather" parameterType="EnvironmentVO" resultType="EnvironmentVO">
		<![CDATA[
		SELECT C.temperature_tc, C.humidity, C.heat_index
			 , C.rain_since_one_time, C.wind_wspd, C.wind_wdir_name
			 , CASE WHEN C.heat_index_threshold_yn = 'Y' OR C.rain_since_one_time_threshold_yn = 'Y' OR C.wind_wspd_threshold_yn = 'Y' THEN 'Y' ELSE 'N' END AS threshold_yn
			 , DATE_FORMAT(C.time_observation, '%Y.%m.%d %H:%i') AS weather_time_observation
			 , C.time_observation
			 , C.heat_index_threshold_yn
		     , C.rain_since_one_time_threshold_yn
		     , C.wind_wspd_threshold_yn
		     , C.last1hour
		     , C.last3hour
		  FROM (
				SELECT B.temperature_tc
					 , B.humidity
					 , B.heat_index
					 , B.rain_since_one_time
					 , B.wind_wspd
					 , B.wind_wdir_name
					 , B.heat_index_threshold
					 , B.rain_since_one_time_threshold
					 , B.wind_wdir_threshold
					 , CASE WHEN CAST(B.heat_index AS UNSIGNED) > CAST(B.heat_index_threshold AS UNSIGNED) THEN 'Y' ELSE 'N' END AS heat_index_threshold_yn
					 , CASE WHEN B.last3hour >= B.rain_since_one_time_threshold THEN 'Y' ELSE 'N' END AS rain_since_one_time_threshold_yn
					 , CASE WHEN B.wind_wspd + 0.0 > B.wind_wdir_threshold + 0.0 THEN 'Y' ELSE 'N' END AS wind_wspd_threshold_yn
					 , B.time_observation
					 , B.last1hour
					 , B.last3hour
				  FROM ( SELECT A.temperature_tc
							 , A.humidity
							 , A.heat_index
							 , A.rain_since_one_time
							 , A.wind_wspd
							 , A.wind_wdir_name
							 , A.time_observation
							 , (SELECT Z.threshold FROM TBL_SKP_THRESHOLD Z WHERE Z.company_id = #{company_id} AND Z.threshold_type = '1') AS heat_index_threshold
							 , (SELECT Z.threshold FROM TBL_SKP_THRESHOLD Z WHERE Z.company_id = #{company_id} AND Z.threshold_type = '2') AS rain_since_one_time_threshold
							 , (SELECT Z.threshold FROM TBL_SKP_THRESHOLD Z WHERE Z.company_id = #{company_id} AND Z.threshold_type = '3') AS wind_wdir_threshold
							 , A.last1hour
							 , A.last3hour
						  FROM (SELECT temperature_tc
									 , humidity
									 , heat_index
									 , rain_since_one_time
									 , wind_wspd
									 , wind_wdir_name
									 , time_observation
									 , last1hour
									 , last3hour
								  FROM TBL_SKP_COLLECT_WEATHER
								  WHERE 1=1
									AND company_id = #{company_id}					    
									AND time_observation = (SELECT MAX(time_observation) FROM TBL_SKP_COLLECT_WEATHER WHERE company_id = #{company_id})
								) A
						)B
				) C
			]]>
	</select>
	
	<select id="selectLastSkpCollectIot" parameterType="EnvironmentVO" resultType="EnvironmentVO">
		SELECT    X.*
				  <![CDATA[
				, CASE WHEN CAST(( SELECT COALESCE(MAX(B.threshold),0) FROM TBL_SKP_THRESHOLD B WHERE B.company_id = #{company_id} AND B.threshold_type = '4') AS UNSIGNED) < CAST(X.value1 AS UNSIGNED) THEN 'Y'
					   WHEN CAST(( SELECT COALESCE(MAX(B.threshold),0) FROM TBL_SKP_THRESHOLD B WHERE B.company_id = #{company_id} AND B.threshold_type = '5') AS UNSIGNED) < CAST(X.value2 AS UNSIGNED) THEN 'Y'
	  				   WHEN CAST(( SELECT COALESCE(MAX(B.threshold),0) FROM TBL_SKP_THRESHOLD B WHERE B.company_id = #{company_id} AND B.threshold_type = '6') AS UNSIGNED) < CAST(X.value3 AS UNSIGNED) THEN 'Y'
				       ELSE 'N'
				       END threshold_yn
				  ]]>
		FROM (
				SELECT 
						  A.skp_sensor_name
						, A.company_id
						, A.skp_collection_result_id
						, A.skp_sensor_id
						, COALESCE(A.skp_device_id,1) skp_device_id
						, A.time_observation
						, A.unit
						, A.value
						, A.type
						, ( SELECT B.value FROM TBL_SKP_COLLECT_IOTSENSOR B WHERE B.skp_sensor_id = A.skp_sensor_id AND B.company_id = A.company_id AND B.type = 'PM1.0' 
						    AND B.time_observation = (SELECT MAX(Z.time_observation) FROM TBL_SKP_COLLECT_IOTSENSOR Z WHERE Z.company_id = B.company_id AND Z.skp_sensor_id = B.skp_sensor_id AND Z.`type` = 'PM1.0' AND Z.time_observation >= DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{day_minute} DAY_MINUTE), '%Y%m%d%H%i%s')) 
						  ) AS value1
						, ( SELECT B.value FROM TBL_SKP_COLLECT_IOTSENSOR B WHERE B.skp_sensor_id = A.skp_sensor_id AND B.company_id = A.company_id AND B.type = 'PM2.5' 
						    AND B.time_observation = (SELECT MAX(Z.time_observation) FROM TBL_SKP_COLLECT_IOTSENSOR Z WHERE Z.company_id = B.company_id AND Z.skp_sensor_id = B.skp_sensor_id AND Z.`type` = 'PM2.5' AND Z.time_observation >=  DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{day_minute} DAY_MINUTE), '%Y%m%d%H%i%s')) 
						  ) AS value2
						, ( SELECT B.value FROM TBL_SKP_COLLECT_IOTSENSOR B WHERE B.skp_sensor_id = A.skp_sensor_id AND B.company_id = A.company_id AND B.type = 'PM10' 
						    AND B.time_observation = (SELECT MAX(Z.time_observation) FROM TBL_SKP_COLLECT_IOTSENSOR Z WHERE Z.company_id = B.company_id AND Z.skp_sensor_id = B.skp_sensor_id AND Z.`type` = 'PM10' AND Z.time_observation >=  DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{day_minute} DAY_MINUTE), '%Y%m%d%H%i%s')) 
						  ) AS value3
				FROM   TBL_SKP_COLLECT_IOTSENSOR A
				WHERE A.company_id = #{company_id}
				AND A.time_observation >=  DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{day_hour} DAY_HOUR), '%Y%m%d%H%i%s')
				GROUP BY A.skp_sensor_id , COALESCE(A.skp_device_id,1) 
				) X
	</select>
	
	
	<select id="selectIOTSensorTypeLastTimeAll" parameterType="EnvironmentVO" resultType="EnvironmentVO">
		SELECT 
				(
					SELECT MAX(B.time_observation)
					FROM TBL_SKP_COLLECT_IOTSENSOR B 
					WHERE B.skp_sensor_id = A.skp_sensor_id
					AND B.company_id = A.company_id
					AND B.type = 'PM1.0'
					AND B.time_observation > DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{day_minute} DAY_MINUTE), '%Y%m%d%H%i%s')
				) AS type1_last_time_observation
				,
				(
					SELECT MAX(B.time_observation)
					FROM TBL_SKP_COLLECT_IOTSENSOR B 
					WHERE B.skp_sensor_id = A.skp_sensor_id
					AND B.company_id = A.company_id
					AND B.type = 'PM2.5'
					AND B.time_observation > DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{day_minute} DAY_MINUTE), '%Y%m%d%H%i%s')
				) AS type2_last_time_observation
				,
				(
					SELECT MAX(B.time_observation)
					FROM TBL_SKP_COLLECT_IOTSENSOR B 
					WHERE B.skp_sensor_id = A.skp_sensor_id
					AND B.company_id = A.company_id
					AND B.type = 'PM10'
					AND B.time_observation > DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{day_minute} DAY_MINUTE), '%Y%m%d%H%i%s')
				) AS type3_last_time_observation
		FROM TBL_SKP_COLLECT_IOTSENSOR A
		WHERE A.company_id = #{company_id}
		AND A.skp_sensor_id = #{skp_sensor_id}
		LIMIT 1
	</select>
	
	
	
	
	<select id="selectLastSkpCollectIot2" parameterType="EnvironmentVO" resultType="EnvironmentVO">
		SELECT    X.*
				  <![CDATA[
				, CASE WHEN CAST(( SELECT COALESCE(MAX(B.threshold),0) FROM TBL_SKP_THRESHOLD B WHERE B.company_id = #{company_id} AND B.threshold_type = '4') AS UNSIGNED) < CAST(X.value1 AS UNSIGNED) THEN 'Y'
					   WHEN CAST(( SELECT COALESCE(MAX(B.threshold),0) FROM TBL_SKP_THRESHOLD B WHERE B.company_id = #{company_id} AND B.threshold_type = '5') AS UNSIGNED) < CAST(X.value2 AS UNSIGNED) THEN 'Y'
	  				   WHEN CAST(( SELECT COALESCE(MAX(B.threshold),0) FROM TBL_SKP_THRESHOLD B WHERE B.company_id = #{company_id} AND B.threshold_type = '6') AS UNSIGNED) < CAST(X.value3 AS UNSIGNED) THEN 'Y'
				       ELSE 'N'
				       END threshold_yn
				  ]]>
		FROM (
				SELECT 
						  A.skp_sensor_name
						, A.company_id
						, A.skp_collection_result_id
						, A.skp_sensor_id
						, COALESCE(A.skp_device_id,1) skp_device_id
						, A.time_observation
						, A.unit
						, A.value
						, A.type
						, ( SELECT B.value FROM TBL_SKP_COLLECT_IOTSENSOR B WHERE B.skp_sensor_id = A.skp_sensor_id AND B.company_id = A.company_id AND B.type = 'PM1.0' 
						    AND B.time_observation = #{type1_last_time_observation} 
						  ) AS value1
						, ( SELECT B.value FROM TBL_SKP_COLLECT_IOTSENSOR B WHERE B.skp_sensor_id = A.skp_sensor_id AND B.company_id = A.company_id AND B.type = 'PM2.5' 
						    AND B.time_observation = #{type2_last_time_observation} 
						  ) AS value2
						, ( SELECT B.value FROM TBL_SKP_COLLECT_IOTSENSOR B WHERE B.skp_sensor_id = A.skp_sensor_id AND B.company_id = A.company_id AND B.type = 'PM10' 
						    AND B.time_observation = #{type3_last_time_observation} 
						  ) AS value3
				FROM   TBL_SKP_COLLECT_IOTSENSOR A
				WHERE A.company_id = #{company_id}
				AND A.time_observation >=  DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{day_hour} DAY_HOUR), '%Y%m%d%H%i%s')
				AND A.skp_sensor_id = #{skp_sensor_id}
				GROUP BY A.skp_sensor_id , COALESCE(A.skp_device_id,1) 
				) X
	</select>
	
	<select id="selectSkpCollectIot" parameterType="EnvironmentVO" resultType="EnvironmentVO">
				SELECT 
						  A.skp_sensor_name
						, A.company_id
						, A.skp_collection_result_id
						, A.skp_sensor_id
						, COALESCE(A.skp_device_id,1) skp_device_id
						, A.time_observation
						, A.unit
						, A.value
						, A.type
				FROM   TBL_SKP_COLLECT_IOTSENSOR A
				WHERE A.company_id = #{company_id}
			    <if test='search_sensor_detail_type != null and search_sensor_detail_type eq "4"'>
				AND ( A.type like '%PM2.5%' OR A.type like '%PM1.0%' OR A.type like '%PM10%' )
				</if>
				<if test='search_sensor_detail_type != null and search_sensor_detail_type eq "7"'>
				AND ( A.type LIKE CONCAT('%','소음','%') )
				</if>
			    <if test='search_sensor_detail_type != null and search_sensor_detail_type eq "8"'>
				AND ( A.type LIKE CONCAT('%','진동','%') )
				</if>
				GROUP BY A.skp_sensor_id
	</select> 
	
	<select id="selectLastTimeObservation" parameterType="EnvironmentVO" resultType="EnvironmentVO">
		SELECT AA.weather_time_observation, BB.iot_time_observation
			<![CDATA[
		     , CASE WHEN AA.weather_time_observation > BB.iot_time_observation THEN DATE_FORMAT(AA.weather_time_observation, '%Y.%m.%d %H:%i')
		            ELSE DATE_FORMAT(BB.iot_time_observation, '%Y.%m.%d %H:%i')
		       END AS max_time_observation
			]]>
		  FROM (
				 SELECT MAX(A.time_observation) AS weather_time_observation
				   FROM TBL_SKP_COLLECT_WEATHER A
				  WHERE 1=1
				    AND A.company_id = #{company_id}

               ) AA
             , (
				 SELECT MAX(A.time_observation) AS iot_time_observation
				   FROM TBL_SKP_COLLECT_IOTSENSOR A
				  WHERE 1=1
				    AND A.company_id = #{company_id}
               ) BB
		 WHERE 1=1
	</select>
	
	<select id="selectSensorThresholdList" parameterType="EnvironmentVO" resultType="EnvironmentVO">
<!-- 		SELECT C.company_id, C.skp_threshold_id, C.skp_sensor_id
		     , C.skp_sensor_name, D.skp_device_id, D.skp_device_name
		     , C.threshold_type, C.threshold, C.unit
		  FROM (
				 SELECT A.company_id, A.skp_threshold_id, A.skp_sensor_id
					  , B.skp_sensor_name, A.skp_device_id, A.threshold_type
				      , A.threshold, A.unit
                   FROM TBL_SKP_THRESHOLD A
					  , TBL_SKP_SENSOR B
				  WHERE 1=1
				    AND A.company_id = B.company_id
				    AND A.skp_sensor_id = B.skp_sensor_id
				    AND A.company_id = #{company_id}
				    AND A.use_yn = 'Y'
				    AND B.use_yn = 'Y'
		       ) C LEFT OUTER JOIN TBL_SKP_DEVICE D
		    ON C.company_id = D.company_id 
		   AND C.skp_device_id = D.skp_device_id 
		   AND D.use_yn = 'Y'
		 WHERE 1=1
		 ORDER BY C.threshold_type, C.skp_sensor_name, D.skp_device_name ASC -->
		<!-- 임계치타입(1:온/습도, 2:강우량, 3:풍속, 4:PM1.0, 5:PM2.5, 6:PM10, 7:소음, 8:진동) -->
		SELECT 	  X.skp_threshold_id
				, X.skp_sensor_id
				, X.skp_collection_result_id
				, X.skp_device_id
				, X.threshold
				, X.threshold_type
				, CASE WHEN X.threshold_type = '1' THEN '기상센서(온/습도)'
					   WHEN X.threshold_type = '2' THEN '기상센서(강우량)'
					   WHEN X.threshold_type = '3' THEN '기상센서(풍속)'
					   WHEN X.threshold_type = '4' THEN '미세먼지센서'
					   WHEN X.threshold_type = '5' THEN '미세먼지센서'
					   WHEN X.threshold_type = '6' THEN '미세먼지센서'
					   WHEN X.threshold_type = '7' THEN '소음센서'
					   WHEN X.threshold_type = '8' THEN '진동센서'
				  END threshold_type_name
		FROM(
			SELECT    A.skp_sensor_id 
					, A.skp_collection_result_id
					, 1 AS skp_device_id
					, ( SELECT COALESCE(MAX(B.threshold),0) threshold FROM TBL_SKP_THRESHOLD B WHERE A.company_id = B.company_id AND A.skp_sensor_id = B.skp_sensor_id AND B.threshold_type = '1') threshold
					, 1 AS threshold_type
					, ( SELECT COALESCE(MAX(B.skp_threshold_id),0) skp_threshold_id FROM TBL_SKP_THRESHOLD B WHERE A.company_id = B.company_id AND A.skp_sensor_id = B.skp_sensor_id AND B.threshold_type = '1') skp_threshold_id
			FROM TBL_SKP_COLLECT_WEATHER A
			WHERE A.company_id = #{company_id}
			GROUP BY skp_sensor_id
			UNION ALL
			SELECT    A.skp_sensor_id 
					, A.skp_collection_result_id
					, 1 AS skp_device_id
					, ( SELECT COALESCE(MAX(B.threshold),0) threshold FROM TBL_SKP_THRESHOLD B WHERE A.company_id = B.company_id AND A.skp_sensor_id = B.skp_sensor_id AND B.threshold_type = '2') threshold
					, 2 AS threshold_type
					, ( SELECT COALESCE(MAX(B.skp_threshold_id),0) skp_threshold_id FROM TBL_SKP_THRESHOLD B WHERE A.company_id = B.company_id AND A.skp_sensor_id = B.skp_sensor_id AND B.threshold_type = '2') skp_threshold_id
			FROM TBL_SKP_COLLECT_WEATHER A
			WHERE A.company_id = #{company_id}
			GROUP BY skp_sensor_id
			UNION ALL
			SELECT    A.skp_sensor_id 
					, A.skp_collection_result_id
					, 1 AS skp_device_id
					, ( SELECT COALESCE(MAX(B.threshold),0) threshold FROM TBL_SKP_THRESHOLD B WHERE A.company_id = B.company_id AND A.skp_sensor_id = B.skp_sensor_id AND B.threshold_type = '3') threshold
					, 3 AS threshold_type
					, ( SELECT COALESCE(MAX(B.skp_threshold_id),0) skp_threshold_id FROM TBL_SKP_THRESHOLD B WHERE A.company_id = B.company_id AND A.skp_sensor_id = B.skp_sensor_id AND B.threshold_type = '3') skp_threshold_id
			FROM TBL_SKP_COLLECT_WEATHER A
			WHERE A.company_id = #{company_id}
			GROUP BY skp_sensor_id
			UNION ALL
			SELECT 	  A.skp_sensor_id 
					, A.skp_collection_result_id
					, COALESCE(MAX(A.skp_device_id),1) skp_device_id
					, ( SELECT COALESCE(MAX(B.threshold),0) threshold FROM TBL_SKP_THRESHOLD B WHERE A.company_id = B.company_id AND A.skp_sensor_id = B.skp_sensor_id AND B.threshold_type = '4') threshold
					, 4 AS threshold_type
					, ( SELECT COALESCE(MAX(B.skp_threshold_id),0) skp_threshold_id FROM TBL_SKP_THRESHOLD B WHERE A.company_id = B.company_id AND A.skp_sensor_id = B.skp_sensor_id AND B.threshold_type = '4') skp_threshold_id
			FROM TBL_SKP_COLLECT_IOTSENSOR A
			WHERE 1=1
			AND A.company_id = #{company_id}
			AND type = 'PM1.0'
			GROUP BY type
			UNION ALL
			SELECT 	  A.skp_sensor_id 
					, A.skp_collection_result_id
					, COALESCE(MAX(A.skp_device_id),1) skp_device_id
					, ( SELECT COALESCE(MAX(B.threshold),0) threshold FROM TBL_SKP_THRESHOLD B WHERE A.company_id = B.company_id AND A.skp_sensor_id = B.skp_sensor_id AND B.threshold_type = '5') threshold
					, 5 AS threshold_type
					, ( SELECT COALESCE(MAX(B.skp_threshold_id),0) skp_threshold_id FROM TBL_SKP_THRESHOLD B WHERE A.company_id = B.company_id AND A.skp_sensor_id = B.skp_sensor_id AND B.threshold_type = '5') skp_threshold_id
			FROM TBL_SKP_COLLECT_IOTSENSOR A
			WHERE 1=1
			AND A.company_id = #{company_id}
			AND type = 'PM2.5'
			GROUP BY type
			UNION ALL
			SELECT 	  A.skp_sensor_id 
					, A.skp_collection_result_id
					, COALESCE(MAX(A.skp_device_id),1) skp_device_id
					, ( SELECT COALESCE(MAX(B.threshold),0) threshold FROM TBL_SKP_THRESHOLD B WHERE A.company_id = B.company_id AND A.skp_sensor_id = B.skp_sensor_id AND B.threshold_type = '6') threshold
					, 6 AS threshold_type
					, ( SELECT COALESCE(MAX(B.skp_threshold_id),0) skp_threshold_id FROM TBL_SKP_THRESHOLD B WHERE A.company_id = B.company_id AND A.skp_sensor_id = B.skp_sensor_id AND B.threshold_type = '6') skp_threshold_id
			FROM TBL_SKP_COLLECT_IOTSENSOR A
			WHERE 1=1
			AND A.company_id = #{company_id}
			AND type = 'PM10'
			GROUP BY type
			UNION ALL
			SELECT 	  A.skp_sensor_id 
					, A.skp_collection_result_id
					, COALESCE(MAX(A.skp_device_id),1) skp_device_id
					, ( SELECT COALESCE(MAX(B.threshold),0) threshold FROM TBL_SKP_THRESHOLD B WHERE A.company_id = B.company_id AND A.skp_sensor_id = B.skp_sensor_id AND B.threshold_type = '7') threshold
					, 7 AS threshold_type
					, ( SELECT COALESCE(MAX(B.skp_threshold_id),0) skp_threshold_id FROM TBL_SKP_THRESHOLD B WHERE A.company_id = B.company_id AND A.skp_sensor_id = B.skp_sensor_id AND B.threshold_type = '7') skp_threshold_id
			FROM TBL_SKP_COLLECT_IOTSENSOR A
			WHERE 1=1
			AND A.company_id = #{company_id}
			AND type = '소음'
			GROUP BY type
			UNION ALL
			SELECT 	  A.skp_sensor_id 
					, A.skp_collection_result_id
					, COALESCE(MAX(A.skp_device_id),1) skp_device_id
					, ( SELECT COALESCE(MAX(B.threshold),0) threshold FROM TBL_SKP_THRESHOLD B WHERE A.company_id = B.company_id AND A.skp_sensor_id = B.skp_sensor_id AND B.threshold_type = '8') threshold
					, 8 AS threshold_type
					, ( SELECT COALESCE(MAX(B.skp_threshold_id),0) skp_threshold_id FROM TBL_SKP_THRESHOLD B WHERE A.company_id = B.company_id AND A.skp_sensor_id = B.skp_sensor_id AND B.threshold_type = '8') skp_threshold_id
			FROM TBL_SKP_COLLECT_IOTSENSOR A
			WHERE 1=1
			AND A.company_id = #{company_id}
			AND type = '진동'
			GROUP BY type
		) X
	</select>

	<select id="selectSensorList" parameterType="EnvironmentVO" resultType="EnvironmentVO">
		SELECT C.threshold_type, C.skp_sensor_name
		  FROM (
					SELECT B.threshold_type, A.skp_sensor_name
					  FROM TBL_SKP_SENSOR A 
					     , TBL_SKP_THRESHOLD B
					 WHERE 1=1
					   ANd A.company_id = B.company_id
					   AND A.skp_sensor_id = B.skp_sensor_id
					   ANd A.company_id = #{company_id}
					   AND A.skp_sensor_type = '1'
					   AND A.use_yn = 'Y'
					   AND B.use_yn = 'Y'
					UNION ALL
					SELECT A.threshold_type, A.skp_sensor_name
					  FROM TBL_SKP_SENSOR A
					 WHERE 1=1
					   ANd A.company_id = #{company_id}
					   AND A.skp_sensor_type != '1'
					   AND A.use_yn = 'Y'
		       ) C
		 WHERE 1=1
		 ORDER BY C.threshold_type ASC
	</select>
	
	<select id="selectSensorDeviceList" parameterType="EnvironmentVO" resultType="EnvironmentVO">
		SELECT A.skp_device_id, A.skp_device_name
		  FROM TBL_SKP_DEVICE A
		 WHERE 1=1
		   AND A.company_id = #{company_id}
		   AND A.use_yn = 'Y'
		   AND A.skp_sensor_id = #{search_sensor_type}
	       <if test="search_device_id != null and search_device_id != ''">
	       AND A.skp_device_id = #{search_device_id}
	       </if>
		 ORDER BY A.skp_device_name ASC
	</select>
	
	<select id="selectSensorWeatherHistoryListTotal" parameterType="EnvironmentVO" resultType="Integer">
			SELECT COUNT(*)
			FROM(
				SELECT	*
			  	FROM  TBL_SKP_COLLECT_WEATHER A
			  	WHERE 1=1
				AND A.company_id = #{company_id}
				<if test='search_date_type != null and search_date_type == "DATE"'>
				AND A.time_observation BETWEEN STR_TO_DATE(CONCAT(#{start_date}, ' 00:00:00'),'%Y-%m-%d %H:%i:%s') AND STR_TO_DATE(CONCAT(#{end_date}, '23:59:59'),'%Y-%m-%d %H:%i:%s')
				</if>
				<if test='search_date_type != null and search_date_type == "DAY_HOUR"'>
				<![CDATA[
				AND A.time_observation >= DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{day_hour} DAY_HOUR), '%Y%m%d%H%i%s')
				]]>
				</if>
				<if test='search_date_type != null and search_date_type == "MONTH"'>
				<![CDATA[
				AND A.time_observation >= DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{month} MONTH), '%Y%m%d%H%i%s')
				]]>
				</if>
				<if test='search_sensor_detail_type != null and search_sensor_detail_type == "2"'>
				AND SUBSTR(A.time_observation,15,2) = '00'
				</if>
				<if test='search_sensor_detail_type != null and search_sensor_detail_type != "2"'>
				group by (A.time_observation), floor(minute(A.time_observation)/1)
				</if>
			) A
	</select>
	
	<select id="selectSensorWeatherHistoryList" parameterType="EnvironmentVO" resultType="EnvironmentVO">
		SELECT        X.*
					<![CDATA[ 
				  	, CASE WHEN X.threshold_type = '1' AND X.heat_index >= X.threshold_heatindex THEN 'Y' ELSE 'N' END AS heat_index_threshold_yn
				  	, CASE WHEN X.threshold_type = '2' AND X.last3hour >= X.threshold_rain THEN 'Y' ELSE 'N' END AS rain_since_one_time_threshold_yn
				  	, CASE WHEN X.threshold_type = '3' AND X.wind_wspd >= X.threshold_wind THEN 'Y' ELSE 'N' END AS wind_wspd_threshold_yn
					]]>
				  	, CASE WHEN X.threshold_type = '1' THEN '기상센서'
				  	       WHEN X.threshold_type = '2' THEN '기상센서'
				  	       WHEN X.threshold_type = '3' THEN '기상센서'
				  	       WHEN X.threshold_type = '4' THEN '미세먼지센서'
				  	       WHEN X.threshold_type = '5' THEN '미세먼지센서'
				  	       WHEN X.threshold_type = '6' THEN '미세먼지센서'
				  	       WHEN X.threshold_type = '7' THEN '소음센서'
				  	       WHEN X.threshold_type = '8' THEN '진동센서'
				  	       WHEN X.threshold_type IS NULL THEN '기상센서'
				  	  END AS skp_sensor_name
		FROM(
			SELECT		  A.company_id
						, A.skp_sensor_id
						, A.temperature_tc
					  	, A.humidity
					  	, A.heat_index
					  	, A.rain_since_one_time
					  	, A.wind_wspd
					  	, A.wind_wdir
					  	, A.wind_wdir_name
					  	, DATE_FORMAT(A.time_observation,'%Y%m%d%H%i') AS time_observation
					  	, DATE_FORMAT(A.time_observation,'%Y-%m-%d %H:%i:%s') AS time_observation_list
					  	, ( SELECT threshold_type FROM TBL_SKP_THRESHOLD B WHERE A.company_id = B.company_id AND A.skp_sensor_id = B.skp_sensor_id AND B.threshold_type = #{search_sensor_detail_type} ) threshold_type
					  	, ( SELECT COALESCE(MAX(threshold),0) FROM TBL_SKP_THRESHOLD B WHERE A.company_id = B.company_id AND A.skp_sensor_id = B.skp_sensor_id AND B.threshold_type = #{search_sensor_detail_type} ) threshold
						, threshold_rain
						, threshold_wind
						, threshold_heatindex
						, A.last1hour
						, A.last3hour
						, SUBSTR(A.time_observation,15,2) time_hour
						<![CDATA[
						, ( SELECT CASE WHEN MAX(A.last1hour) <= 10 THEN 20
									    WHEN MAX(A.last1hour) <= 20 THEN 30
									    WHEN MAX(A.last1hour) <= 30 THEN 40
									    WHEN MAX(A.last1hour) <= 40 THEN 50
									    WHEN MAX(A.last1hour) <= 50 THEN 60
									    WHEN MAX(A.last1hour) <= 60 THEN 70
									    WHEN MAX(A.last1hour) <= 70 THEN 80
									    WHEN MAX(A.last1hour) <= 80 THEN 90
									    WHEN MAX(A.last1hour) <= 90 THEN 100
									    END
						]]>
						  	FROM  TBL_SKP_COLLECT_WEATHER A
						  	WHERE 1=1
							AND A.company_id = #{company_id}
							<if test='search_date_type != null and search_date_type == "MONTH"'>
							<![CDATA[
							AND A.time_observation >= DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{month} MONTH), '%Y%m%d%H%i%s')
							]]>
							</if>
						)  AS maxLast1hour
			  	FROM  TBL_SKP_COLLECT_WEATHER A
			  	WHERE 1=1
				AND A.company_id = #{company_id}
				<if test='search_date_type != null and search_date_type == "DATE"'>
				AND A.time_observation BETWEEN STR_TO_DATE(CONCAT(#{start_date}, ' 00:00:00'),'%Y-%m-%d %H:%i:%s') AND STR_TO_DATE(CONCAT(#{end_date}, '23:59:59'),'%Y-%m-%d %H:%i:%s')
				</if>
				<if test='search_date_type != null and search_date_type == "DAY_HOUR"'>
				<![CDATA[
				AND A.time_observation >= DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{day_hour} DAY_HOUR), '%Y%m%d%H%i%s')
				]]>
				</if>
				<if test='search_date_type != null and search_date_type == "MONTH"'>
				<![CDATA[
				AND A.time_observation >= DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{month} MONTH), '%Y%m%d%H%i%s')
				]]>
				</if>
		) X
		<if test='search_sensor_detail_type != null and search_sensor_detail_type == "2"'>
		WHERE X.time_hour = '00'
		</if>
		<if test='search_sensor_detail_type != null and search_sensor_detail_type != "2"'>
		group by (X.time_observation), floor(minute(X.time_observation)/1)
		</if>
		<if test='chartUseYn != null and chartUseYn != ""'>
		ORDER BY X.time_observation ASC
		</if>
		<if test="chartUseYn == null or chartUseYn == ''">
		ORDER BY X.time_observation DESC
		</if>
	    <if test="notUsePage == null or notUsePage == ''">
	    LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
	    </if>
	</select>

	<select id="selectSensorIotHistoryListTotal" parameterType="EnvironmentVO" resultType="Integer">
		SELECT COUNT(*)
		FROM  TBL_SKP_COLLECT_IOTSENSOR A
		WHERE 1=1
	    AND A.company_id  = #{company_id}
	    <if test='search_sensor_detail_type != null and search_sensor_detail_type == "4"'>
		AND ( A.type like '%PM2.5%' OR A.type like '%PM1.0%' OR A.type like '%PM10%' )
		</if>
		<if test='search_sensor_detail_type != null and search_sensor_detail_type == "7"'>
		AND ( A.type LIKE CONCAT('%','소음','%') )
		</if>
	    <if test='search_sensor_detail_type != null and search_sensor_detail_type == "8"'>
		AND ( A.type LIKE CONCAT('%','진동','%') )
		</if>
		<if test='search_date_type != null and search_date_type == "DATE"'>
		AND A.time_observation BETWEEN STR_TO_DATE(CONCAT(#{start_date}, ' 00:00:00'),'%Y-%m-%d %H:%i:%s') AND STR_TO_DATE(CONCAT(#{end_date}, '23:59:59'),'%Y-%m-%d %H:%i:%s')
		</if>
		<if test='search_date_type != null and search_date_type == "DAY_HOUR"'>
		AND A.time_observation >= DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{day_hour} DAY_HOUR), '%Y%m%d%H%i%s')
		</if>
		<if test='search_date_type != null and search_date_type == "MONTH"'>
		AND A.time_observation >= DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{month} MONTH), '%Y%m%d%H%i%s')
		</if>
		<if test='search_device_id != null and search_device_id != ""'>
		AND A.skp_sensor_id = #{search_device_id}
		</if>
		ORDER BY A.time_observation DESC
	</select>
	
	<select id="selectSensorIotHistoryList" parameterType="EnvironmentVO" resultType="EnvironmentVO">
		SELECT    X.*
				<!-- , ( SELECT COALESCE(MAX(threshold),0) FROM TBL_SKP_THRESHOLD B WHERE X.company_id = B.company_id AND X.skp_sensor_id = B.skp_sensor_id AND B.threshold_type = X.threshold_type ) threshold -->
				<!-- , ( SELECT COALESCE(MAX(threshold),0) FROM TBL_SKP_THRESHOLD B WHERE X.company_id = B.company_id AND B.threshold_type = X.threshold_type ) threshold -->
		FROM(
			SELECT 	  A.skp_sensor_name
					, A.company_id
					, A.skp_collection_result_id
					, A.skp_sensor_id
					, COALESCE(A.skp_device_id,1) skp_device_id
				  	, DATE_FORMAT(A.time_observation,'%Y%m%d%H%i') AS time_observation
				  	, DATE_FORMAT(A.time_observation,'%Y/%m/%d %H:%i:%s') AS time_observation_list
					, A.unit
					, A.value
					, A.type
					, CASE WHEN type = 'PM1.0' THEN '4'
						   WHEN type = 'PM2.5' THEN '5'
						   WHEN type = 'PM10' THEN '6'
						   END AS threshold_type
					, threshold
			FROM  TBL_SKP_COLLECT_IOTSENSOR A
			WHERE 1=1
		    AND A.company_id  = #{company_id}
	    <if test='search_sensor_detail_type != null and search_sensor_detail_type eq "4"'>
		AND ( A.type like '%PM2.5%' OR A.type like '%PM1.0%' OR A.type like '%PM10%' )
		</if>
		<if test='search_sensor_detail_type != null and search_sensor_detail_type eq "7"'>
		AND ( A.type LIKE CONCAT('%','소음','%') )
		</if>
	    <if test='search_sensor_detail_type != null and search_sensor_detail_type eq "8"'>
		AND ( A.type LIKE CONCAT('%','진동','%') )
		</if>
		<if test='search_date_type != null and search_date_type == "DATE"'>
		AND A.time_observation BETWEEN STR_TO_DATE(CONCAT(#{start_date}, ' 00:00:00'),'%Y-%m-%d %H:%i:%s') AND STR_TO_DATE(CONCAT(#{end_date}, '23:59:59'),'%Y-%m-%d %H:%i:%s')
		</if>
		<if test='search_date_type != null and search_date_type == "DAY_HOUR"'>
		AND A.time_observation >= DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{day_hour} DAY_HOUR), '%Y%m%d%H%i%s')
		</if>
		<if test='search_date_type != null and search_date_type == "MONTH"'>
		AND A.time_observation >= DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{month} MONTH), '%Y%m%d%H%i%s')
		</if>
		<if test='search_device_id != null and search_device_id != ""'>
		AND A.skp_sensor_id = #{search_device_id}
		</if>
	    ) X
		ORDER BY X.time_observation DESC
		<if test='notUsePage == null or notUsePage == ""'>
			LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
		</if>
	</select>
	
	
	<select id="selectIotPm1" parameterType="EnvironmentVO" resultType="EnvironmentVO">
	SELECT    skp_sensor_name
			, company_id
			, skp_collection_result_id
			, skp_sensor_id
			, COALESCE(skp_device_id,1) skp_device_id
		  	, DATE_FORMAT(A.time_observation,'%Y%m%d%H%i') AS time_observation
		  	, DATE_FORMAT(A.time_observation,'%Y/%m/%d %H:%i:%s') AS time_observation_list
			, unit
			, value
			, type
	FROM TBL_SKP_COLLECT_IOTSENSOR A
	WHERE A.skp_sensor_id = #{skp_sensor_id}
	AND type like '%PM1.0%'
    <if test='search_date_type != null and search_date_type == "DAY_HOUR"'>
    AND A.time_observation >= DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{day_hour} DAY_HOUR), '%Y%m%d%H%i%s')
    </if>
    AND COALESCE(skp_device_id,1) = #{skp_device_id}
    AND A.company_id = #{company_id}
	ORDER BY A.time_observation ASC
	</select>
	
	<select id="selectIotPm2" parameterType="EnvironmentVO" resultType="EnvironmentVO">
	SELECT    skp_sensor_name
			, company_id
			, skp_collection_result_id
			, skp_sensor_id
			, COALESCE(skp_device_id,1) skp_device_id
		  	, DATE_FORMAT(A.time_observation,'%Y%m%d%H%i') AS time_observation
		  	, DATE_FORMAT(A.time_observation,'%Y/%m/%d %H:%i:%s') AS time_observation_list
			, unit
			, value
			, type
	FROM TBL_SKP_COLLECT_IOTSENSOR A
	WHERE skp_sensor_id = #{skp_sensor_id}
	AND type like '%PM2.5%'
    <if test='search_date_type != null and search_date_type == "DAY_HOUR"'>
    AND A.time_observation >= DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{day_hour} DAY_HOUR), '%Y%m%d%H%i%s')
    </if>
    AND COALESCE(skp_device_id,1) = #{skp_device_id}
    AND A.company_id = #{company_id}
	ORDER BY A.time_observation ASC
	</select>
	
	<select id="selectIotPm3" parameterType="EnvironmentVO" resultType="EnvironmentVO">
	SELECT    skp_sensor_name
			, company_id
			, skp_collection_result_id
			, skp_sensor_id
			, COALESCE(skp_device_id,1) skp_device_id
		  	, DATE_FORMAT(A.time_observation,'%Y%m%d%H%i') AS time_observation
		  	, DATE_FORMAT(A.time_observation,'%Y/%m/%d %H:%i:%s') AS time_observation_list
			, unit
			, value
			, type
	FROM TBL_SKP_COLLECT_IOTSENSOR A
	WHERE skp_sensor_id = #{skp_sensor_id}
	AND type like '%PM10%'
    <if test='search_date_type != null and search_date_type == "DAY_HOUR"'>
    AND A.time_observation >= DATE_FORMAT(DATE_ADD(NOW(), INTERVAL #{day_hour} DAY_HOUR), '%Y%m%d%H%i%s')
    </if>
    AND COALESCE(skp_device_id,1) = #{skp_device_id}
    AND A.company_id = #{company_id}
	ORDER BY A.time_observation ASC
	</select>
	
	<select id="selectIotPm1_THRESHOLD" parameterType="EnvironmentVO" resultType="EnvironmentVO">
	SELECT *
	FROM TBL_SKP_THRESHOLD
	WHERE threshold_type = '4'
	AND company_id = #{company_id}
	AND skp_device_id = #{skp_device_id}
	</select>
	
	<select id="selectIotPm2_THRESHOLD" parameterType="EnvironmentVO" resultType="EnvironmentVO">
	SELECT *
	FROM TBL_SKP_THRESHOLD
	WHERE threshold_type = '5'
	AND company_id = #{company_id}
	AND skp_device_id = #{skp_device_id}
	</select>
	
	<select id="selectIotPm3_THRESHOLD" parameterType="EnvironmentVO" resultType="EnvironmentVO">
	SELECT *
	FROM TBL_SKP_THRESHOLD
	WHERE threshold_type = '6'
	AND company_id = #{company_id}
	AND skp_device_id = #{skp_device_id}
	</select>
		
	<insert id="insertSensorThreshold" parameterType="EnvironmentVO">
	INSERT INTO TBL_SKP_THRESHOLD(
			  company_id
		    <if test="skp_sensor_id != null and skp_sensor_id != ''">
			, skp_sensor_id
			</if>
			<if test="skp_device_id != null and skp_device_id != ''">
			, skp_device_id
			</if>
			<if test="threshold_type != null and threshold_type != ''">
			, threshold_type
			</if>
			<if test="threshold != null and threshold != ''">
			, threshold
			</if>
			<if test="unit != null and unit != ''">
			, unit
			</if>
			, use_yn
			, reg_dt
			, reg_id
	)VALUES(
			  #{company_id}
			<if test="skp_sensor_id != null and skp_sensor_id != ''">
			, #{skp_sensor_id}
			</if>
			<if test="skp_device_id != null and skp_device_id != ''">
			, #{skp_device_id}
			</if>
			<if test="threshold_type != null and threshold_type != ''">
			, #{threshold_type}
			</if>
			<if test="threshold != null and threshold != ''">
			, #{threshold}
			</if>
			<if test="unit != null and unit != ''">
			, #{unit}
			</if>
			, 'Y'
			, NOW()
			, #{reg_id}
	)
	</insert>
		
	<update id="updateSensorThreshold" parameterType="EnvironmentVO">
		UPDATE TBL_SKP_THRESHOLD
		   SET threshold= #{threshold}
			 , mod_dt = NOW()
             , mod_id = #{mod_id}
             <if test="skp_device_id != null and skp_device_id != ''">
             , skp_device_id = #{skp_device_id}
             </if>
             <if test="skp_sensor_id != null and skp_sensor_id != ''">
             , skp_sensor_id = #{skp_sensor_id}
             </if>
             <if test="unit != null and unit != ''">
             , unit = #{unit}
             </if>
		 WHERE skp_threshold_id = #{skp_threshold_id}
	</update>
	
	<select id="selectSensorImage" parameterType="EnvironmentVO" resultType="EnvironmentVO">
		SELECT A.skp_sensor_img_id, A.company_id, A.file_id
		     , B.file_real_name
          FROM TBL_SKP_SENSOR_IMAGE A
             , TB_FILE B
		 WHERE 1=1
		   AND A.file_id = B.file_id
		   AND A.company_id = #{company_id}
	</select>
	
	<delete id="deleteSensorImage" parameterType="EnvironmentVO">
		DELETE FROM TBL_SKP_SENSOR_IMAGE
		 WHERE skp_sensor_img_id = #{skp_sensor_img_id}
	</delete>
	
	<insert id="insertSensorImage" parameterType="EnvironmentVO">
        INSERT INTO TBL_SKP_SENSOR_IMAGE
		(
            company_id
          , file_id
          , reg_dt
          , reg_id
		)
		VALUES 
		(
            #{company_id}
          , #{file_id}
          , NOW()
          , #{reg_id}
		)
	</insert>
	
	<insert id="insertSkpCollectWeather" parameterType="EnvironmentVO">
        INSERT IGNORE INTO TBL_SKP_COLLECT_WEATHER
        (
            company_id                          
          , skp_collection_result_id
          , skp_sensor_id
          , skp_sensor_name
          , rain_since_one_time
          , rain_midnight
          , temperature_tc                   
          , temperature_tmax                 
          , temperature_tmin                 
          , wind_wdir
          , wind_wdir_name
          , wind_wspd
          , humidity
          , heat_index
          , time_observation
          , reg_id
          , reg_dt
        )
		VALUES
        (
            #{company_id}                  
          , #{skp_collection_result_id}        
          , #{skp_sensor_id}     
          , #{skp_sensor_name}     
          , #{rain_since_one_time}             
          , #{rain_midnight}                   
          , #{temperature_tc}                  
          , #{temperature_tmax}                
          , #{temperature_tmin}               
          , #{wind_wdir}                      
          , #{wind_wdir_name}                  
          , #{wind_wspd}                  
          , #{humidity}                     
          , #{heat_index}                  
<!--           , #{time_observation} -->
          , NOW()
          , #{reg_id}              
          , NOW()
        )
	</insert>

	<insert id="insertSkpCollectIot" parameterType="EnvironmentVO">
        INSERT IGNORE INTO TBL_SKP_COLLECT_IOTSENSOR
        (
            company_id                          
          , skp_collection_result_id         
          , skp_sensor_id                    
          , skp_sensor_name                  
          , skp_device_id                                                    
          , time_observation
          , unit                    
          , value                   
          , type    
          , reg_id               
          , reg_dt
        )
		VALUES
        (
            #{company_id}                  
          , #{skp_collection_result_id}        
          , #{skp_sensor_id}     
          , #{skp_sensor_name}     
          , #{skp_device_id}             
<!--           , #{time_observation}                    -->
          , NOW()
          , #{unit}                  
          , #{value}                
          , #{type}               
          , #{reg_id}              
          , NOW()
        )
	</insert>
	
	<select id="selectWeatherDash" parameterType="EnvironmentVO" resultType="EnvironmentVO">
	SELECT    T.*
			, CASE WHEN T.heat_index >= (
					SELECT threshold
					FROM TBL_SKP_THRESHOLD tst
					WHERE tst.threshold_type = '1'
					AND tst.use_yn = 'Y'
					AND tst.company_id = #{company_id}
					)
				   THEN '위험'
					WHEN T.rain_since_one_time >= (
					SELECT threshold
					FROM TBL_SKP_THRESHOLD tst
					WHERE tst.threshold_type = '2'
					AND tst.use_yn = 'Y'
					AND tst.company_id = #{company_id}
					)
				   THEN '위험'
					WHEN T.wind_wspd >= (
					SELECT threshold
					FROM TBL_SKP_THRESHOLD tst
					WHERE tst.threshold_type = '3'
					AND tst.use_yn = 'Y'
					AND tst.company_id = #{company_id}
					)
				   THEN '위험'
				   ELSE '안전'
				   END alarm
	FROM(
		SELECT    A.temperature_tc
				, ROUND(A.humidity) humidity
				, A.rain_since_one_time
				, A.wind_wspd
				, A.wind_wdir_name
			    <!-- , FLOOR( ( (9/5 ) * A.temperature_tc - ( 1 - A.humidity ) * ( (9/5 * A.temperature_tc  - 26 ) + 32 ) ) / 100 )  heat_index -->
			    , A.heat_index
		FROM TBL_SKP_COLLECT_WEATHER A
		WHERE A.time_observation = ( SELECT MAX(SCW.time_observation ) FROM TBL_SKP_COLLECT_WEATHER SCW WHERE SCW.company_id = #{company_id} )
		AND A.company_id = #{company_id}
	) T
	</select>
	
	<select id="selectIotPmDash" parameterType="EnvironmentVO" resultType="EnvironmentVO">
	SELECT    T.skp_sensor_name
			, T.PM_VALUE1 AS pmValue1
			, T.PM_VALUE2 AS pmValue2
			, T.PM_VALUE3 AS pmValue3
			, CASE WHEN T.PM_VALUE1 >= (
					SELECT threshold
					FROM TBL_SKP_THRESHOLD tst
					WHERE tst.threshold_type = '4'
					AND tst.use_yn = 'Y'
					AND tst.company_id = #{company_id}
					)
					THEN 'warning'
					ELSE 'normal'
					END pmValarm1
			, CASE  WHEN T.PM_VALUE2 >= (
					SELECT threshold
					FROM TBL_SKP_THRESHOLD tst
					WHERE tst.threshold_type = '5'
					AND tst.use_yn = 'Y'
					AND tst.company_id = #{company_id}
					)
					THEN 'warning'
					ELSE 'normal'
					END pmValarm2
			, CASE 	WHEN T.PM_VALUE3 >= (
					SELECT threshold
					FROM TBL_SKP_THRESHOLD tst
					WHERE tst.threshold_type = '6'
					AND tst.use_yn = 'Y'
					AND tst.company_id = #{company_id}
					)
					THEN 'warning'
					ELSE 'normal'
					END pmValarm3
	FROM(
		SELECT	  X.skp_sensor_name
			 	, SUM(PM_VALUE1) as PM_VALUE1 
				, SUM(PM_VALUE2) as PM_VALUE2 
				, SUM(PM_VALUE3) as PM_VALUE3 
		FROM(
			SELECT A.skp_sensor_name , VALUE AS PM_VALUE1 , 0 AS PM_VALUE2 , 0 AS PM_VALUE3
			FROM TBL_SKP_COLLECT_IOTSENSOR A
			WHERE 1=1
			AND type = 'PM1.0'
		    AND A.company_id = #{company_id}
		    AND A.time_observation = ( SELECT MAX( sci.time_observation ) FROM TBL_SKP_COLLECT_IOTSENSOR sci WHERE sci.company_id = #{company_id} AND sci.type = 'PM1.0' )
		    GROUP BY A.skp_sensor_id
		    
		    UNION ALL
		    
			SELECT A.skp_sensor_name , 0 AS PM_VALUE1 , VALUE AS PM_VALUE2 , 0 AS PM_VALUE3
			FROM TBL_SKP_COLLECT_IOTSENSOR A
			WHERE 1=1
			AND type = 'PM2.5'
		    AND A.company_id = #{company_id}
		    AND A.time_observation = ( SELECT MAX( sci.time_observation ) FROM TBL_SKP_COLLECT_IOTSENSOR sci WHERE sci.company_id = #{company_id} AND sci.type = 'PM2.5' )
		    GROUP BY A.skp_sensor_id
		    
		    UNION ALL
		    
			SELECT A.skp_sensor_name , 0 AS PM_VALUE1 , 0 AS PM_VALUE2 , VALUE AS PM_VALUE3
			FROM TBL_SKP_COLLECT_IOTSENSOR A
			WHERE 1=1
			AND type = 'PM10'
		    AND A.company_id = #{company_id}
		    AND A.time_observation = ( SELECT MAX( sci.time_observation ) FROM TBL_SKP_COLLECT_IOTSENSOR sci WHERE sci.company_id = #{company_id} AND sci.type = 'PM10' )
		    GROUP BY A.skp_sensor_id
		) X
		GROUP BY X.skp_sensor_name
	) T
	</select>
	
	<select id="selectDecibelThreshold" parameterType="EnvironmentVO" resultType="EnvironmentVO">
		SELECT 		A.skp_threshold_id
				, 	A.company_id
				, 	A.skp_sensor_id
				, 	A.skp_device_id
				, 	A.threshold_type
				, 	A.threshold
				, 	A.unit
				, 	A.use_yn
		FROM TBL_SKP_THRESHOLD A 
		WHERE threshold_type = '7'
		AND A.use_yn = 'Y'
	</select>
	
	<select id="selectVibrationThreshold" parameterType="EnvironmentVO" resultType="EnvironmentVO">
		SELECT 		A.skp_threshold_id
				, 	A.company_id
				, 	A.skp_sensor_id
				, 	A.skp_device_id
				, 	A.threshold_type
				, 	A.threshold
				, 	A.unit
				, 	A.use_yn
		FROM TBL_SKP_THRESHOLD A 
		WHERE threshold_type = '8'
		AND A.use_yn = 'Y'
	</select>
	
	<select id="selectMaxCollectTime" parameterType="EnvironmentVO" resultType="EnvironmentVO">
		SELECT DATE_FORMAT(MAX(X.time_observation), '%Y.%m.%d %H:%i') AS time_observation
		FROM(
			SELECT MAX(time_observation) AS time_observation
			FROM TBL_SKP_COLLECT_WEATHER A
			WHERE company_id = #{company_id}
			UNION ALL
			SELECT MAX(time_observation) AS time_observation
			FROM TBL_SKP_COLLECT_IOTSENSOR A
			WHERE company_id = #{company_id}
		) X
	</select>
	
	<select id="selectSkpIOTSensorList" parameterType="EnvironmentVO" resultType="EnvironmentVO">
		SELECT * 
		FROM TBL_SKP_COLLECT_IOTSENSOR A
		WHERE company_id = #{company_id}
		GROUP BY A.skp_sensor_id
	</select>
	
</mapper>