<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="like" >
	
	<insert id="insertLike" parameterType="LikeVO">
		INSERT INTO TB_LIKE (
				like_type,
				parent_id,
				member_email,
				member_name,
				company_id,
				regi_date
			)
			VALUES
			(
				#{like_type},
				#{parent_id},
				#{member_email},
				#{member_name},
				#{company_id},
				NOW()
			 )
	</insert>
	
	<delete id="deleteLike" parameterType="LikeVO">
		 DELETE FROM TB_LIKE 
		WHERE parent_id = #{parent_id}
		  AND like_type = #{like_type}
		  AND member_email = #{member_email}
	</delete>
</mapper>

