<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="menu" >
	<select id="selectMenuList" parameterType="MenuVO" resultType="MenuVO">
		SELECT *
		  FROM TBL_MENU
		  WHERE 1=1 
		  <if test="menu_WebType != null and menu_WebType != ''">
		  AND menu_WebType = #{menu_WebType}
		  </if>
	</select>
	
	<select id="selectSiteMenuList" parameterType="MenuVO" resultType="MenuVO">
		SELECT *
		  FROM TBL_SITE_MENU
		 WHERE company_id = #{company_id}
		   AND menu_type = #{menu_type}
		 ORDER BY menu_order
	</select>
	
	<select id="selectMenuListTotal" parameterType="MenuVO" resultType="Integer">
		SELECT COUNT(*)
		  FROM TBL_MENU
	</select>
	
	<delete id="deleteSiteMenu" parameterType="MenuVO">
		DELETE FROM TBL_SITE_MENU 
		 WHERE company_id = #{company_id}
	</delete>
	
	<delete id="insertSiteMenu" parameterType="MenuVO">
		INSERT INTO TBL_SITE_MENU
			( 
				company_id,
				menu_id,
				menu_type,
				menu_name,
				menu_name_eng,
				menu_name_app_1,
				menu_name_app_2,
				menu_name_app_eng_1,
				menu_name_app_eng_2,
				menu_order,
				reg_dt,
				reg_id,
				mod_dt,
				mod_id
			)
			VALUES
			(
				#{company_id},
				#{menu_id},
				#{menu_type},
				#{menu_name},
				#{menu_name_eng},
				#{menu_name_app_1},
				#{menu_name_app_2},
				#{menu_name_app_eng_1},
				#{menu_name_app_eng_2},
				#{menu_order},
			 	now(),
			 	#{account_id},
			 	now(),
			 	#{account_id}
			 )
	</delete>
	
	<update id="updateSiteMenuName" parameterType="MenuVO">
		UPDATE TBL_SITE_MENU
		   SET menu_name= #{menu_name},
			   menu_name_eng= #{menu_name_eng}
		 WHERE company_id= #{company_id}
		   AND menu_id= #{menu_id}
		   AND menu_type= #{menu_type}
	</update>
	
	<select id="selectSiteAccountMenuList" parameterType="MenuVO" resultType="MenuVO">
			SELECT	*
			FROM TBL_ACCOUNT_MENU
			WHERE company_id = #{company_id}
			AND account_id = #{account_id}
			AND menu_type = 'A'
			ORDER BY menu_order
	</select>
	
	<select id="selectSiteAppMenuUseYn" parameterType="MenuVO" resultType="MenuVO">
		SELECT   GROUP_CONCAT(if(menu_id = 8,  'Y', NULL)) AS menu_app_use_yn_1
			   , GROUP_CONCAT(if(menu_id = 9,  'Y', NULL)) AS menu_app_use_yn_2
			   , GROUP_CONCAT(if(menu_id = 10, 'Y', NULL)) AS menu_app_use_yn_3
			   , GROUP_CONCAT(if(menu_id = 11, 'Y', NULL)) AS menu_app_use_yn_4
			   , GROUP_CONCAT(if(menu_id = 12, 'Y', NULL)) AS menu_app_use_yn_5
		FROM TBL_SITE_MENU
		WHERE company_id = #{company_id}
		AND menu_type = #{menu_type}
	</select>
	
	<select id="selectAppMenuExcel" parameterType="MenuVO" resultType="MenuVO">
			SELECT      A.* 
				      , CASE WHEN (SELECT menu_app_use_yn_1 FROM TBL_APP_ACCOUNT_MENU C WHERE C.menu_app_id_1 = A.menu_id AND company_id = #{company_id} LIMIT 1 ) = 'Y' THEN 'menu_app_use_yn_1'
				            WHEN (SELECT menu_app_use_yn_2 FROM TBL_APP_ACCOUNT_MENU C WHERE C.menu_app_id_2 = A.menu_id AND company_id = #{company_id} LIMIT 1 ) = 'Y' THEN 'menu_app_use_yn_2'
				            WHEN (SELECT menu_app_use_yn_3 FROM TBL_APP_ACCOUNT_MENU C WHERE C.menu_app_id_3 = A.menu_id AND company_id = #{company_id} LIMIT 1 ) = 'Y' THEN 'menu_app_use_yn_3'
				            WHEN (SELECT menu_app_use_yn_4 FROM TBL_APP_ACCOUNT_MENU C WHERE C.menu_app_id_4 = A.menu_id AND company_id = #{company_id} LIMIT 1 ) = 'Y' THEN 'menu_app_use_yn_4'
				            WHEN (SELECT menu_app_use_yn_5 FROM TBL_APP_ACCOUNT_MENU C WHERE C.menu_app_id_5 = A.menu_id AND company_id = #{company_id} LIMIT 1 ) = 'Y' THEN 'menu_app_use_yn_5'
				            ELSE 'N'
				             END AS menu_app_name
			FROM TBL_SITE_MENU A 
			WHERE company_id = #{company_id}
			AND menu_type = 'A'
			ORDER BY menu_order
	</select>
</mapper>