<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="point" >
	
	<insert id="insertPoint" parameterType="PointVO">
		INSERT INTO TB_POINT (
				member_email,
				member_name,
				get_point,
				point_type,
				company_id,
				course_id,
				contents_id,
				regi_date
			)
			VALUES
			(
				#{member_email},
				#{member_name},
				#{get_point},
				#{point_type},
				#{company_id},
				#{course_id},
				#{contents_id},
				NOW()
			 )
	</insert>
	
	<delete id="deletePoint" parameterType="PointVO">
		 DELETE FROM TB_POINT 
			WHERE point_id = #{point_id}
	</delete>
	
	<select id="selectPointList" parameterType="PointVO" resultType="PointVO">
		SELECT *
		  FROM TB_POINT
		WHERE company_id = #{company_id}
		  AND member_email = #{member_email}
	</select>
	
	<select id="selectPointDetail" parameterType="PointVO" resultType="PointVO">
		SELECT *
		  FROM TB_POINT
		 WHERE point_id = #{point_id}
	</select>
	
	<select id="selectRankingList" parameterType="PointVO" resultType="PointVO">
		SELECT A.member_point, A.member_email, A.member_name, (SELECT member_profile FROM TB_MEMBER WHERE member_email = A.member_email LIMIT 1) AS member_profile
		  FROM (
			SELECT SUM(get_point) AS member_point, member_email, member_name
			  FROM TB_POINT
			 WHERE 1=1
			 <if test="company_id != null and company_id != ''">
			   AND company_id = #{company_id}
			 </if>
			 <if test="course_id != null and course_id != ''">
			   AND course_id = #{course_id}
			 </if>
			 GROUP BY member_email, member_name
			 ORDER BY get_point DESC
			 ) A
		WHERE 1=1
		<if test="site_cutline != null and site_cutline != ''">
		<![CDATA[
		   AND A.member_point >= #{site_cutline}
		]]>
		</if>
		<if test="min_site_cutline != null and min_site_cutline != ''">
		<![CDATA[
		   AND A.member_point < #{min_site_cutline}
		]]>
		</if>
	</select>
</mapper>

