<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="property" >
	<insert id="insertProperty" parameterType="PropertyVO" useGeneratedKeys="true" keyProperty="property_id">
		INSERT INTO TB_PROPERTY (
				property_name,
				company_id,
				regi_date,
				updt_date
			)
			VALUES
			(
				#{property_name},
				#{company_id},
				NOW(),
				NOW()
			 )
	</insert>
	
	<select id="selectPropertyList" parameterType="PropertyVO" resultType="PropertyVO">
		SELECT *
		  FROM TB_PROPERTY
		 WHERE 1=1
		 <if test="searchText != null and searchText != ''">
		   AND property_name LIKE CONCAT('%',#{searchText},'%'))
		 </if>
		   AND company_id = #{company_id}
		 ORDER BY property_id DESC
	</select>
	
	<select id="checkProperty" parameterType="PropertyVO" resultType="PropertyVO">
		SELECT *
		  FROM TB_PROPERTY
		 WHERE property_id = #{property_id}
	</select>
	
	<update id="updateProperty" parameterType="PropertyVO">
		UPDATE TB_PROPERTY
		   SET property_name = #{property_name}
		     , updt_date = NOW()
		 WHERE property_id = #{property_id}
	</update>	
	
	<delete id="deleteProperty" parameterType="PropertyVO">
		DELETE FROM TB_PROPERTY
		 WHERE property_id = #{property_id}
	</delete>
	
	
</mapper>