<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="sms" >
	
	<insert id="insertSms" parameterType="SmsVO" useGeneratedKeys="true" keyProperty="fsequence">
		INSERT INTO TBLMESSAGE
			( 
				fuserid,
				fsenddate,
				fdestine,
				fcallback,
				ftext
			)
			VALUES
			(
				#{fuserid},
				NOW(),
				#{fdestine},
				#{fcallback},
				#{ftext}
			 )
	</insert>
	
	<select id="selectSMSLog" parameterType="SmsVO" resultType="SmsVO">
		SELECT * 
		FROM TMSGLOG
		WHERE fsequence = #{fsequence}
		<if test="fuserid != null and fuserid != ''">
		AND fuserid = #{fuserid}
		</if>
	</select>
	
</mapper>