<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="sticker" >
	
	<insert id="insertSticker" parameterType="StickerVO">
		INSERT INTO TB_STICKER (
				sticker_group_id,
				sticker_name,
				sticker_condition,
				sticker_image,
				sticker_mileage,
				updt_date,
				reg_date
			)
			VALUES
			(
				#{sticker_group_id},
				#{sticker_name},
				#{sticker_condition},
				#{sticker_image},
				#{sticker_mileage},
				NOW(),
				NOW()
			 )
	</insert>
	
	<select id="selectStickerList" parameterType="StickerVO" resultType="StickerVO">
		SELECT sticker_group_id
			 , COUNT(sticker_group_id) AS sticker_count
		  FROM TB_STICKER
		 GROUP BY sticker_group_id
	</select>
	
	<select id="selectStickerDetailList" parameterType="StickerVO" resultType="StickerVO">
		SELECT *
		  FROM TB_STICKER
	</select>
	
	<select id="selectStickerDetail" parameterType="StickerVO" resultType="StickerVO">
		SELECT *
		  FROM TB_STICKER
		 WHERE sticker_id = #{sticker_id}
	</select>
	
	<update id="updateSticker" parameterType="StickerVO">
		UPDATE TB_STICKER
		   SET sticker_name = #{sticker_name},
				sticker_condition = #{sticker_condition},
				sticker_image = #{sticker_image},
				sticker_mileage = #{sticker_mileage},
				updt_date = NOW(),
				reg_date = NOW()
		 WHERE sticker_id = #{sticker_id}
	</update>
	
	<delete id="deleteSticker" parameterType="StickerVO">
		DELETE FROM TB_STICKER
		 WHERE sticker_id = #{sticker_id}
	</delete>
	
	
</mapper>