<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="survey" >
	
	<insert id="insertSurvey" parameterType="SurveyVO">
		INSERT INTO TB_SURVEY (
				survey_title,
				survey_type,
				survey_description,
				updt_date,
				reg_date
			)
			VALUES
			(
				#{survey_title},
				#{survey_type},
				#{survey_description},
				NOW(),
				NOW()
			 )
		<selectKey keyProperty="survey_id" resultType="String">
	        SELECT LAST_INSERT_ID()
	    </selectKey>
	</insert>
	
	<insert id="insertSurveyForm" parameterType="SurveyFormVO">
		INSERT INTO TB_SURVEY_FORM (
				survey_id,
				survey_form_no,
				survey_form_question,
				survey_form_type,
				survey_form_description,
				survey_form_placeholder
			)
			VALUES
			(
				#{survey_id},
				#{survey_form_no},
				#{survey_form_question},
				#{survey_form_type},
				#{survey_form_description},
				#{survey_form_placeholder}
			 )
		<selectKey keyProperty="survey_form_id" resultType="String">
	        SELECT LAST_INSERT_ID()
	    </selectKey>
	</insert>
	
	<update id="updateSurveyForm" parameterType="SurveyFormVO">
		UPDATE TB_SURVEY_FORM 
		   SET survey_form_question = #{survey_form_question},
			   survey_form_description = #{survey_form_description},
			   survey_form_placeholder = #{survey_form_placeholder}
		 WHERE survey_form_id = #{survey_form_id}
	</update>
	
	<insert id="insertSurveyFormItem" parameterType="SurveyItemVO">
		INSERT INTO TB_SURVEY_FORM_ITEM (
				survey_id,
				survey_form_id,
				survey_item_no,
				survey_item_title,
				survey_item_type,
				survey_item_score
			)
			VALUES
			(
				#{survey_id},
				#{survey_form_id},
				#{survey_item_no},
				#{survey_item_title},
				#{survey_item_type},
				#{survey_item_score}
			 )
		<selectKey keyProperty="survey_form_item_id" resultType="String">
	        SELECT LAST_INSERT_ID()
	    </selectKey>
	</insert>
	
	<update id="updateSurveyFormItem" parameterType="SurveyFormVO">
		UPDATE TB_SURVEY_FORM_ITEM 
		   SET survey_item_title = #{survey_item_title},
			   survey_item_score = #{survey_item_score}
		 WHERE survey_form_item_id = #{survey_form_item_id}
	</update>
	
	
	<update id="updateSurvey" parameterType="SurveyVO">
		 UPDATE TB_SURVEY
		    SET survey_title = #{survey_title}
		       , survey_type = #{survey_type}
		       , survey_description = #{survey_description}
		   	   , updt_date = NOW()
		 WHERE survey_id = #{survey_id}
	</update>
	
	<delete id="deleteSurvey" parameterType="SurveyVO">
		 DELETE FROM TB_SURVEY 
		WHERE survey_id = #{survey_id}
	</delete>
	
	<select id="selectSurveyList" parameterType="SurveyVO" resultType="SurveyVO">
		SELECT *
		  FROM TB_SURVEY
		 ORDER BY survey_id DESC
	</select>
	
	<select id="selectSurveyFormList" parameterType="SurveyFormVO" resultType="SurveyFormVO">
		SELECT *
		  FROM TB_SURVEY_FORM
		 WHERE survey_id = #{survey_id}
		 ORDER BY CAST(survey_form_no AS SIGNED) ASC
	</select>
	
	<select id="selectSurveyItemList" parameterType="SurveyItemVO" resultType="SurveyItemVO">
		SELECT *
		  FROM TB_SURVEY_FORM_ITEM
		 where survey_id = #{survey_id}
		   and survey_form_id = #{survey_form_id}
		 ORDER BY CAST(survey_form_id AS SIGNED), CAST(survey_item_no AS SIGNED) ASC
	</select>
	
	
	<select id="selectSurveyDetail" parameterType="SurveyVO" resultType="SurveyVO">
		SELECT *
		  FROM TB_SURVEY
		 WHERE survey_id = #{survey_id}
	</select>
	
	<select id="selectSurveyScoreGroupList" parameterType="SurveyVO" resultType="SurveyScoreGroupVO">
		SELECT *
		  FROM TB_SURVEY_SCORE_GROUP
		 WHERE survey_id = #{survey_id}
	</select>
	
	<select id="selectSurveyScoreList" parameterType="SurveyVO" resultType="SurveyScoreVO">
		SELECT *
		  FROM TB_SURVEY_SCORE
		 WHERE survey_score_group_id = #{survey_score_group_id}
	</select>
	
	<insert id="insertSurveyScoreGroup" parameterType="SurveyScoreGroupVO">
		INSERT INTO TB_SURVEY_SCORE_GROUP (
				survey_id,
				survey_score_type,
				survey_score_standard,
				survey_score_graph,
				survey_score_group_name
			)
			VALUES
			(
				#{survey_id},
				#{survey_score_type},
				#{survey_score_standard},
				#{survey_score_graph},
				#{survey_score_group_name}
			 )
		<selectKey keyProperty="survey_score_group_id" resultType="String">
	        SELECT LAST_INSERT_ID()
	    </selectKey>
	</insert>
	
	<insert id="insertSurveyScore" parameterType="SurveyScoreVO">
		INSERT INTO TB_SURVEY_SCORE (
				survey_id,
				survey_score_group_id,
				survey_score_type,
				survey_score_mag,
				survey_score_form_id,
				survey_score_standard,
				survey_score_form_text
			)
			VALUES
			(
				#{survey_id},
				#{survey_score_group_id},
				#{survey_score_type},
				#{survey_score_mag},
				#{survey_score_form_id},
				#{survey_score_standard},
				#{survey_score_form_text}
			 )
		<selectKey keyProperty="survey_score_id" resultType="String">
	        SELECT LAST_INSERT_ID()
	    </selectKey>
	</insert>
	
	<delete id="deleteSurveyScoreGroup" parameterType="SurveyScoreGroupVO">
		DELETE FROM TB_SURVEY_SCORE_GROUP 
		WHERE survey_id = #{survey_id}
	</delete>
	
	<delete id="deleteSurveyScore" parameterType="SurveyScoreGroupVO">
		DELETE FROM TB_SURVEY_SCORE
		WHERE survey_id = #{survey_id}
	</delete>
	
</mapper>

