<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="swVersion" >
	<select id="selectSwVersionLast" parameterType="SwVersionVO" resultType="SwVersionVO">
		SELECT * FROM TBL_SW_VERSION
		ORDER BY version_name DESC
		LIMIT 1
	</select>
	
</mapper>